<%args>
    $ii
    $form => '/forms/base.js'
    $topic_mid
    $title
    $description
    $comments
    $category
    $category_color
    $created_by
    $created_on
    $priority
    $deadline
    $status
    $events
    $files
    $topics
    $projects
    $labels
    $users
</%args>
<script language="JavaScript">
    function returnOpposite(hexcolor) {
        var r = parseInt(hexcolor.substr(0,2),16);
        var g = parseInt(hexcolor.substr(2,2),16);
        var b = parseInt(hexcolor.substr(4,2),16);
        var yiq = ((r*299)+(g*587)+(b*114))/1000;
        return (yiq >= 128) ? '000000' : 'FFFFFF';
    }    
</script>
<div id="boot" class="container_24" style="margin: 10px 10px 10px 10px">
    <div class="grid_24">

% my $id = _nowstamp;

%if($c->stash->{show_labels}){
% if( _array( $labels ) ) {        
        <div style="margin-bottom:25px;">
% foreach my $label ( _array( $labels ) ) {
            <div id='<%$id . '_' . $label->{name} %>'></div>
            <script language="javascript">
                var label_color = '<% $label->{color} %>';
                var label_name = '<% $label->{name} %>'
                var div_name = '<%$id . '_' . $label->{name} %>'
                var div_label = document.getElementById(div_name);
                div_label.innerHTML = "<span class='label' style='font-size: 9px; float:left;padding:1px 4px 1px 4px;margin-right:4px;color:#" + returnOpposite(label_color) + ";background-color:#" + label_color + "'>" + label_name + "</span>";
            </script>
        
% }
        </div>
% }
% }
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
%if($c->stash->{show_category}){                
                <th width="1" style="vertical-align: middle">
                    <span class="badge" style="background: <% $category_color %>"><% $category %> #<% $topic_mid %></span>
                </th>
%}                
%if($c->stash->{show_title}){
                <th>
                    <h3><% $title %></h3>
                </th>
%}
              </tr>
%if($c->stash->{show_status}){
              <tr>
                <th><% _loc('Status') %>:</th>
                <td><% $status || '&nbsp;' %></td>
              </tr>
%}
              <tr>
                <th><% _loc('Created By') %>:</th>
                <td><% $created_by || '&nbsp;' %></td>
              </tr>
              <tr>
                <th><% _loc('Created On') %>:</th>
                <td><% $created_on ? $created_on->dmy . ' ' . $created_on->hms : '&nbsp;' %></td>
              </tr>
%if($c->stash->{show_priority}){
              <tr>
                <th><% _loc('Priority') %>:</th>
                <td><% $priority || '&nbsp;' %></td>
              </tr>
              <tr>
                <th><% _loc('Deadline') %>:</th>
                <td><% $deadline ? $deadline->dmy . ' ' . $deadline->hms : '&nbsp;' %></td>
              </tr>
%}
%if($c->stash->{show_description}){
              <tr>
                <th colspan="2"><% _loc('Description') %>:</th>
              </tr>
              <tr>
                <td colspan="2"><% $description || '&nbsp;' %></td>
              </tr>
%}              
              <tr>
                <td colspan="2">
%if($c->stash->{show_projects}){                    
% if( _array( $projects ) ) {
                    <ul class="nav nav-list">
                      <li class="nav-header">
                        <% _loc("Projects") %>
                      </li>
                    </ul>
                    <ul class="" style="margin-left: 20px">
                      <li class="">
% foreach my $project ( _array( $projects ) ) {
                      <li style="margin: 6px 0px 6px 0px">
                          <% $project->{name} %>
                      </li>
% }
                    </ul>
% }
% }

%if($c->stash->{show_assign_to}){                    
% if( _array( $users ) ) {
                    <ul class="nav nav-list">
                      <li class="nav-header">
                        <% _loc("Assign to") %>
                      </li>
                    </ul>
                    <ul class="" style="margin-left: 20px">
                      <li class="">
% foreach my $user ( _array( $users ) ) {
                      <li style="margin: 6px 0px 6px 0px">
                          <% $user->{username} %> - <% $user->{realname} %>
                      </li>
% }
                    </ul>
% }
% }


%if($c->stash->{show_topics}){                    
% if( _array( $topics ) ) {
                    <ul class="nav nav-list">
                      <li class="nav-header">
                        <% _loc("Topics") %>
                      </li>
                    </ul>
                    <ul class="" style="margin-left: 20px">
                      <li class="">
% foreach my $topic ( _array( $topics ) ) {
                      <li style="margin: 6px 0px 6px 0px">
                          <span class="badge" onclick="javascript:Baseliner.show_topic(<% $topic->{mid} %>, '<% $topic->{name} %>')" 
                            style="float:left;padding:2px 8px 2px 8px;cursor:pointer;background: <% $topic->{color} %>"><% $topic->{name} %></span>
                            &nbsp;&nbsp;<b><% $topic->{title} %></b>
                      </li>
% }
                    </ul>
% }
% }


%if($c->stash->{show_files}){                    
% if( _array( $files ) ) {
                    <ul class="nav nav-list">
                      <li class="nav-header">
                        <% _loc("Files") %>
                      </li>
                    </ul>
                    <ul class="" style="margin-left: 20px">
                      <li class="">
% foreach my $file ( _array( $files ) ) {
%   my $fii = $ii . '_' . $file->{md5};
%   my $target = $file->{extension} =~ /pdf|htm|html|txt|properties/i ? '_blank' : 'FrameDownload';  # download or try to show on next tab?
%   my ($size,$units) = Baseliner::Utils::_size_unit( $file->{filesize} );
                      <li id="<% $fii %>">
                        <i class="icon-file"></i> 
                        <a href="/topic/download_file/<% $file->{md5} %>/<% $file->{filename} %>" target="<% $target %>">
                          <% Baseliner::Utils::_html_escape( $file->{filename} ) %>
                        </a> (<% $size %> <% $units %>) version <% $file->{versionid} %>
                      </li>
% }
                    </ul>
% }
                    <p>
%#                    <div id="uploader_<% $ii %>"></div>
                    </p>

%}                
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="clear"></div>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#comments<% $ii %>" data-toggle="tab"><% _loc('Comments') %></a>
      </li>
      <li><a href="#activity<% $ii %>" data-toggle="tab"><% _loc('Activity') %></a></li>
    </ul>

    <div class="grid_24">
        <div class="tab-content">
          <div class="tab-pane active" id="comments<% $ii %>">

% foreach my $com ( _array( $comments) ){
%      my $id_div_com =  "comment_$com->{id}_$ii";
            <div style="margin-left: 20px" id="<% $id_div_com %>">  <!-- class 'well' -->
%      if( $com->{content_type} eq 'code' )  {
                <p><pre id="<% $id_div_com . '_ta' %>"><% $com->{text} %></pre></p>

%#   codemirror does not work well under boot, needs a css reset before
%#                <script>setTimeout( function(){CodeMirror.fromTextArea( document.getElementById("<% $id_div_com . '_ta' %>",
%#                    {lineNumbers: true, tabMode: "indent", smartIndent: true, matchBrackets: true}) );}, 2000)</script>

%      } else {
                <p><% $com->{text} %></p>
%      } 
                <p><small><img style="margin: 0px 5px 2px 0px" width=16 src="/user/avatar/<% $com->{created_by} %>/image.png" />
                    <b><%$com->{created_by}%></b>, <%$com->{created_on}->dmy%> <%$com->{created_on}->hms%>
%    if( $c->username eq $com->{created_by} ) {
                    | <a href="javascript:Baseliner.Topic.comment_edit( undefined, <% $com->{id} %>)"><% _loc("edit") %></a>
                    | <a href="javascript:Baseliner.Topic.comment_delete(<% $com->{id} %>, '<% $id_div_com %>')"><% _loc("delete") %></a>
%    }
                </small></p>
                <hr />
            </div>
%}
          </div>  <!-- comment tab -->

          <div class="tab-pane" id="activity<% $ii %>">
%  foreach ( _array( $events ) ) {
            <div style="margin-left: 20px">
             <p><img style="margin: 5px" width=16 src="/user/avatar/<% $_->{username} %>/image.png" /><% $_->{text} %></p>
             <hr />
            </div> 
%}
          </div> <!-- activity tab -->
      </div> <!-- tab content -->
  </div> <!-- lower grid -->
</div> <!-- boot container -->
