<%args>
    $ii
    $topic_mid
    $topic_meta
    $topic_data
    $jobs => 0
    $has_comments
    $HTMLbuttons => 0
    $permissionEdit => 0
    $permissionDelete => 0
    $permissionComment => 0
</%args>
<%perl>
    use Baseliner::Utils;
    my @tabactive = $has_comments ? ( 1,0 ) : ( 0,1);
</%perl>
<style>
.badge-rel {
    padding: 15px;    
    width: 400px;
    background: black;
    margin: 50px auto;
}
.badge-rel-inner {
padding: 0px 20px 0px 20px;
    background: white;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;

-moz-border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 10px;
-moz-border-bottom-right-radius: 10px;
}


.arrow_box {
font-size: 10.998px;
text-transform: uppercase;
font-weight: bold;
line-height: 14px;
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
white-space: nowrap;
vertical-align: baseline;
padding: 2px 4px 2px 7px;

    position: relative;
    background: #222;
    border: 2px solid #c2e1f5;
}
.xarrow_box:after, .xarrow_box:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-left-color: #222;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.arrow_box:before {
    border-left-color: #c2e1f5;
    border-width: 13px;
    top: 50%;
    margin-top: -13px;
}

</style>
% my @form = grep { $_->{fields} } _array( $topic_meta );
% my @head = sort { $a->{field_order_html} <=> $b->{field_order_html} } grep { $_->{section} && $_->{section} eq 'head' } _array( $topic_meta );
% my @details = sort { $a->{field_order} <=> $b->{field_order} } grep { $_->{section} && $_->{section} eq 'details' } _array( $topic_meta );
% my @between = sort { $a->{field_order} <=> $b->{field_order} } grep { $_->{section} && $_->{section} eq 'between' } _array( $topic_meta );
% my @body = sort { $a->{field_order} <=> $b->{field_order} } grep { $_->{section} && $_->{section} eq 'body' } _array( $topic_meta ) ;
% if (@form) {
<div id="boot" >
% foreach my $field (  @form ) {
% if ($field->{html}){
    <& $field->{html}, data=>$topic_data, meta=>$field, html_buttons=>$HTMLbuttons, show_buttons=>$permissionEdit, show_comments=>$permissionComment &>
%}
% }
% }else {
<div id="boot">
        <table width="100%">
        <tr>
        <td width="60%">
        <!-- div class="span7" style="xwidth: 60%" -->
            <table style="width: 100%">
                <tbody>
% foreach my $field ( @head ) {
% if ($field->{html}){
    <!-- <% $field->{html} %> -->
    <& $field->{html}, data=>$topic_data, meta=>$field &>
%}
% }
                </tbody>
            </table>
        <!-- /div -->
        </td>

<!-- ******** right box ********** -->
        <td width="40%" style="padding-left: 15px">
            <table style="width: 100%" class="table table-bordered table-condensed">
                <tbody>
% foreach my $field ( @body ) {
% if ($field->{html}){
    <!-- <% $field->{html} %> -->
    <& $field->{html}, data=>$topic_data, meta=>$field &>
%}    
% }

% if( @between ) {
                    <tr>
                        <td colspan=2 >
% foreach my $field ( @between ) {
% if ($field->{html}){
    <!-- <% $field->{html} %> -->
    <& $field->{html}, data=>$topic_data, meta=>$field &>
%}
% }                                 
                            
                        </td>
                    </tr>
% } 

% if( @details ) {
%    my $did = int rand 999999;
                    <tr>
                        <td colspan=2 id="<% $did %>" style="white-space: nowrap; display: none">
% foreach my $field ( @details ) {
% if ($field->{html}){
    <!-- <% $field->{html} %> -->
    <& $field->{html}, data=>$topic_data, meta=>$field &>
%}
% }                                 
                        </td>
                    </tr>
        <script>
            var dtd = Ext.fly( '<% $did %>' );
            if( dtd.dom.innerHTML.trim().length > 0 ) dtd.show();
            $('.bali-topic-editor-image').click(function(){
            var imagen = $(this);
            var src = $(this).attr('src');
            var captura = new Baseliner.Window({ width: imagen.width()+25, height: imagen.height()+35,
                closable: true, autoScroll: true, layout:'fit', html: "<img src="+src+"/>" });
            if (imagen.width()>800) { captura.show(); }
            });
        </script>
% }
                </tbody>
            </table>
        </td>
        </tr>
        </table>
%}

<div class="clear"></div>
    <br><br>
    <ul class="nav nav-tabs" id="nav-tabs-<% $ii %>">
        <li <% $tabactive[0] and 'class="active"' %> <%  $permissionComment? '' : ' style="display: none" ' %>>
            <a href="#comments<% $ii %>" id="tab-comments<% $ii %>" data-toggle="tab"><% _loc('Discussion') %></a>
        </li>
        <li <% $tabactive[1] and 'class="active"' %>>
            <a href="#activity<% $ii %>" id="tab-activity<% $ii %>" data-toggle="tab"><% _loc('Activity') %></a>
        </li>
        <li <% $jobs or 'style="display: none"' %>>
            <a href="#jobs<% $ii %>" id="tab-jobs<% $ii %>" data-toggle="tab"><% _loc('Jobs') %></a>
        </li>
<!--         <li <% $tabactive[3] and 'class="active"' %>>
            <a href="#timeline<% $ii %>" id="tab-timeline<% $ii %>" data-toggle="tab"><% _loc('Timeline') %></a>
        </li>
 -->    </ul>

    <div class="grid_24">
        <div class="tab-content">
            <div class="tab-pane <% $tabactive[0] and 'active' %>" id="comments<% $ii %>">
                <div id="topic-comments<% $ii %>"><img src="/static/images/loading-fast.gif" style="padding-left: 5px" /></div>
            </div>  <!-- comments tab -->

            <div class="tab-pane <% $tabactive[1] and 'active' %>" id="activity<% $ii %>">
                <div id="topic-activity<% $ii %>"><img src="/static/images/loading-fast.gif" style="padding-left: 5px" /></div>
            </div> <!-- activity tab -->

            <div class="tab-pane <% $tabactive[2] and 'active' %>" id="jobs<% $ii %>">
                <div id="topic-jobs<% $ii %>"><img src="/static/images/loading-fast.gif" style="padding-left: 5px" /></div>
            </div> <!-- jobs tab -->

            <div class="tab-pane <% $tabactive[3] and 'active' %>" id="timeline<% $ii %>">
                <div id="topic-timeline<% $ii %>" style="border: 1px solid #aaa"></div>
            </div> <!-- timeline tab -->

            <script>
                    Baseliner.build_topic_tabs = function(topic_mid, ii, target_id){
                        if( target_id == "tab-timeline"+ii && topic_mid != '' ) {
                            Baseliner.timeline({ 
                                mid: topic_mid,
                                render_to: "topic-timeline"+ii,
                                parent_id: ii
                            });
                        } else if( target_id == "tab-comments"+ii && topic_mid != '' ) {
                            Baseliner.comments_for_topic({ 
                                mid: topic_mid,
                                render_to: "topic-comments"+ii,
                                parent_id: ii
                            });
                        } else if( target_id == "tab-activity"+ii && topic_mid != '' ) {
                            Baseliner.activity_for_topic({ 
                                mid: topic_mid,
                                render_to: "topic-activity"+ii,
                                parent_id: ii
                            });
                        } else if( target_id == "tab-jobs"+ii && topic_mid != '' ) {
                            Baseliner.jobs_for_topic({ 
                                mid: topic_mid,
                                render_to: "topic-jobs"+ii,
                                parent_id: ii
                            });
                        } // if tab
                    };
                    //$("#timeline<% $ii %> a").click(function(){
                    var curr_tab = <% $tabactive[0] ? 'true' : 'false' %> ? 'comments' : 'activity';
                    Baseliner.build_topic_tabs('<% $topic_mid %>', '<% $ii %>', 'tab-'+curr_tab+'<% $ii %>' );
                    $('#nav-tabs-<% $ii %> a[data-toggle="tab"]').on('shown', function (ev) {
                        Baseliner.build_topic_tabs('<% $topic_mid %>', '<% $ii %>', ev.target.id );
                    }); // on shown
            </script>
        </div> <!-- tab content -->
    </div> <!-- lower grid -->
</div> <!-- boot container -->
