<%args>
    $form => '/forms/base.js'
    $id
    $title
    $description
    $comments
    $category
    $category_color
</%args>
<%perl>
    my $ii = int rand(999999999999999);
</%perl>
<div id="boot" class="container_24" style="margin: 10px 10px 10px 10px">
    <div class="grid_24"> 
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <th width="1" style="vertical-align: middle">
                    <span class="badge" style="background: <% $category_color %>"><% $category %> #<% $id %></span>
                </th>
                <th>
                    <h3><% $title %></h3>
                </th>
              </tr>
              <tr>
                <th colspan="2"><% _loc('Description') %>:</th>
              </tr>
              <tr>
                <td colspan="2"><% $description || '&nbsp;' %></td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="clear"></div>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#comments<% $ii %>" data-toggle="tab"><% _loc('Comments') %></a>
      </li>
      <li><a href="#activity<% $ii %>" data-toggle="tab"><% _loc('Activity') %></a></li>
    </ul>

    <div class="grid_24">
<div class="tab-content">
  <div class="tab-pane active" id="comments<% $ii %>">
%   foreach my $comentario ( _array( $comments) ){
            <div style="margin-left: 20px">  <!-- class 'well' -->
                <p><% $comentario->{text} %></p>
                <p><small>Creada por <%$comentario->{created_by}%>, <%$comentario->{created_on}->dmy%> <%$comentario->{created_on}->hms%></small></p>
                <hr />
            </div>
%}
  </div>
  <div class="tab-pane" id="activity<% $ii %>">
%  foreach ( 1..20 ){
       <div style="margin-left: 20px">
            <p><% $_ %>
            <small>Creada por <% $_ %>, <% $_ %> <% $_ %></small>
            </p>
            <hr />
       </div>
%}
  </div>
</div>

    </div> 
</div> 
