<%args>
	$subject 
	$message
	$project
	$subproject
	$nature
	$qualification
	$status
	$result
	$indicators
	$bl
	$username
	$url
	$to
</%args>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Accion</title>
	<& /email/style.css &>
</head>

<style>
body {
	font-family: arial;
	font-size: 10pt;
}
.backGroundPrimeraFila {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #CCCCCC;
	background-color: #666666;
	vertical-align: middle;
}
.backGroundFilaDatos {
	font-family: Verdana;
	font-size: 8pt;
	color: #111111;
	background-color: #ffffff;
	vertical-align: top;
}
</style>
<body> 
<div id="tablaContenedor_div">
<TABLE cellpadding="0" cellspacing="0" width="100%">
	<TR height="20">
		<TD class="backGroundPrimeraFila" nowrap="nowrap" height="14">
			&nbsp;SCM/SQA
		</TD>
	</TR>
</TABLE>
</div>

<table border=0 cellspacing=2>

	<tr>
		<td>
			<h3><% $message %></h3>
		</td>
	</tr>
</table>

<table border=1 cellspacing=1 cellpadding="2">

	<tr>
		<td class="backGroundPrimeraFila">Entorno</td>
		<td class="backGroundPrimeraFila">Proyecto</td>
		<td class="backGroundPrimeraFila">Subaplicaci&oacute;n</td>
		<td class="backGroundPrimeraFila">Naturaleza</td>
		<td class="backGroundPrimeraFila">Indicadores</td>
		<td class="backGroundPrimeraFila">Indicador global</td>
		<td class="backGroundPrimeraFila">P.Control</td>
	</tr>
% my $literalesControl = {OK=>'S&iacute; cumple', FAILURE=>'No cumple'};
% my $literalesBl = {DESA=>'Desarrollo', TEST=>'Pruebas', ANTE=>'Preproducci&oacute;n', PROD=>'Producci&oacute;n'};
	<tr class="backGroundFilaDatos">
		<td class="backGroundFilaDatos"><% $literalesBl->{ $bl } %></td>
		<td class="backGroundFilaDatos"><% $project %></td>
		<td class="backGroundFilaDatos"><% $subproject %></td>
		<td class="backGroundFilaDatos"><% $nature %></td>
		<td class="backGroundFilaDatos"><% $indicators %></td>
		<td class="backGroundFilaDatos"><% $qualification %></td>
		<td class="backGroundFilaDatos"><% $literalesControl->{ $status } %></td>
	</tr>

</table>


<p>
<A HREF="<% $url %>/raw/sqa/grid" TARGET=_blank>Consulte el portal de calidad aqu&iacute;</A>.
</p>
<p>
% if ( $ENV{BASELINER_DEBUG} ) {
Enviado a: <% join ",",@$to %>
%}

</p>
</body>


