<%args>
    $topics
    $title_font_size => '11px'
</%args>
<%perl>
    my @topics = mdb->topic->find({mid=>mdb->in(_array $topics)})->fields({mid=>1,name=>1,category=>1,title=>1})->all;
</%perl>
% for my $topic (@topics){
% my $topic_id = "$topic->{mid}-".int(rand(100));
<p id="topic<% $topic_id %>"></p>
<script>
    var name = Baseliner.topic_name({ 
        link: true,
        mid: '<%$topic->{mid}%>', 
        size: '<% $title_font_size %>',
        category_name: '<% "$topic->{category}{name}" %>',
        category_color: '<% "$topic->{category}{color}" %>',
        short_name: true,
    });
    var elem = document.getElementById('topic<% $topic_id %>');
    elem.innerHTML = name;
    elem.title = '<% $topic->{title} %>';
</script>
% }

