<%args>
    $items => []
    $jobname
    $jobid
    $subject
    $requested_by
    $realname => ''
    $requested_to => []
    $reason => '(vacio)'
    $url_log
    $to
</%args>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Acci&oacute;n</title>
	<& /email/style.css &>
</head>
<style>
body {
    font-family: arial;
    font-size: 10pt;
    }
.backGroundPrimeraFila {
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #CCCCCC;
    background-color: #666666;
    vertical-align: middle;
    }
.backGroundFilaDatos {
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    background-color: #ffffff;
    vertical-align: top;
    }
</style>
<body>
    <div id="tablaContenedor_div">
        <TABLE cellpadding="0" cellspacing="0" width="100%">
            <TR height="20">
                <TD class="backGroundPrimeraFila" nowrap="nowrap" height="14">&nbsp;SCM/CHANGEMAN</TD>
            </TR>
        </TABLE>
    </div>

    <table border=0 cellspacing=2>
        <tr>
            <td> <h3><% $subject %></h3> </td>
        </tr>
    </table>

    <table border=1 cellspacing=1 cellpadding="2">
        <tr class="backGroundFilaDatos">
            <td class="backGroundFilaDatos">El pase <b><% $jobname %></b> solicitado por el usuario <b><% $requested_by %> (<% $realname %>)</b> formado por los paquetes Changeman:<br>
            <ul> <li><% join '<li>', @{ $items } %> </ul>
            <b><% $reason %></b>
            </td>
        </tr>
    </table>

    <table border=0 cellspacing=6 width=80%>
    <tr class="backGroundFilaLinks">
        <td colspan=2 class="backGroundFilaLinks">
            <br>
            <hr>
            <p>Puede consultar el log haciendo clic en el siguiente enlace:
            <br>
        </td>
    </tr> <tr>
        <td style="text-align:left; width:17%; background-color:#81bef7"><a style="text-align:left;" href="<% $url_log %>"><b>Consultar Log</b></a></td>
        <td style='text-align:left; width:60%;' >
% if ($ENV{BASELINER_DEBUG} ) {
<% $url_log %>
%}
        </td>
    </tr>
    </table>

    <p>
% if ( $ENV{BASELINER_DEBUG} ) {
Enviado a: <% join ",",@$to %>
%}
    </p>
</body>

