<%args>
  $mail_data
  $to
  $url
  $cams
  $message
</%args>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8898-15" />
    <title>Accion</title>
	<& /email/style.css &>
</head>

<style>
body {
	font-family: arial;
	font-size: 10pt;
	overflow: auto;
}
.imgRight {
    vertical-align: middle;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
.backGroundPrimeraFila {
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	color: #CCCCCC;
	background-color: #666666;
	vertical-align: middle;
}
.backGroundFilaDatos {
	font-family: arial;
	font-size: 10pt;
	color: #111111;
	background-color: #ffffff;
	vertical-align: top;
}
</style>
<body> 
<div id="tablaContenedor_div">
    <TABLE border=0 cellpadding="0" cellspacing="0" width="100%">
        <TR style="height:54px">
            <TD class="imgRight" ><img src="<% $url %>/static/images/filigrana.png" /></TD>
        </TR>
        <TR height="20">
            <TD class="backGroundPrimeraFila" nowrap="nowrap" height="14">&nbsp;SCM/Baseliner</TD>
        </TR>
    </TABLE>
</div>
<table border=0 cellspacing=2>
	<tr>
		<td colspan=2>
			<h3><% $message %></h3>
		</td>
	</tr> <br> <tr>
		<td width=45px><b>Usuario J.U. Informado :</b></td><td><% join ",",@$to %></td>
	</tr> <tr>
		<td width=45px><b>Lista de CAMS:</b></td><td><% $cams %></td>
	</tr> <tr>
        <td style="text-align:left; width:45px"><a style="text-align:left;" href="<% $url %>/raw/job/monitor"><b>Consultar Monitor</b></a></td>
        <td style='text-align:left; width:60%;' >
% if ($ENV{BASELINER_DEBUG} ) {
<% $url %>/raw/job/monitor
%}
        </td>
    </tr> <br>
</table>
<br>

<table border=1 cellspacing=1 cellpadding="2" width=100%>
	<tr>
        <td class="backGroundPrimeraFila">C&oacute;digo de Pase</td>
        <td class="backGroundPrimeraFila">CAM</td>
        <td class="backGroundPrimeraFila">Estado</td>
        <td class="backGroundPrimeraFila">Entorno</td>
        <td nowrap class="backGroundPrimeraFila">Nodo (Nº Reinicios)</td>
        <td class="backGroundPrimeraFila">Tipolog&iacute;a</td>
        <td class="backGroundPrimeraFila">Urgencia</td>
        <td class="backGroundPrimeraFila">Usuario</td>
        <td class="backGroundPrimeraFila">Desde</td>
        <td class="backGroundPrimeraFila">Hasta</td>
        <td class="backGroundPrimeraFila">Paquete / Motivo</td>
        <!-- <td class="backGroundPrimeraFila">Acciones</td> -->
	</tr>
% for my $row (@{$mail_data}) {
	<tr class="backGroundFilaDatos">
        <td nowrap class="backGroundFilaDatos"><A HREF="<% $url %>/raw/job/log/list?id_job=<% $row->{job_id} %>"><% $row->{job_name} %></A></td>
        <td nowrap class="backGroundFilaDatos"><li><% join '<li>', @{$row->{cam_list}} %></td>
        <td nowrap class="backGroundFilaDatos"><% $row->{status} %></td>
        <td nowrap class="backGroundFilaDatos"><% $row->{environment} %></td>
        <td nowrap class="backGroundFilaDatos">
% if ( scalar @{ $row->{node_list} } ) { 
    <li><% join '<li>', @{$row->{node_list}} %>
% }
        </td>
        <td nowrap class="backGroundFilaDatos">
% if ( scalar @{ $row->{nature_list} } ) { 
    <li><% join '<li>', @{$row->{nature_list}} %>
% }
         </td>
        <td nowrap class="backGroundFilaDatos"><% $row->{urgent} %></td>
        <td nowrap class="backGroundFilaDatos"><% $row->{username} %></td>
        <td nowrap class="backGroundFilaDatos"><% $row->{start_time} %></td>
        <td nowrap class="backGroundFilaDatos"><% $row->{end_time} %></td>
        <td width=100% class="backGroundFilaDatos"><table><% @{$row->{package_list}} %></table></td>
        <!-- <td class="backGroundFilaDatos"><% 'acciones aqui' %></td> -->
	</tr>
% }
</table>
</body>
