.gitmodules
.install
.updates
baseliner_local.conf
baseliner_topic.conf
release/
etc/bali_cache
etc/repo
etc/dump
etc/export
etc/artifacts
etc/lc.yaml
.DS_Store
*.old
*.bak
*.new
*.SWP
*.swp
*.log
*.orig
sqlnet.log
old
.harvest.sig
harvest.sig
Thumbs.db
logs
datos
xx
Makefile
tmp
features/#*
features/nature.tp
features/nature.ssrs
features/gbp
features/sonar
features/checking
features/svnscm
features/cvsscm
features/jazztel
features/bi
features/*
inc
t/balitest.db
t/old
mvsjobs
.sonar
root/identicon
root/static/cal*
root/static/dhtmlx*
root/static/sch*
root/static/images/glyph*
nohup.out
baseliner_jazztel.conf
