[submodule "features/gitscm"]
	path = features/gitscm
	url = http://git.vasslabs.com/git/gitscm.git
[submodule "features/sqa"]
	path = features/sqa
	url = http://git.vasslabs.com/git/sqa.git
[submodule "features/zos"]
	path = features/zos
	url = http://git.vasslabs.com/git/zos.git
[submodule "features/artifacts"]
	path = features/artifacts
	url = http://git.vasslabs.com/git/artifacts.git
[submodule "features/nature.ejava"]
	path = features/nature.ejava
	url = http://git.vasslabs.com/git/nature.ejava.git
[submodule "features/clarive.core"]
	path = features/clarive.core
	url = http://git.vasslabs.com/git/clarive.core.git
[submodule "features/bde.core"]
	path = features/bde.core
	url = http://git.vasslabs.com/git/bde.core.git
[submodule "features/clarive.ispf"]
	path = features/clarive.ispf
	url = http://git.vasslabs.com/git/zos-ispf.git
[submodule "features/uploader"]
	path = features/uploader
	url = http://git.vasslabs.com/git/uploader.git
[submodule "features/bcv"]
	path = features/bcv
	url = http://git.vasslabs.com/git/bcv.git
[submodule "features/powercenter"]
	path = features/powercenter
	url = http://git.vasslabs.com/git/powercenter.git
