baseliner_local.conf
etc/bali_cache
.DS_Store
*.old
*.bak
*.new
*.SWP
*.log
*.orig
sqlnet.log
old
.harvest.sig
harvest.sig
Thumbs.db
logs
datos
xx
templates
Makefile
tmp
features/nature.tp
features/nature.ssrs
features/gbp
features/#
inc
t/balitest.db
t/old
.carton
local
