nodes:
    - 
      node: Topics
      type: component
      url : /lifecycle/tree_topics_project
      data:
          click: 
            url: /topic/grid
            type: comp
            icon: /static/images/icons/topic.png
            title: Topics
      icon: /static/images/icons/topic_lc.png
    - 
      node: Jobs
      type: component
      url : /job/monitor
      icon: /static/images/icons/job.png
    - 
      node: Files
      type: component
      url : /fileversion/tree_file_project
      icon: /static/images/scm/icons/log_16.png
      menu:
         - 
           text: New Folder
           icon: /static/images/icons/folder.gif
           url: /fileversion/new_folder
      data:
          on_drop:
              url: /fileversion/drop
    - 
      node: Releases
      type: component
      url : /release/grid
      icon: /static/images/scm/release.gif
    -
      node: Branches
      type: changeset
      bl: *
      icon: /static/images/icons/lc/branches_obj.gif
      actions:
         - 
           name: Create New Changeset
           action: /lc/create
         - 
           name: Delete Changeset
           action: /lc/delete
lifecycle:
    default:
        states:
            -
              node: Unassigned
              type: state
              bl: new
              active: 0
              icon: /static/images/icons/lc/history.gif
            -
              node: Development
              type: state
              active: 1
              show_branch: master
              bl: TEST
              bl_to: TEST
              icon: /static/images/icons/lc/history.gif
            -
              node: Test
              type: state
              bl: TEST
              bl_from: master
              bl_to: PREP
              icon: /static/images/icons/lc/history.gif
            -
              node: Preproduction
              type: state
              bl: PREP
              bl_from: TEST
              bl_to: PROD
              icon: /static/images/icons/lc/history.gif
            -
              node: Production
              type: state
              bl: PROD
              bl_from: PREP
              icon: /static/images/icons/lc/history.gif
projects:
    - 
      name: XXX
       repositories:
           -
              name: xxx_repo
              path: /Users/Rick/dev/repo/XXX/.git
    - 
       name: YYY
       repositories:
           -
              name: yyy_repo 
              path: /Users/Rick/dev/repo/YYY/.git
