/* Last css to be executed by Baseliner */

#boot .topictag {
    font-size: 9px;
    font-family: Arial, Helvetica;
    background: #998; /* 2c3e50; */
    color: #fff;
    padding: 2px 4px 2px 4px;
    margin-left: 5px;
}

.x-tool-tabify{background-position:0 -75px;}
.x-tool-tabify-over{background-position:-15px -75px;}

.x-grid3-body .x-grid3-td-checker {
    background: none repeat-y scroll right center transparent;
}

.x-grid3-row-checker, .x-grid3-hd-checker {
    background-image: url("/static/images/row-check-sprite.gif");
}

.bali-main-menu button {
    font-family: Calibri, OpenSans, Arial;
    font-size: 11px;
    margin: 0 0 0 4px;
    text-transform: uppercase;
}

.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon {
    height: 16px;
}

.baseliner-message a {
    color: #fff;
}

.bali-form-table .x-table-layout { 
    width: 100%;
}

.bali-form-table .x-table-layout-cell {
    width: 1%;   /* this should help anchor:100% work, but doesn't...?? */
}

/* -- put gritter close on the right
    
.gritter-close {
	left:270px;
}
*/

.bali-avatar {
    height: 16px !important;
    width: 16px !important;
}

.bali-topic-editor-image {
    /*width: 100%;*/
}

.bali-topic-status {
    font-size: 8px;
    text-transform:uppercase;
    font-family:Helvetica Neue,Verdana,Helvetica,Arial,sans-serif;
}


.bali-moniker {
    background-color: #f0f9f2;
    border:2px #d4d4d4 solid;
    padding: 3px;
    font-family: Consolas, Courier New, monotype;
    text-align:center; 
}

.CodeMirror {
  height: 100%;
}
.CodeMirror-scroll {
  overflow: auto;
}

/* ------------------ Baseliner Bootstrap Overrides -----------------*/

#boot {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

#boot .dashboard {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;  
}


/* -------------------------- Fieldlet HTML -----------------------------*/
#boot .fieldlet-html li {
    list-style-type: square;
    margin-left: 15px;
}

#boot .fieldlet-html h1 {
    font-size: 20px;
}

#boot .fieldlet-html h2 {
    font-size: 17px;
}

#boot .fieldlet-html h3 {
    font-size: 15px;
}

#boot .fieldlet-html h4 {
    font-size: 14px;
}

#boot .fieldlet-html h5 {
    font-size: 13px;
}


.name-html {
	width: 20px;
	white-space:nowrap;
}

.title-html {
	max-width: 50px;
	white-space:nowrap;
	overflow:hidden;	
	text-overflow:ellipsis;
}

.status-html {
	width: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold !important;  
    background-color: #eee; 
    text-align: center;
	white-space:nowrap;
}

.created-html {
	width: 130px;
	white-space:nowrap;
	overflow:hidden;	
	text-overflow:ellipsis;	
}

.sent-html {
	width: 60px;
	white-space:nowrap;
}

.x-tree-node div.forum-ct{
    background:#eee url(/static/images/icons/cmp-bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}
.forum-ct .x-tree-node-icon {
    display:none;
}
.forum-ct a span {
    font-weight:bold;
    color:#222;
}
.forum {
    border:1px solid #fff;
}

.forum.default {
    font-style: italic;
}

.forum.status a span {
  text-transform:uppercase;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: xx-small;
  font-weight:bolder;
  color:#555;
}

.forum .x-tree-ec-icon {
    display:none;
}
.icon-forum {
    background-image:url(/static/images/icons/track.gif) !important;
}

.icon-no {
	display:none;
}

.priority a span {
    font-weight:bold;
    color:green;
}


.styledCheckbox {
    height: 18px;
    filter: alpha(opacity=0.0);
    opacity: 0.0;
    outline: 0;
}

.styledCheckboxWrap {
    padding: 1px;
    position: relative;
    background: url('/static/images/row-check-sprite.png') no-repeat;
    height: 18px;
    width: 100%;	
}

.wrapChecked{ background-position: -25px 0px; }

.wrapPartial{ background-position: -50px 0px; }

.pruebafieldset fieldset { border: 4px solid ; }

.pruebafieldset legend{ font-size: 35px; }


/*
.x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
.x-tree-node .x-tree-selected a span{
    background:transparent;
    color:#15428b;
    font-weight:bold;
}
*/

.bl-label {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;

    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    color: #FFFFFF !important;
}

.bali-td-special {
	border: none;
}

.bl-text-over {
	white-space:nowrap;
	overflow:hidden;	
	text-overflow:ellipsis;
}

.tabla {
    width: 100%;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    background-color:#fff;
    color: gray;
    font-family:arial,verdana,times;
    font-size:12px;
 }
 
.tabla p {
    clear:both;
    width: 100%;
    margin: 0;
}

.tabla .titulo {
    padding: 5px;
    background-color: #fff;
    font-family:arial,verdana,times;
    float:left;
    border-right: 1px solid #fff;
    font-weight:bold;
}

.tabla .columna {
    padding: 5px;
    float:left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@-moz-document url-prefix() {
    .x-fieldset-body {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

.text_scroll .ext-mb-content  {
    height: 160px;
    overflow: auto;
}
