@import url(/static/fonts/opensans/opensans.css);
/* @import url(/static/fonts/lato/lato.css); */

/* Used to hide TreePanel icons - node.setIconCls('no-icon') */
.bali-icon-active {
    background: transparent url(/static/images/icons/active.gif) no-repeat center;
}

.bali-icon-inactive {
    background: transparent url(/static/images/icons/inactive.gif) no-repeat center;
}

.no-icon {
	display : none;
	background-image:url('ext/resources/images/default/s.gif') !important;
}

/* 
 * for making greyscale images - doesn't work on Safari5 though. Tested in FF and Chrome
 *
 */
.gris {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* Scrollbars */

::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

::-webkit-scrollbar-button:start:decrement,.fancy-scrollbar::-webkit-scrollbar-button:end:increment {
    background: transparent;
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #d0d0d0;
}

::-webkit-scrollbar-track-piece:vertical:start {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

::-webkit-scrollbar-track-piece:vertical:end {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

::-webkit-scrollbar-track-piece:horizontal:start {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0px;
}

::-webkit-scrollbar-track-piece:horizontal:end {
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb:vertical,.fancy-scrollbar::-webkit-scrollbar-thumb:horizontal {
    background: #999;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    display: block;
    height: 50px;
}

/*  Job Items Search */
.tab-style {
        padding: 10px;
}

.ext-ie6 .tab-style, .ext-ie7 .tab-style, .ext-ie8 .tab-style {
        padding: 10px;
        width: 820px;
}
.ext-gecko .tab-style {
        padding: 10px;
        width: 800px;
}

.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:115px;
    display:block;
    clear:none;
}

.search-title {
    font:bold 10px tahoma, arial, helvetica, sans-serif;
    white-space:normal;
    width:600px;
}

.search-r {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    white-space:normal;
    color:#555;
    width:450px;
}

.search-l {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    white-space:normal;
    color:#555;
    width:300px;
}

.curved {
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 /* behavior:url(/static/images/border-radius.htc); */
}

.cannot-job { color: gray; }
.cannot-job h3 { color: gray; }

/* Pop-in message */

.msg .x-box-mc {
    font-size:14px;
}

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:350px;
    z-index:20000;
}

.form-label-1 { font-size: 20px; font-weight: bold; } 
.form-field-help { font-size: 10px; padding: 0px 0px 0px 100px }

/* Calendar */
.job-calendar h1 { font-size: 12pt; font-weight: bold; text-transform: capitalize }
.job-calendar th { font-size: 12pt; font-weight: bold; text-transform: capitalize }
.job-calendar td { font-size: 9pt; }

td.cal_slot { 
    padding: 0;
    border: transparent 1px dashed;
    font-family: Calibri, OpenSans, Arial, sans-serif;
    font-size: 13px;
}

td.slot_N { background-color: #77da50; }
td.slot_U { background-color: #f07444; }
td.slot_X { background-color: #777; }
td.slot_B { background-color: #D0D0D0; }

td.slot_N_off { background-color: #b9daad; }
td.slot_U_off { background-color: #f0c5b4; }
td.slot_X_off { background-color: #f3f3f3; }
td.slot_B_off { background-color: #e0e0e0; }

td.nopaseDes { background-color: #E0E0E0; }

td.slot_hover { border: #000 1px dashed }

.job-calendar .boton {  }
.job-calendar select { width: 160px; }

.expandall { background-image: '/static/images/icons/expandall.gif' }
.colapseall { background-image: '/static/images/icons/collapseall.gif' }

/*****************   Search box ********************/

#search-result-block {
    padding: 10px 10px 10px 10px;
}

#search-result-block-title {
    font-size: 16px;
    color: #111;  /* blue link no more #0033e0; */
}

/*************************************************

Help File Styles

*************************************************/

.help-off { background-image: '/static/images/icons/lightbulb_off.gif' }
.help-on { background-image: '/static/images/icons/lightbulb.gif' }

pre { font-family: Consolas, Courier New, mono; }

#baseliner-help-win .x-window-body {
    background-color: #fff;
    font-size: 11px;
    font-family: "Trebuchet MS",Verdana,sans-serif; /* Georgia, Times New Roman; */
    padding: 5px 5px 5px 5px;
    overflow: auto;
}
#baseliner-help-win p {
    font-size: 11px;
    font-family: Verdana, Arial;
    padding: 3px 5px 3px 10px;
    margin: 5px 0px 5px 0px;
    line-height: 15px;
}
#baseliner-help-win img {
    margin: 3px 3px 3px 3px;
}
#baseliner-help-win code {
    background-color: #f0f0f0;
}
#baseliner-help-win ul {
    font-size: 11px;
    margin: 5px 0px 5px 20px;
    list-style: circle inside;
    font-family: "Trebuchet MS",Verdana,sans-serif; /* Georgia, Times New Roman; */
}
#baseliner-help-win li {
    font-size: 11px;
    font-family: "Trebuchet MS",Verdana,sans-serif; /* Georgia, Times New Roman; */
}
#baseliner-help-win h1 {
    background-color: #EDF3FE;
    font-weight: bold;
    margin: -5px -5px 0px -5px;
    padding: 10px 3px 10px 3px;
    font-size: 18px; font-family: "Trebuchet MS",Verdana,sans-serif; /* Georgia, Times New Roman; */
}
#baseliner-help-win h2 {
    background-color: #FFEBBC;
    font-weight: bold;
    padding: 3px 3px 3px 10px;
    font-size: 14px; font-family: "Trebuchet MS",Verdana,sans-serif;
}
#baseliner-help-win h3 {
    color: #9F263A;
    font-weight: bold;
    margin: 5px 0px 5px 5px;
    font-size: 14px; font-family: "Trebuchet MS",Verdana,sans-serif; 
}
#baseliner-help-win h4 {
    color: #111;
    font-style: italic;
    margin: 5px 0px 5px 5px;
    font-size: 14px; font-family: "Trebuchet MS",Verdana,sans-serif; 
}
#baseliner-help-win table {
    border: 1px dashed #ccc;
    margin: 5px 5px 5px 10px;
}
#baseliner-help-win td {
    color: #222;
    padding: 2px 2px 2px 2px;
    border: 1px dashed #ccc;
    font-size: 10px; font-family: "Trebuchet MS",Verdana,sans-serif; 
}
#baseliner-help-win th {
    color: #222;
    padding: 2px 2px 2px 2px;
    font-weight: bold;
    font-size: 10px; font-family: "Trebuchet MS",Verdana,sans-serif; 
}

.x-form-spinner-proxy{
        /*background-color:#ff00cc;*/
}
.x-form-field-wrap {
        position: relative;
}
.x-form-element .x-form-field-wrap {    /* ie6 fix within ext-form */
        position: relative !important;
        position: absolute;     /* ie6 */
}
.x-form-field-wrap .x-form-spinner-trigger {
    background:transparent url(spinner.gif) no-repeat 0 0;
}

.x-form-field-wrap .x-form-spinner-overup{
    background-position:-17px 0;
}
.x-form-field-wrap .x-form-spinner-clickup{
    background-position:-34px 0;
}
.x-form-field-wrap .x-form-spinner-overdown{
    background-position:-51px 0;
}
.x-form-field-wrap .x-form-spinner-clickdown{
    background-position:-68px 0;
}


.x-trigger-wrap-focus .x-form-spinner-trigger{
    background-position:-85px 0;
}
.x-trigger-wrap-focus .x-form-spinner-overup{
    background-position:-102px 0;
}
.x-trigger-wrap-focus .x-form-spinner-clickup{
    background-position:-119px 0;
}
.x-trigger-wrap-focus .x-form-spinner-overdown{
    background-position:-136px 0;
}
.x-trigger-wrap-focus .x-form-spinner-clickdown{
    background-position:-153px 0;
}
.x-trigger-wrap-focus .x-form-trigger{
    border-bottom: 1px solid #7eadd9;
}

.x-form-field-wrap .x-form-spinner-splitter {
        line-height:1px;
        font-size:1px;
    background:transparent url(spinner-split.gif) no-repeat 0 0;
        position:absolute;
        cursor: n-resize;
}
.x-trigger-wrap-focus .x-form-spinner-splitter{
    background-position:-14px 0;
}

/*** 
 *
 *
 *
 * from docs.css - mostly useful for <a> tag styling
 *
 *
 *
***/

#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px helvetica,arial,tahoma,sans-serif;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}
a {
	color: #1E4176;
}
a:link {
	color: #1E4176;
	text-decoration: none;
}

a:visited {
   color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #15428b;
}

