<!-- DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" -->
<%perl>
    my $lang = $c->language;
</%perl>
<html>
 <head>
    <& '/site/nocache.html' &>
    <& '/site/top.html' &>
    <script type="text/javascript" src="/site/tablegrid.js"></script>
    <script type="text/javascript" src="/site/tabfu.js"></script>
    <script type="text/javascript" src="/site/help.js"></script>
    <script type="text/javascript" src="/site/runner.js"></script>
    <script type="text/javascript" src="/comp/topic/topic_lib.js"></script>
    <script type="text/javascript" src="/site/panelresizer.js"></script>
    <script type="text/javascript" src="/static/livegrid/livegrid-all.js"></script>
    <!-- script type="text/javascript" src="/static/pdfjs/pdf.min.js"></script -->

    <!-- DatePickerPlus - Ext -->
    <script type="text/javascript" src="/static/datepickerplus/ext.ux.datepickerplus.js"></script> 
% if( length $lang && $lang ne 'en' ) {
    <script type="text/javascript" src="/static/datepickerplus/ext.ux.datepickerplus-lang-<% $lang %>.js"></script> 
% }
    <link rel="stylesheet" href="/static/datepickerplus/datepickerplus.css" type="text/css" />

    <!-- Flot -->
    <script src="/static/flot/excanvas.min.js"></script>
    <script src="/static/flot/jquery.flot.js"></script>
    <script src="/static/flot/jquery.flot.pie.js"></script>
    <script src="/static/flot/jquery.flot.orderBars.js"></script>
    <script src="/static/flot/jquery.flot.resize.js"></script>
    <script src="/static/flot/flot.js"></script>

    <!-- JSGantt -->
    <!--
    <link rel="stylesheet" type="text/css" href="/static/jsgantt.css" />
    <script language="javascript" src="/static/jsgantt.js"></script>
    -->
    
    <!-- CodeMirror -->
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/theme/elegant.css">
    <link rel="stylesheet" href="/static/codemirror/theme/night.css">
    <link rel="stylesheet" href="/static/codemirror/theme/eclipse.css">
    <link rel="stylesheet" href="/static/codemirror/theme/lesser-dark.css">
    <link rel="stylesheet" href="/static/codemirror/lib/util/simple-hint.css">
    <script type="text/javascript" src="/static/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/codemirror/lib/util/simple-hint.js"></script>
    <script type="text/javascript" src="/static/codemirror/mode/perl/perl.js"></script>
    <script type="text/javascript" src="/static/codemirror/mode/javascript/javascript.js"></script>
    <style type="text/css">
        .CodeMirror { border: 1px solid #eee;} 
        .CodeMirror-scroll {
            overflow: visible;
            height: 100%;
        }
        .CodeMirror-fullscreen {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            margin: 0;
            padding: 0;
            border: 0px solid #BBBBBB;
            opacity: 1;
        }
    </style>

    <script type="text/javascript" src="/site/lifecycle.js"></script>

    <!-- Portal Stuff -->
    <script type="text/javascript" src="/site/portal/Portal.js"></script>
    <script type="text/javascript" src="/site/portal/PortalColumn.js"></script>
    <script type="text/javascript" src="/site/portal/Portlet.js"></script>
    <script type="text/javascript" src="/site/portal/PortalUtil.js"></script>
    <link rel="stylesheet" type="text/css" href="/site/portal/portal.css" />
    <link rel="stylesheet" type="text/css" href="/site/portal/sample.css" />
    
    <link rel="stylesheet" type="text/css" href="/static/livegrid/resources/css/ext-ux-livegrid.css" /> 

    <!-- uploader drag-drop -->
    <script type="text/javascript" src="/static/valums/fileuploader.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/valums/fileuploader.css" />
    <!-- superbox -->
    <script type="text/javascript" src="/static/superbox/superbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/superbox/superbox.css" /> 

    <!-- model depends on superbox -->
    <script type="text/javascript" src="/site/model.js"></script>

    <link rel="stylesheet" type="text/css" href="/site/960-Grid-System/code/css/960_24_col.css" />
    <!-- Twitter Bootstrap
    <link rel="stylesheet/less" type="text/css" href="/site/bootstrap.less" />
    <script type="text/javascript" src="/site/less.js"></script>
    -->
    <!--<link rel="stylesheet/less" type="text/css" href="/site/960-Grid-System/code/css/reset.css" />-->
    <!--<link rel="stylesheet/less" type="text/css" href="/site/960-Grid-System/code/css/text.css" />-->
    <!-- link rel="stylesheet" type="text/css" href="/site/960-Grid-System/code/css/demo.css" / -->
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/site/boot.css" /> 
    <!-- #reset namespace
    <link rel="stylesheet" type="text/css" href="/site/reset.css" /> 
    -->
    
    <!-- Cal -->
    <link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar.print.css' media='print' />
    <script type='text/javascript' src='/static/fullcalendar/fullcalendar.min.js'></script>
    
    <!-- final css override -->
    <link rel="stylesheet" type="text/css" href="/static/final.css" />

    <!-- Hooks -->
% for my $include ( _array $c->stash->{header_include} ) {
    <!-- BEGIN <% $include->{name} %> -->
<% $include->{content} %> 
    <!-- END   <% $include->{name} %> -->
% }
    <!-- Hooks End -->

<script type="text/javascript">
<& /site/main.js &>
</script>

<!-- Para poder incluir el Widget Spinner de Ext -->
    <script type="text/javascript" src="/static/ex.ux.form.spinner/Spinner.js"></script> 
    <script type="text/javascript" src="/static/ex.ux.form.spinner/SpinnerStrategy.js"></script> 
    <link rel="stylesheet" href="/static/ex.ux.form.spinner/Spinner.css" type="text/css" /> 
<!-- SOLO PARA DEPURAR EN IE -->
<!-- script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script -->    
</head>
<body>
<IFRAME id="FD" NAME="FrameDownload" HEIGHT="0px" WIDTH="0%" BORDER="0"></IFRAME>
<div id='run-panel'></div>
<div id='main-div'></div>

<!-- Preloading some images used in grids -->
<!-- & preload_images.html & -->
