<!DOCTYPE html>
<%perl>
    my $lang = $c->language;
    my $debug = $c->debug ? '-debug' : '';
    my $to_bool = sub{
        return $_[0] unless defined $_[0];
        ref $_[0] and return $_[0]; $_[0] eq '1' ? \1 : $_[0] eq '0' ? \0 : $_[0]
    };
</%perl>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" Content="no-cache">
    <meta http-equiv="Pragma" Content="no-cache">
    <meta http-equiv="Expires" Content="0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=7,8,9" />

    <title><% _loc( $c->config->{name} ) %></title>

% if( my $favicon = $c->config->{favicon} ) {
    <link rel="shortcut icon" href="<% $favicon %>" mce_href="<% $favicon %>"/>
% }

    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/site/boot.css" />
    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="/static/ext/resources/css/ext-all.css" />
    <!-- ux -->
    <link rel="stylesheet" type="text/css" href="/static/ext/examples/ux/css/ux-all.css" />
    <!-- C3 Stylesheet -->
    <link href="/static/c3/c3.css" rel="stylesheet" type="text/css">

% if( my $theme_dir = $c->stash->{theme_dir} ) {
    <link rel="stylesheet" type="text/css" href="<% $theme_dir %>/style.css" />
% }

    <!-- Gritter, used in common.js -->
    <link rel="stylesheet" href="/static/gritter/css/jquery.gritter.css">
    <!-- ux -->
    <link rel="stylesheet" type="text/css" href="/static/ext/examples/ux/css/ux-all.css" />
    <!-- datepickerplus -->
    <link rel="stylesheet" href="/static/datepickerplus/datepickerplus.css" type="text/css" />
    <!-- Datatables (on demand require later) -->
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/datatables/css/dataTables.bootstrap.css" type="text/css" />
    <!-- Pagedown -->
    <link rel="stylesheet" href="/static/pagedown/pagedown.css">
    <!-- CLEditor -->
    <link rel="stylesheet" href="/static/cleditor/jquery.cleditor.css">
    <!-- Highlighter.js -->
    <link rel="stylesheet" href="/static/highlightjs/tomorrow.css">
    <!-- Timeline Similes -->
    <link rel="stylesheet" href="/static/timeline/jquery.timeline.css">
    <!-- Codemirror -->
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/theme/elegant.css">
    <link rel="stylesheet" href="/static/codemirror/theme/night.css">
    <link rel="stylesheet" href="/static/codemirror/theme/eclipse.css">
    <link rel="stylesheet" href="/static/codemirror/theme/lesser-dark.css">
    <link rel="stylesheet" href="/static/codemirror/lib/util/simple-hint.css">
    <style type="text/css">
        .CodeMirror { border: 1px solid #eee;}
        .CodeMirror-scroll {
            overflow: visible;
            height: 100%;
        }
        .CodeMirror-fullscreen {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            margin: 0;
            padding: 0;
            border: 0px solid #BBBBBB;
            opacity: 1;
        }
    </style>
    <!-- Portal CSS -->
    <link rel="stylesheet" type="text/css" href="/site/portal/portal.css" />
    <!-- uploader drag-drop -->
    <link rel="stylesheet" type="text/css" href="/static/valums/fileuploader.css" />
    <!-- superbox -->
    <link rel="stylesheet" type="text/css" href="/static/superbox/superbox.css" />
    <!-- Cal -->
    <link rel="stylesheet" type="text/css" href="/static/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="/static/fullcalendar/fullcalendar.print.css" media="print" />
    <!-- Treegrid -->
    <link rel="stylesheet" type="text/css" href="/static/gridtree/css/treegrid.css" />

    <link rel="stylesheet" type="text/css" href="/static/sprites.css" />
    <!-- Ext Spinner Widget -->
    <link rel="stylesheet" href="/static/ex.ux.form.spinner/Spinner.css" type="text/css" />
</head>
<body>
    <div id="bali-loading-mask" style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:20000; background-color:white;"></div>
    <div id="bali-loading" style="position:absolute; left:45%; top:40%; padding:2px; z-index:20001; height:auto;">
        <img id="bali-loading-img" style="display: block;height:52px;width:52px;" src="/static/images/loading/loading.gif" />
        <div id="boot" class="loading-progress" style="display: none; height: 2px">
            <div class="progress" style="height: 2px" >
                <div class="bar" style="width: 0%"></div>
            </div>
        </div>
        <div id="bali-loading-text" style="text-align: center; text-transform: uppercase; font-weight: normal; font-size: 11px; color: #999; font-family: Calibri, OpenSans, Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;">
          <% _loc('Loading') %>
        </div>
    </div>

    <div id="boot">
        <div id="boot" class="alert-error" style="display: none; position:absolute; left:0; bottom:0; width:100%; padding:5px; text-align:center;"> <img src="static/images/icons/warning.svg" alt="0" />
            <span style="color:#000;font-size:1.5em;">
                <% _loc("%1 not supported in <b> mode compatibility </b> (Internet Explorer), Please disable it.", $c->config->{name}) %>
            </span>
            <img src="static/images/icons/warning.svg" alt="0" />
        </div>
        <div id="main-alert" style="top:0; left: 100px; width:80%; position: absolute; z-index: 999999"></div>
    </div>

    <div id="bali-browser-warn" style="display: none; position:absolute; left:0; top:0; width:100%; height:100%; z-index:20000; background-color:white;"></div>
    <div id="bali-browser-warn-mid" style="display: none; position:absolute; left:35%; top:40%; padding:2px; z-index:20001; height:auto;">
        <center>
            <div id="boot" role="dialog">
                <h2><% _loc('Browser Warning') %></h2>
                <p><% _loc("This browser is not supported by %1", $c->config->{name} ) %></p>
                <div id="bali-browser-ver"></div>
            </div>
        </center>
    </div>

    <div id='run-panel'></div>
    <div id='main-div'></div>
    <iframe id="FD" name="FrameDownload" height="0px" width="0%" border="0"></iframe>

    <!--Config JS libraries -->
    <script type="text/javascript" src="/static/require/require.js" data-main="/static/config"></script>

    <script>
        var options = {
            debug: '<% $debug %>',
            language: '<% $lang %>'
        };

        require(['config'], function(options) {
            require(['momentTimeZones', 'c3','d3'], function(moment, c3) {
                window.moment = moment;
                window.c3 = c3;
                window.d3 = d3;
                require(['app'], function() {

                    Prefs = new Baseliner.Prefs({
                        username: '<% $c->username %>',
                        language: '<% [ _array( $c->languages ) ]->[0] %>',
                        date_format: '<% $c->user_ci->date_format_pref %>' || 'format_from_local',
                        time_format: '<% $c->user_ci->time_format_pref %>' || 'HH:mm',
                        timezone: '<% $c->user_ci->timezone_pref %>' || 'server_timezone',
                        server_timezone: '<% _tz() %>',
                        logo_file: '<% $c->config->{logo_file} %>',
                        logo_filename: '<% $c->config->{logo_filename} || "logo.jpg" %>',
                        site: <% _to_json({ map { $_ => $to_bool->( $c->config->{site}->{$_} ) } keys %{ $c->config->{site} || {} } }) %>,
                        toolbar_height: <% $c->config->{toolbar_height} // 40 %>,
                        menus: [<% join ',', _array $c->stash->{menus} %>],
                        stash: <% _to_json({
                                    map { $_ => $to_bool->( $c->stash->{$_} ) }
                                    qw/site_raw can_menu can_change_password can_lifecycle can_surrogate portlets tab_list alert theme_dir show_js_reload/
                                })
                            %>
                    });

                    require(['/site/main.js'], function() {
                        if (Ext.get('bali-loading'))
                            Ext.get('bali-loading').remove();

                        if (Ext.get('bali-loading-mask'))
                            Ext.get('bali-loading-mask').fadeOut({
                                remove: true,
                                callback: function() {
                                    var ver = navigator.appVersion.match(/MSIE 7.0/g);
                                    if (ver == "MSIE 7.0") {
                                        $('.alert-error').fadeIn();
                                    }
                                }
                            });

                        $('#loading-img').show();
                        $('#bali-loading .loading-progress').hide();
                    });
                });
            });

        });
    </script>

<!-- Hooks -->
% for my $include ( _array $c->stash->{header_include} ) {
    <!-- BEGIN <% $include->{name} %> -->
<% $include->{content} %>
    <!-- END   <% $include->{name} %> -->
% }
<!-- Hooks End -->

</body>
</html>
