<%args>
    $theme_dir => ''
    $loading_mask => 1
</%args>
<%perl>
    my $debug = $c->debug ? '-debug' : '';
</%perl>
    <title><% _loc( $c->config->{name} ) %></title>
% if( my $favicon = $c->config->{favicon} ) {
    <link rel="shortcut icon" href="<% $favicon %>" mce_href="<% $favicon %>"/>
% }


    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/site/960-Grid-System/code/css/960_24_col.css" />
    <link rel="stylesheet" type="text/css" href="/site/boot.css" /> 
    
    
    <!-- Loading masks -->                                            
% if( $loading_mask ) {
    <div id="bali-loading-mask" style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:20000; background-color:white;"></div>
    <div id="bali-loading" style="position:absolute; left:45%; top:40%; padding:2px; z-index:20001; height:auto;">
      <img id="bali-loading-img" style="display: block" src="/static/images/loading.gif" />
      <div id="boot" class="loading-progress" style="display: none; height: 2px">
          <div class="progress" style="height: 2px" >
              <div class="bar" style="width: 0%"></div>
          </div>
      </div>
      <div id="bali-loading-text" style="text-align: center; text-transform: uppercase; font-weight: normal; font-size: 11px; color: #999; font-family: Calibri, OpenSans, Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;">
          <% _loc('Loading') %>
      </div>
    </div>
% }

    <!--JQuery -->
    <script type="text/javascript" src="/static/jquery/jquery-1.7.1.min.js"></script>
    <!--JQuery draggable plugin, etc -->
    <script type="text/javascript" src="/static/jquery/jquery-ui-1.8.17.custom.min.js"></script>
    
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>

    <script>$('#bali-loading .progress .bar').width('20%');</script>
    
    <!-- ExtJS -->
    <!-- <link rel="stylesheet" href="/static/metal/metal.css" type="text/css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/ext/resources/css/ext-all.css" />

    <!-- <script type="text/javascript" src="/site/stacktrace.js"></script> -->
    <script type="text/javascript" src="/static/ext/adapter/ext/ext-base<% $debug %>.js"></script>
    <!-- script type="text/javascript" src="/static/ext/adapter/jquery/ext-jquery-adapter<% $debug %>.js"></script -->

    <script type="text/javascript" src="/static/ext/ext-all-nochart<% $debug %>.js"></script>
    <!-- script type="text/javascript" src="/static/ext/jitx<% $debug %>.js"></script -->

    <!-- ux -->
    <link rel="stylesheet" type="text/css" href="/static/ext/examples/ux/css/ux-all.css" />
    <script type="text/javascript" src="/static/ext/examples/ux/ux-all<% $debug %>.js"></script>

    <!-- <script type="text/javascript" src="/static/ext/build/locale/ext-lang-es-min.js"></script> -->
    <script type="text/javascript" src="/static/ext/src/locale/ext-lang-<% $c->language %>.js"></script>

    <!-- D3 and C3, before use strict makes it impossible to load window.d3 and window.c3 -->
    <script src="/static/d3/d3.min.js"></script>
    <script src="/static/c3/c3.min.js"></script>

    <!-- C3 Stylesheet -->
    <link href="/static/c3/c3.css" rel="stylesheet" type="text/css">

    <!-- requirejs makes it all strict, careful -->
    <script src="/static/require/require.js"></script>

    <!-- site is the global stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/site.css" />

    <!-- Gritter, used in common.js -->
    <script src="/static/gritter/js/jquery.gritter.min.js"></script>
    <link rel="stylesheet" href="/static/gritter/css/jquery.gritter.css">
    
    <script type="text/javascript" src="/i18n/js"></script>
    <script type="text/javascript" src="/site/globals.js"></script>
    <script type="text/javascript" src="/site/common.js"></script>
    <script type="text/javascript" src="/site/tmpl.js"></script>

    <script>$('#bali-loading .progress .bar').width('30%');</script>
    <!-- #reset namespace
        <link rel="stylesheet" type="text/css" href="/site/reset.css" /> 
    -->
% if( my $theme_dir = $c->stash->{theme_dir} ) {
    <link rel="stylesheet" type="text/css" href="<% $theme_dir %>/style.css" />
% }


%# consider including templates <& /site/templates.html &>, and adding it to JS Reload menu option for testing
