#
# Clarive Base Config File
# ========================
#
#  DO NOT CHANGE THIS FILE!
#
#  Instead create environment files at  $CLARIVE_BASE/config/myenv.yml
#  note: after changing environment files a full stop and start 
#  of webserver/dispatcher needed. 
#  web-reload is not enough
#
lang: en_US.UTF-8
port: 3000

# number of web workers 
workers: 5

# max requests handled by each web worker before it restarts
max_requests: 100

# frequency of semaphore attempts
semaphore_wait_interval: .1
    
# cache configure
cache: mongo 
cache_config:
   expire_seconds: 90000   # a bug in mongo prevents us from setting it to a day, 86400

# redis is used by the queue workers
redis:
    server: 'localhost:6379'

# Allow api_key_authentication into the site. 
#    0 = When off (default), api-key only gives access to selected urls, mostly rule/ webservices
#    1 = Switching this on will allow access to any request url in the Clarive server with an api-key. 
api_key_authentication: 0

# mongo database setup
mongo:
    dbname: acmebank 
    retry_frequency: 5
    max_retries: 60
    client:
        host: 'localhost:27017'
        auto_reconnect: 1
        query_timeout: -1
        #auto_connect: 1
        #host: 'mongodb://localhost:27017,localhost2:27018'
        #w
        #wtimeout
        #j
        #timeout: 20000
        #username
        #password
        #db_name
        #max_bson_size
        #find_master: 1
        #ssl
        #sasl
        #sasl_mechanism
        #dt_type
        #inflate_dbrefs: 1

# control what and how mongo indexes work
index:
    weights:  
        topic: 
            mid: 10
            title: 5
        master_doc:
            mid: 10
            name: 5
# experimental: activates websockets server and socketio
websockets: 0

# configure the rule precompilation options: 
#   none     = no precompilation
#   depends  = depends on rule configuration
#   always   = depends on rule configuration
rule_precompile: depends
    
# non ajax access to ajax defined controllers
#    0 = allow access
#    1 = deny access
deny_non_ajax_access: 0

# Baseliner Framework default config
baseliner:
    name: ϲʟᴀʀɪᴠе
    app_name: ϲʟᴀʀɪᴠе
    default_theme: clarive
    default_lang: en
    logo_filename: logo.png
    toolbar_height: 40
    #favicon: /static/themes/clarive/favicon.ico
    #login_page: /clarive/login.html
    decrypt_key: 1234567
    #time_zone: UTC
    web_host: '{{baseliner.host}}'
    web_port: '{{port}}'
    job_runner: service.job.runner.rule
    web_url: 'http://localhost:3000'
    create_user_session: 0
    ldap: no
    header_init:
        show_lifecycle: 1
    # toolbar_height: 45
# CAS authentication
    # cas_auth: 
    #   active: 1
    #   service: http://localhost3000
    #   uri: https://192.168.59.103:49163/cas
    #   verify_key: 0
    
    # allows setting 2 or more feature directories
    'CatalystX::Features':
        home: 
        - '{{CLARIVE_BASE}}/features'
        - '{{CLARIVE_HOME}}/features'
    'Plugin::Session':
        host: '{{mongo.host}}'
        expires: 2592000 # One month
        dbname: '{{mongo.dbname}}'
        collectioname: 'session'
        cookie_name: clarive-session
    
    PluginNamespace:
        prefix: BaselinerX

    'Plugin::I18N':
        languages: es en
        maketext_options:
            Style: gettext
            Decode: 1

#
# RDBMS configuration
#
    # 'Model::Baseliner':
    #    connect_info:
    #    - dbi:Oracle:host=localhost;sid=scm;port=1521
    #    - clarive
    #    - clarive
    #    - LongReadLen: '100000000'
    #      LongTruncOk: '1'
#
# Authentication Configuration
#
    #
    # Password checking configuration:
    #
    # password_rule: '(?=.*[A-Z]+)(?=.*[0-9]+)(?=.*\W+)'
    # password_min_length: 6
    # password_rule_description: 'Needs at least one uppercase, one number and one special character (dot,comma,etc.)
                
    # Authentication Realms (ldap, local, etc)
    authentication:
      default_realm: none
      realms:
          local:
            credential:
              class: Password
              password_field: password
              password_type: clear
            store:
              class: Minimal
              users:
                root:
                  api_key: 567ef8bd1ac500757e8be5b2d4c97e08
                  password: f7ef7cb69c38a5e888a9cc5824fe8398
          none:
            credential:
              class: Password
              password_field: password
              password_type: none
            store:
              class: Null
# 
# Licensing - this is a default license for 5 users max
#
license:
  end_date: 2016-12-31
  id: trial_customer
  lic_data: ipyBDBNsUO0ADKgF7DKJjTqCDauCJAszrASCPiWUEBUiL2/CKBUvrCmxZiADsuwAoDu6kasCMiR/MByA8syAcDdQyCfhSdlC+vGBUAIhLb1D2bLouCW5KPQCroL+IB7LqOyC
  lic_key: RNlqzIYOc2UUCH1N53TBmq4cDJYNZ8x2/UuW5N5jrWxBqZE/kNi7OAdpktAg2an+oDclcvh/XK6z5dZVTPArAUqy9PhGPW9UY7EtCTlbU6hSZK6EGFhXUkLJ+Gbu49MlB6eQ9ilRPzBtEePCafdSQ0C44/DGJhAnsoglHM87gJo=
  name: Trial Customer
  private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIICXQIBAAKBgQDja91pwlAaqcn5qYQ6QUCP7KxHXu1qVUeK3I74sRP7AOZD/p2c
    tz782xkps1BbdyKKu+zIwzHHQz3Qj2fQoPA9Ryc4YhIBhW7VwX99mzeKke7Qc5MJ
    FFwGjmc/k2xw+TIyHqB6q2i4hCMAbYophKIt44ohzv/BNXml1U6JJhcR9QIDAQAB
    AoGAB7pbnMNom29XmK9E+gHLothlBkvYf3uEYdia1yKVTjs6l+boDjI/5rG/SiZ4
    vZLvzo0SP8Q6Rc4oJJUq7vD5GNuSyL6DN0abOzSPLSQ81bWZTrKVxvtXoZJElMJH
    KzYrepK/hdTvnmXRIgdL6ZIK+653zO+MTcZVRSrLzLWNvyECQQD0M6jVVwsSuwP7
    eIML77VbFBqTBWZSjxx/33GcAcAxfFbz9+DLvuWcMAaE4J9i69ZtbrjUHPOWBMpl
    Qq5n+WoJAkEA7mipQ9rUNmipcvzIRxfJ5ifPS0o1TuRf5SFDduhkhwcK2JI7yh2L
    AqwRbL/4fdc/9YjMfTcGy9K3VbnVwlETjQJBAMm4Qqa4GDWItmlryxR5Fl395VW9
    CCD6hpg6gyZTa+d0xn8RK2gicJjsMvZgdkjId4A+Df9pSu2JV4b95gONS8ECQDiG
    E+uEjF/B/LrId+tzFmk88wbUt0LXHm1Cr64Xdw4Ue1vRf99xla2yggcYlJ+xUvax
    0lm1nCTi9piakLWbZ1kCQQCX8Qb1GE/EXLD0gF6XUYuj9iebNZjWxvzuGeU7AZDj
    cmvba5uBqXYsR3dKU9l9Q69X34wNpvAspOsQ1CKdf/JV
    -----END RSA PRIVATE KEY-----
  users: 5
