<%args>
    $data
</%args>

% if( _array( $data->{users} ) ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc("Assign to") %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $user ( _array( $data->{users} ) ) {
        <li style="margin: 6px 0px 6px 0px">
            <img style="margin: 5px" width=16 src="/user/avatar/<% $user->{username} %>/image.png" />
            <% $user->{username} %> - <% $user->{realname} %>
        </li>
% }
    </ul>
% }
