<%args>
    $data
</%args>

% if( _array( $data->{files} ) ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc("Files") %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $file ( _array( $data->{files} ) ) {
%   my $fii = $data->{ii} . '_' . $file->{md5};
%   my $target = $file->{extension} =~ /pdf|htm|html|txt|properties/i ? '_blank' : 'FrameDownload';  # download or try to show on next tab?
%   my ($size,$units) = Baseliner::Utils::_size_unit( $file->{filesize} );
        <li id="<% $fii %>">
            <i class="icon-file"></i> 
            <a href="/topic/download_file/<% $file->{md5} %>/<% $file->{filename} %>" target="<% $target %>">
                <% Baseliner::Utils::_html_escape( $file->{filename} ) %>
            </a> (<% $size %> <% $units %>) version <% $file->{versionid} %>
        </li>
% }
    </ul>
% }
<!--
    <p>
%#  <div id="uploader_<% $ii %>"></div>
    </p>
-->