<%args>
	$rfc => ''
	$app => ''
	$items => []
	$requested_by
	$realname => ''
	$requested_to => []
	$reason => ''
	$comments => ''
	$url_approve
	$url_reject
</%args>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Accion</title>
	<& /email/style.css &>
</head>
<body>
    <div class='box'>
        <div class="error">
            <h2>SCM: Aprobacion</h2>
        </div>
    </div>
    <div class='box'>
        <div class="trace error">
            <li>Aplicacion: <% $app %>
            <li>RFC: <% $rfc %>
            <li><b>Solicitado por:</b> <% $requested_by %> (<% $realname %>)
            <li><b>Solicitado a:</b>
				<ul>
					<li><% join '<li>', @{ $requested_to } %>
				</ul>
        </div>
        <div class="trace error">
            <p>Por favor, apruebe los elementos:
            <p><li><% join '<li>', @{ $items } %>
            <% $reason ? '<p><li>Motivo: ' . $reason : '' %>
            <% $comments ? '<p><li>Comentarios: ' . $comments : '' %>
        </div>
    </div>

    <div class='box'>
        <div class="name">
            <p>Haciendo clic en la siguiente url:
            <p><table><tr><td style='width: 80px; color: black; background-color: #309010'><b>Aprobar:</td><td><a href="<% $url_approve %>"><% $url_approve %></a></td></tr></table>

            <p>O rechacelo:
            <p><table><tr><td style='width: 80px; color: black; background-color: #C03010'><b>Rechazar:</td><td><a href="<% $url_reject %>"><% $url_reject %></a></td></tr></table>
        </div>
    </div>
</body>

