<%args>
    $username
    $name
    $subject
</%args>
<%init>
    use Baseliner::Utils;
</%init>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Accion</title>
	<& /email/style.css &>
</head>

<body>
    <div class='box'>
        <div class="error">
            <h2><% $subject %></h2>
        </div>
    </div>
    <div class='box'>
        <div class="trace error">
            <p><b><% _loc("User %1 has requested approval for job %2",$username,$name) %></b></p>
            <p><a href="<% Baseliner->config->{web_url}.'/tab/job/monitor' %>"><% _loc('Job monitor') %></a></p>
        </div>
    </div>
</body>


