<%args>
    $title 
    $username
    $subject
    $mid
    $to
    $name_category
    $post
</%args>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Clarive</title>
</head>

<body style="font-family:Bitstream Vera Sans,Trebuchet MS,Verdana,Tahoma;color:#333;margin: 0px;background-color: #fff;border: 0.1px solid #aaa;border-radius: 10px;font-size: 1em;">
    <div class="infos" style="background-color: #eee;border: 1px solid #755;padding: 8px;margin: 5px 40px 0px;text-align: center;font-size: x-small;border-radius: 10px;">
        <a style="color: #000;font-weight: bold;" href="<% Baseliner->config->{web_url}."/tab/topic/view?topic_mid=".${mid} %>" target="_blank">
        <% _loc('View this in a browser.') %>
        </a>
    </div>
    <div class="box" style="position: relative;padding: 4px;margin: 10px;">
        <div class="page-header" style="position: relative;text-align: right;padding: 4px;margin: 10px;">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcIAAABJCAIAAAFWfYErAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEz
NDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNl
SUQ9InhtcC5paWQ6RTY2RkJGNjc4RTZCMTFFM0IxMEZCQ0ExNjVCNEYxRTciIHhtcE1NOkRvY3Vt
ZW50SUQ9InhtcC5kaWQ6RTY2RkJGNjg4RTZCMTFFM0IxMEZCQ0ExNjVCNEYxRTciPiA8eG1wTU06
RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFNjZGQkY2NThFNkIxMUUzQjEw
RkJDQTE2NUI0RjFFNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFNjZGQkY2NjhFNkIxMUUz
QjEwRkJDQTE2NUI0RjFFNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnVFm7UAAGjQSURBVHja1FRNaxNRFM1kJikVU0VFBHVR
f4BNVu7s1r0bF3bj2pK9UCwRJSDqb2goNYopdFWQYFKRNhVriTVooBWbiXWmzcdMMsnMvE/vzCtp
0XQjgerlcefc8+6FM+e9GYlzHvj3Qmu7FyJDiLCwEoSSUibLweCxyyIMHS5twiCD0JmPuoWI5RJQ
LPwcjFaE0F/PKsEwD3DKmYHRZ6M77BuZXN2LXYwsfGl2EQVrZZ8M8EFEu93uy//Y2TligvqLM4Ys
p7rXqWS/ZzOVsk1IXmuJjuSKZjp4sVzvuEQwnt5QOAzGSJIEoPe6AgOZSqWUUMg7HdsWJGTLsuLx
+O2Jib6+GoYhQKFQEGBq+v7hhgcPH/layb2p6eHw+XMnLnFaG8LVG28XeACPvCiNPq+uNNmzD/Vr
lyOq6YK7XPjatW0hHDT1QCKRKBaL0BCNxa6Pj3ttfogG4Gf8yOfzUNZqtb7upWZne/jx0yfegyFI
mflXwlTGPM+qjexqJbP28/2i+gnoM/PLt95oN19rYrBc25e3fwfGolHI+aUlWL0DBZzL5QCoquod
G6WCFLvpdPru5KTApmlC1nd3ITuO85tijPHBrahuM4opcUAoxp4ITNq68Q5TZ0NbhnK9oUOe22q8
3Ook1xpdTP05+LzoYO7rn/qODPDVX76pnscI1w1rw3Ph21yqlAHw1TTvFDbVDuyy7ZbLwXt/RDqG
/ysn3tXzoSQpYJiDdVkecYizrpeunB1rEn711OnNljt6UpGlgzmJMxT4T+KXAGIcfPUW0D2MmKID
X2n9+vsDzj7w7Pvq25+BjN///j189+Prr7/ff/2FVLAD7tD/bMwcV97ePv7mRdml2yfffV947ztE
Yt3N99xszGysTMAop2EzYOny5bhjFlJN/gUVYn+BxeJfdQG5e++vOYtxbnjxQIqHUWfNExYmxiwz
8YUXXl969oWRkeHffwYmJmbmXbt3r1y5EtkwYG309u1bIMPP33/xkiUJCQlAEWBdhawAWFIi122Q
tJ6WlQnhiomJQhjv37///QeY2RkqaqpBcfrrD8P/38DITMvMApnDzPfp+62br/ZFqzrZiYhp8P02
E//15s8/RgbGxuNvvv5l0JXkefH5F6iogFdOcAB0UEtLC0RcQlISwoCTEIaomBikokLWWFxWCmFU
1lRv2rIZwj595szPXz+raqrRylRIafr33893n89+/QmqNVpPzVHbvox99Wbh5Ve+/wGV+VPPQeu/
P3//gUIiKTm5tbUVXkvB6yFg/Xnv3j24OFp94+Ts/O7dOzj3xcuXEMYjpCrt/v37KKX+35/IJf+d
u3d///708evVR2/33Hx1CKIm59xJIPns2+/aM+8234M3gP7St3gCRjojKzjqwYUQI+u/fz9//Xn7
4fsDUV4TYBO188KWLyziL3/wh0vLe0jznnjxzUKcHaz2P53LUXAZCXIusFr6A3QoAwPQeUwfv91i
YOLmYBXe9fgsM7uMl6QcSCWwDQNs7zEOtcoJIAA3VhvTVhWGe9vb8XEpymBTtgobgolokdUR/WHi
BzNkTBcTjZlzxmyRH+pP5Qca3QJhif8MIzEmTGGAdJ18GIUBYxtG1jkdUBqoa0cHHYyPtrSl7W17
v33PPV3bMOP2oybE05OT97733HNvn/d8PM9LbE5F9Z9HVp5+ckg3liAvaEhVsuf3Jfr5HRQjiIYp
z/v67eCRQ41i7aXZHGoLkRgWxlRsIkxFUVSm9ggSOZknqB8QzdjWzzE5aljDis8nPY178hrN/tt+
NksJzFQ8VZkPwnTA7gcot2WoHt+ankupczLUaWoge1iWKGJKapMUhmEepJvL7T774zkQIffvCmjG
AQUoEZoioJkMKC+EJIimJKwEHeaV8cuLE3AKDC07aYEHQMO8kEZK3760fcwrTK0L7VZ/x4z3laJs
vVazSIt/rUWX4eQkCLQ9oWlLoJ+SiGFqt9uzNBrQogWFhVhq7tHr7/1InU5XVlaWfAndcG1ubsZO
sAEduLW3oiK5Z2lpKbZ3FxXBi8rLy/8ldWAwJhiI87ZzcHgI245bjrErYxXP7gUW0dH1A5x/kWiC
K3p9vlgyZnUV2nA4ZDAaADd80MBXWSwWIBswVW122+XRS4A0qaIizMJayBxhlwgp+LJWn5eeWZVf
eMQ0cHrO4WWZr27OPGqctgTZ7up8BamqeSZvei36jdlXkpf+tm5bmFeYl2m0Y0R5AFSJ8CUUyeI5
udzrhCe1Wu3RY8cIpTLuef3gQaAoZ9rbVST5QU0NfhCLbbj7WEFBfG/BxtbcXKAYuMJKbzx5Mj6+
2+3GxqF3D/+jUPykFpGfgfPn8WXXWQM2Dr93BNp35HZD6e7t+eL4ccyIevt6sNN01XTFZILYjFwc
EiV/KDzrDvyJOA7r+W2u0+G1Nk22ji5ZwVPU32mYdyoMiO8Ud1tt69EXf17qsq07/NG2ae9igO2x
+UfnAqI8bIhFCSqOl3kUTCgA4mmdrqGhobikBP9/8FBZWbiOT0yAc8fOnZjkVe7bBwhijOrq6uIx
cMmgxDHFHQh5i4zxKFGEuwBra1vbp7W12N/S0oLTG8Bhk+F44603oa06UI0vf+nvx0ZvXx82TtTX
xzsPXRjGxunvv/v6VJMszDkMZWeXnB0ReeM5I+5TVb0fpirOOnEceinDecPMMhjjCx0js61g/Hrn
OrTVF1ufHERJlBNTiBA+NzDbYPYeuoToaf0fa8PzwZ9uBhJEOZaYkDbRGUXTNEVRKWaYKKqkTN8E
BaHacEyBgbi8gidVD9HReR9tF4m0FXrVFaFfe+LomZnuoEJzNcC4hMzhFyqb7PMflxR+dG3l1Uey
rT7uS/3DvbfoA7sytyjvkkSEpJSyzGRKSrKYSE3B2iKRXuLuLpeYLMIGzwdlm/MEJ8Gwu0bG7wyC
g+HZ9htgSJ9ZTB9OXHcEabTAOb7b6fcx8jRHKShOrmxyhXkq/n9ZKI85eFyzy3M2oT2kWAeUGGP5
dVKZqVSq3aEbjCBFeJAlGaykfip31zXPQjqZUUxlUzHeep+V/bcA7Fp7UFTXGWf33t3LLixPZYW0
ulLSCGKjaUwrwUasOi1OKknaTNpm4gNI4mumdkxrqUmMFE3jNJLppGNRq2CmDSoG0kRrkqrhsSC1
g+GNsETYZZdd2Pfj7n33u/fAZQXzaP+D9MzOne+ce87u3e+ex+/3+76vKOb/r4otQKfGippGgOJi
iYkNBCBqUoz6TnwtKGUg9dUkUTMLyXHTWuxBZp5GnNpnO52yN0X0InnTFaAjHfr/GQr8kgXko8Y0
M29dGSHX3qN5s8Ozc1m8LOF22oPgVEypAMBEYAqNSqkjcC2BqTARWQLinrsORXwUlqAigrMLMIu4
z+GjXoaKl/hoeY9Dr9YsSyLsQfbtfv/9CfiKeepFCYQ9wBji1X1jJGB7nVqZrMXv08cGKVaNIw41
h5c8IqMK7M4jQznDmxPzacB9q2m0x0YG/+0e29fe1R/yO2hKi0cdvxXKTCR2rUi2k3yKVtViJU+2
jYkzlONzFifQrGD3U/ClODSJrGkWLvmXD76yaOGibVu2/E/gVHXnMUIzfIjAE1yhoVgi5aajd4Ti
dVo9IKSCewzQ4XD72GML4356zVWcoakbDOzM0q036I5ed0Rx/Pp0nS/MRmOKrydEz49RESolEqhm
mUN7enszlyz5ch5EkF6OYPEobiVptNgkZoKt0E1zIU5QqjCdGtdevt20QGe44vL9cMHC4hs9YwFC
jycZNy6+96y1bl1yVhJx0Gh/KUf/1y633UflGWI5XlApFCkxqqQYFUxScdkjxJu/cSN6jJKSEqhu
KijIz8+fiZeXr1hBTkbTURV9ch5+GLVUVFRkZ2cDDYXGaQORcezYMfRDzc3Nn4XKG5ua2tvb5eq7
7/3darMh+3RV5eDgIBkOV587B8b4+PiweRjdimSxXp8X4HdDY33LdaOE8DmbzQLtF2ovIGB/ofad
UEiE6yQ14gn2kbS7236N5yd4ZItjePVVkfWm1P7zmca+5Lf7wS7vmPj+Zy6aWZ63+ulzneNtVv+w
W3SIO0gzHC8e9IiJp6WluVwuq9Wanp4OLVlLl2ZkZMzUSiQYrIjUUxDTz1u7FmkrZWVlsiySPG9e
5EDZMJvNJpMJjMysrJne3PPC3rsG3Iuee1ZMHaiuRtX3L11ERsmL+5Fx6PeHaVp0ViAQmAz8i2XH
7l1wPXu+2u/3CDyHchx4iTuN2sWXEaIsntDALcelVvO7Im3j2FPdlzZeeSv7w7oAw7z1qdlG0vOr
+/e3Ondcs9/yUMc73PsaRs93u9pswWFPGD5BmvWQDJz78FHev3w5yzAjIyOJiYmpqanor95VFUYu
w3DcYrF84YKDSer1epGNBiKjsKjo5QMHyg4dKi4u7u/vnznwwIsvwfRB9taiQrl9f4kYAaSZCdwH
bBUZZQdLkfGbX+3bvG2rGEbc/jx69TB/Xz3ymqS9ArtlY2N0cCg9u32H0djU3PKvJmPD7w4dAd8y
rIdi3PfO/4FC8H3QX1nVccrks76X93MVO55QV/10a+dDFz9xPJlRY/E0ubnfXnc1WEOHc/UDfu7m
WJjhhdEAS9J8fDSOUg3wOJ3uy+xIGIYRBFFaWgpzeZHBwLETvO1oeTk89+joKHNnCo9Go4H3tCQz
s6+3N7J9zSOPwLtBdm5u7swfgud5vOCxU5Wnt27eEqam1E+/3xfpR3byAaBUnDje0dn5x/I33nj9
KFRfO/wqXDc98Xjd+ep9e/c89fRmoKGsOBBAuyIYDK1a9RAKdeWsWoVwjkKgh5yXAY1+K/WBDbGG
N9uOv9B86sHE1LwFKX9Y/u34d6693j0S4KKGf5y65n37R/mpMESvwbYsS5QOonCI4ZPFmL0gKfrS
yoUbv9izp6i4GK1NWPIqtVqW8jweD/Q5c+YMWuBgfyxFSGUJVV7U8pJHkocc653qplDs2r27sqpq
aXY2ER0tim8nT37WZgpeQylBULYWF8L1zxUV8j4rd9u+a6dxckduaGxExqMFm6Tdk3/iyZ+IguFf
Tsj9g0EfLHlJHAmEKStsnTTr95O3LW5j4+2qc11/6hjr5sToofCdD/+WUFvzfGuXKL/WD+ZdNhd8
YC+94fJSbO2A/2yfF/ZNaZfg0XqfyoSqr69/cOXKNXl5lpERqLa2tsrxZpQPhVKiUIHz5KqkZsrR
aGQbjcahoaHIntMGInl0W2Hh99etq6mpicyiiiydXV2R1d6+vkgXy/aAyRRZRQVto6hvT0+nNETU
hFiGFCZ1JriaTINOlwtsmh7jONLpv2FxfiT6mvZcNU1lmjkpsqDxolx95aYYnP9li/OKJXSi2zNN
4ELpWnOXKclsHQWyBYk1SbApQjESOC6E4wkiZ/fWx2mW9I/Xw+xbvfgpaCm9Ufm9r60+aur7Udp9
2xan720bMAcwPRH7QHx0jp6IwZWfjFP5hhgUqp8Ih0YJc9ihk46bTGdACh5CoAoRoiqlBRPEMG2A
/DTMelRYYrz2G+22f/gYdpQMjzOq57I3QeefXf84DosXBG3Fym+2OMjvpiDiL3S7qKwk9ZTAHDW3
xZEIJ05oo4gmSXRelkrBp0qlqBuFKFuIBqbuAZrkpsKrFz7a4xro9TrbA+FAlPbIspU9vlBmnPa0
yZWmITakaab5US74nOXyKAQy3cUKIUoG1LjkC4AcCopx8AIDnjUk5fkoRxzpZHnW4rexAv7rrFyH
eIzzmXEwMfkNqVqlGFmBQ01Q3U0Iwb9Qgp7dir08PUUbQzH1ST4qpfyKs5THMNgKsVgiDWoh2skL
HK7EkqIT1uuzxfQAKhjg2CxdHNxN0yCP3d2bUbMr13VWlP8IwM6VAEVxpeE+52AOTkEFVryC4plV
V43ZaBlXjWYjGl1j1GQrm6zGqGE1m8puzOmRYysaY4yaeCGIGomAIqImmkRBowiCghcMOhwDw9zM
0T197evumWaGAWNtWVu6y19dU93vvX7dPf31/977/+//u1wg/1d+CtpHNYTvSdUzHFdpd1IslKRS
Rss7PaWgthWH4Ym9VCjs07EWD+32MteN7nFJWiXOW1DP1doUGDIsQYPAMKgCykEd3KFA5+QwDOnC
aJd0hF1+QIHu3cV4y0GdaiRUCLTgkV+3XJjdlBJHwvA2W39NiwvAdGB3TVCoBW9QYMHghqEIv0oK
wCvW9YYeTlDRbd6e+9HfvU/4su/YTAQ0PUGVqPZdekeV3ephXhqkjVJg+67b4lXYE4lq0Yfx0ZlG
OQovH9NdbHkWaFMUTopSUgwH4Fhv9fQIVwCtqsBRD0krZRjr15gIArQnb+dEUaRLj3YgNE1j2IP9
9fLzaE6wUSB3b8ZBrH85c69odnqdZsKhwMMa3K46grDTUBSufLonmKpDDW6im0K2r9ZyvsVL0Ojz
vTXpt9wAjJkTu1XbvGoZ3D0Mz9c58qqdfbWYl2JaKXZkrMLO2+C5V0bFXahrHZWoYVlOKePVapXB
2TdG2WgjY7UyN8lolRgAK8fzeVlE8GYAndo11ncsJEnK5fKHW9F2FGTXTlie5wnw4IVhFEfVAeWs
k3KbCSvFQf20CdtrytwcZiDYNYOGnmq2qFDs8VjeTvfkiVsqXGknkA+HR66vcPRQwFvHx9pJ+o0i
y9g42RUjYfEyPRWICoVsJLtgUITe7g1DoUn9IssbnVEqnGHYFhfVL1rZYCd7AIx6Wa2CJznIMN7n
KRCaIRGpXRjtQO4vefWtVW9/vGbtf9va5rNi/MoUk2E9NONmWFKOx1g9OprlwMjrojzJMb/V2fVg
taSRKZVYmM5pO9akN9PwHTed+9gT4MQbrc4qm3tmYmxy3g0tJgcDz5/7aLbfcI6IxHY/GUcynFyY
a6bm6cNl6KAo3OKigNJf8mjMZYMrKUI+pLtKbydUOEZSjMVNJUTIrW46WoWDOUCYDEGFqAZOtMFw
XXq0I3E4HFqt9r50dbSgQKVWTXhivFRy4uRJiqKmT5v2n3cqhRQF8QlhwcwWiFFEMAQHFPht7SKc
YVjG8nrUA+YDGKxAELmLbG5x6bwsS9B0lOo3eruhyeNkEOXsPo/DMLzpenGJ3WFlMIiVjYvu+e0d
y4Ru3T4b0Rv0FXngqgJRPt1DfbqewVBWA8MXZ8dL132hsAGHoYUDtYW61nA5ktpfe07v6qFCx/eJ
aHKQSVEKMTYMLKRcXgZoUz5kFfUhEw+MCI6OjoYRBJfJwAb7RToU2wwaPBgc9hdCHu4uL7/yingu
2JKTkzswKPg7D91AleR4XrdunVgihvkOGz4cHKIoei3YVw1k2fLloArD8a+/+ca3fqypCXwE6YlQ
DEtITLybdgnmjDY2Nq588+8msxlg62pl5cWSEqmq2Wh8delrJaWXCIJobW3Nyz/y2uvLpJis6ppq
0MBkMulqdTU6HUES4NditZjNZlACNpPZBJotXvpauxt4+9133nr7n+0Kl/8tTdwp/qXk20N5ZosF
3ObtO/olr69obGrxsbVhfM/e/cYW84o3/3Hyh9O1d+oFMxPcbDQtS1tRXaOjGa6lxbxm3acHv8tl
WSfANQ0mjZTVQeisrmsqeVxS1Niemr4YTDbYypUoPav/5Dl9fy8CYNmAx9JHT50dF9VMNH1zu+Lz
Eb131em65xXhWeescwdfm5HUS8P+4TfQ2Wd6WDjo0ZyGOcebxBveMzV+x5R4sGof3j3s5eExx2pd
JAepFNjJGrvBRV03uksbnKCZEkcjlLgMRTiIQwVqI+IzZnNc1r59okN97ty5HfrLbTafCzVl0CDQ
LJS1005mpKaCZuDBrEKsFthPTEwMJfqAcilip1350GHDxMO1a9eKNAIpjGfI0KF85wii1+uls1at
WgUKAfgkR37P+HjxxNAEMHuzshAUBV+Jn8TTXtrlNklbuRIANLTZ+6tXV1ZVhZZ/+dVXUoBQ5r6s
wuPHA2sP5+cfyD4YWHKhpOSrrVulw13p6QDK5RUV6RmZgYWlZWX+OG5vuyu+JASQiYEU+w/sf+f9
94RIC6/g6aZ27t55ubxM9Kf7nfvMzZvXP/3sXzxXCcw+PdV2V5XJcclgK3J49Ab75SuNBVeafmwl
LazAcNpR/vXmy3vWXsxYXLTrpsM06+zRtMu/eBie3rToYpki+yR24Keh+aUpuVWyPTeG59SJF0nJ
bhx/2HCm0TnreOOL3xtO6Z0fFDW/+7Mvx0vuDVudnSystv98x1FnIyqbXTqLB+hRs8vLu1ZYH7XK
FxYGlIr4On81fuVeMDpu3DgRoM3+gHsRdmqNJhSLHW5QAEMtFKNtMIVhEUzrN2wA6ARbVlbWvfQv
bZ19k1LQX6Acys2Zt2D+R598IpXMnDO7w9OByl+05FUJW/kFR9v1szfgPn2kuTdWihSQGl3Nlm3b
xMIP16wW0+9YbbZ3P3g/MO3Sc/OfP5Kf73L5vrH5Ly6UMhhkZGbwQYU8P46VQhHrG+rr6m+DTdrR
19XW11dTlEWCrdNTa7QVN1h+ZBjyqmF/ad2B4tv7vq/OvG4q56l8NHndfHN9acaWq8du2owTTmam
FO6PO/LdmRZjk4c402x5obji82v6XbeM8dnX+xyqGZ7TsPmqbVRO486qIGrLjiuW9SWmTaWmegd5
sMpysYF/BKubMjrbPiExqxaAKfj1pYAoLy8HeiUURoFACcQoGOvvDuLONoVS2Q5DIkVVlOiYGFFB
FhQU3B2jQMaMHSvC9MvNm0WA5ufnBzYYmJIiwv38+fMd3uqFCxc6ewpzR1pTEiHykRcwIh8NuFVJ
li5fdrm83Eei3b4993BeYO2Bg9+m79kTelbqs7Ok0FZJeNYW+J05QyoBQ9NfFy/i8ScFofnPFQ93
7t5xMPuAyJQV0ff5FxuPFuRLkBUZnixLMnSrl7IQZD1Qqw5XlaW1zGgv1psLaYb0EaOaj52u2VZw
Y1v+jfQfao9vKdvx8cWdS85sdXh5mmylrblv/s7uR7L+eOZ0Ql5ht9yfuueeX3GRzxnipuinTuqW
FBuKm4lnTjbPO2VcWRT02V80uDOqbHUOso2E1eK5YyNYlrN5KNER1cakBa9/6NChDE2npaVt3LhR
fPFBxkKBVwjAJJXU3r4dmPJFlNLS0qlTpxqNRtCVwWCIi4sLnYBCfhZvoAdM2je1tHi9Xrlc/syM
GbQQwniXKeO54mIA00uXLoHbBoe5OTnT/dRsUaoqK8GkFoz4Y8aMEVEe+lDiJTZs2JCQkABwuXjx
Yr8BOWg5PGnq5IXzF4waOariSgWA196MTLF8zQcfApU5c/azQ4YMmZmaajaZduzaNSB5wKaNXwSa
sdplcPvT7DmTpz0FFlK9evXq37dfeHi4WP7eO++AC31feCKw8aHs7ElTJh/JzZNKIiIiRowY8dz8
+SvS0sDVd+1Of37ePI1GC+bQYJoOcQy4oFwmrJw4FszowCJp+dJXSZKeOWfOwAHJ06c9pVGH36q+
kf1dzr7MXRAL4xhP1dSEDXQRtSxFyBClwfYjQbeGhyW7vBY5qiJZ4nc9p0SHxU0M/g8P6aviFGFW
RtZHrT78+ITAqr21ZhcL6VzM7luteZNiCYbdUuU8VueKlKFFBo8ah8fEKsAqqqLFq5Gh4UJMWHKM
Qjw3XIExol8U7fKF3sWI7XSq1eoH2PoZEh4YSJxpK5S+TNZvLoXbbKC8luVnq4K5yaOQ9XS4qxiW
pBg3imqi1cOERvSl+r00ixE062aYiX3mKrGgyLlWinyuOI+ClG5ItjCh76K+/QJr3yypbyRhjkHf
GBR5sNatROEIDF46JLzMSPQOxyPlaKizK2jfj8wuX2gHwiukB1l48HHBmJMIskw7S35ovKuQS0Dg
ZPJuKgxDlDgWBQ61YSlgxIdQmGI8jdafSMYVqx0l4/lgkAyHxveZJTr091xNpziFi0NtFJw2ZJoK
k9EwHoEoRIBuullz1uzCIBzl8CFajRfi5DBGMNy6kZHSDcQo0RIjocGRCBkyIErWhs42dcn5nRBd
gbWdCBidZSGTmQdYjyJ+ZRmiXAVWpugOhYMdpxJ2wWRAcDjxNjcvbWWEyEMFHqeS8wZOL+O61fID
xaIk0LEMMzJ+UoGukObkdpqd0uuxJA2fym9l6QkGVnohzEHBCxN7HzZYcFiWKFesTOF7WF3RHC2X
yRH0L/01gWrSQTJaX8oMrhNt2jXW3wUDQhj3w4BRpH3sMK9KOZ8BX9BEHelRVMjzwQXa9sXGLEt4
vE2MP+gFx7ROstnL0F6Wz4HRJ/LRcEU0aHa2vsjmJQkO9rDo+B6DM25XwoiS5LDRkd2m9YwPRBv4
J08YnFocDUORR7S4UnA+MULuPrgTRHZh9H/jG6LaTzo7TGDBR3PQXBAOELgN01yAz4lPsgqQSjGt
/JIfYJSjYAhTKxKEKva29QLDITTLAqSmxI4ubSqlOJjkkFaGnZU0GuLzEBAFhjtKVM5BSGp8Ahw8
cAd9/vfCJGiPUZbueukPm7DBAz0XopCQ4NEztDY0XxLSSf+Qm7L5It8EmkeEPDqkGWwi3QiMCn52
WI1h93cM+rcA7F0JeBNl3s9cuZumd0sLlFtOy6kseMByy4qsIOIBqOjiqsAK8qnrtyDg4qoIKqu4
IHIIiIIg5aYoFihnaaFcpaXpEXomTTI55/7+M5OkaZIi++nuo7t9n3nyTN68885k5jf/433/7+/f
Kkdby89QHBQHalyv9AtpsHDrXHS6IUrsWB1JGbWECr9VsAvL8qEB+Wjr/f1vsrMZyTy9XdK5Mper
0OY8ZXHeok25g8m+Qda72SBAnTTrZflKO3XC5KdVcNPsiRu2GocYxpAUo/RQUVQ3J7NmyINNzRHc
Kkf/exDqXwyL3EbMXrDYGSZG5LS4lfYuqPNqCaRbvH8Q/rTZVdzgHdpe3zFe0/wNUYR2A1/rSZ9B
Q2iUWMS75I/Ab8VoawligkdkCurbK5tK3B6WvzdV2T3uRyLBwYq1uJlkvTK05oLZGa/F2ydow3AJ
olSWoKDrMVRmxm7V9a1FHAliWJ7xsu7bP2RoqjJdhyWqRfmXbXJ9XGQvJ+kWMKrINZGfn62B/fNm
l4vi8ivJNka1l+FrHVRlo8fmYawu2sdwFMtJnGOyuEV4wc+M2RqH/yuVe2xgEBRRID99phCMAA69
vX7MHnpvlSteRUzO9A/IX7NRu2+449XozF7GyxbvxQZqbEe9UVqXvPe67XK9LzOWeKR3onis3Vdc
77mvs7HM4m0XJ8IUPCeQl/Ap0o2Jwb2BxSHwKXHhyqH4rRgNL2KSJIL4JSNUETpceMt1oSED+KEj
o7dbRE1N+xKV/jh5KJfs3m3lJKFQvt4nFkfRVVdIhhN+1079Vr4DFfipXfR7bjgxXlj+2zacIJhJ
pn2scuMFS/cEdZnVCzjrmayFncw4lYtiY1SYTimOUnVMEpW+l+bgJETABgWRyvFi7haQpq0YDS8/
PxP/z194MaZJXByC/agj73c7/hk/qdZd7+W49jEpe26W+AS8lmJndxZXUjhZ1slwbTSqF06bKQ7r
oFOTlFDp5nrH4Av6xV5upO9MBPMUmX6gWo0KD3XSHypzoQphag/jsQpywh1xHprzsfyADAMAVK/C
i+vcWiVKoCj8GY3IiqcwasX3TQwYlTQ+yFGQsq0YjVIcDkcwXu4/32pQ8Ehz7JqdlW6GFpfhCWj3
uLYmt9PLshqcSNfEvFdcxvK4w4c82yn1YLW3a4zqwXa6qzb2zUIbISDrhyXESEQPNh+7tsjWJZZ4
qKtxZ7HNRfOjOxrWFVg6G5VeBowKxdiucfESHK/UOGNUuEGDg+UZo8ZZaaG9mCkQkfiFZTKu1rin
KD5EBAH+zzTywyP/prTSt7lwmZWTTLI8pSaCU0eKjJh2XtZr9dp9HMOwvgpnXTXNOliQw8pnOmRc
dXiHpcQZCNzDsiuLbRvKyHsSte20eJWLrXIyPeKxt/Mba93sS1mxr/zQsKPUNbWb/milr7DGM+eu
pBOVrsezkgCyJqvXoMaP37B3StQ0ehiGFwCaFEsDXt0UpyJQWctzAt+6djl6qauriwzQ/ill4xeb
HCTZrm3bMpPpT7Pn/GvRGRpFitzaVAUtSvE8I8bqYaID5KYtbtqBIEqtMv56Y4mb4+0MNzKjb6G9
wQPOv8DE4JrBCcnBHvaZyXNWdkgSMThZ/+Z5+w+1PrVCMSpdlVPpoRhuz4MZX16139VG0y9Fu/JM
PYEig9I0J8yutjpx2SeCKgal6ytsvm5JWrBoDWoMPCeoV+IiQEHFs7yAwycH+60+U6TrajZnZGT8
XL3tPbBPo9YOv//+f4sA5ZrNIf0YMYmY+4tzcoIP1CuGakhfrRTixMWqUzgBtficGIqpMWW7mNS/
XMyhFTobqxgSnzotU1ysvMtc11mv22KyH4GDOHxed+Mnlz1grR55IDVe7beSrzX6Fp+2YoLwaFf9
9+UuDYZM6xN/ocYzqVcCOPXVJNUpQXO20tkuTkV6Wa0SE1fWo4gGR+XEdqDuMVGaCq26/l+r64/n
nVwW4ECXi8VqSUxI/ClGg6LZeHtIsLPoGGES7zcabCCxVwpy8KgQCmIE43iPxEYmZkDWEEk6ZSLG
ujUIqsHVGsJww3bNybAkK+yqKJzd7d4N5cWd9LosY4ybY5/IO9fAYD4Wn9Y2ubMer3QifRNUuQ8a
ns21DsmuvdOIfTlSJHi6I149q1fszhKyf6rugc7GIybS7GS6JKrX5Df0SFRZ3EyZjbojUQ1gzTCq
OE5QYqic7AIkqJitwU+kg7RiNMrY0885SuAMn+x+c8mSj1Z+8NP8HE6B4n7Kp1Cp2UROzcs1IYHM
XIC7tgnrOKZnOY9IqoAZoFNQ8Y3uYppX1HEcSXu6JPQ/XVNA8/z9aYAo7dyud848lZ1Tp7lJI6uz
Bs3Nv44q0N+3T5jdXT31hxvDj1QwNPZW36TD1d6CRrbcyWbGiNC6t62+o1H9yrG6dC3W0YBbfGwc
gWbEECVWaka/pHKbF2zQtkb/JGq1g9LyqApDeUyMn2I4Xkp409yn+/DDDzt17hykS1BrNMOGDz92
/Lj8q9fr7S0Vu93+ozdy8ZIlckrWiRMnRv46efLkYM7W4JbVt++UKVPKyspCW8rZXac8KtJ+T5gw
AfbvzMoqLi6O7HPhokVyJ7t27QpW1tTUjBs3DsNx+R8Z4+JefOmlW195aMqCUANg17ffHjp8uLGx
MaI9czzvxLavvzp77mxofYPFYjKZQOaZpFJeUVFRWQk7gAm5Rk6KcaMsSmqM69FyWJSUlgbHRMtM
5Xv27d934GB1bW1Yrj74CT59Pjp77x7SQQbHnrxe6mjuiV2795aUlkn8ZDLnukgc5qNrHZ7rLsoM
diIvTTsl69ITNAnjOo6Y2nVUn4R20BJgQ2A4yTBKhaJXbGzO8IEcSg44fFb/1YnR6QY3w3EIYlCi
5Y+mfzMqac1V0upjA04Y3H3BTvNJWvx3nQy9ktVjuxhHdYndebVRp8IKatxnzE7Z3kw1KEXqD7hW
aTyfwNCgLhDkhAmKwIL04My/vKAZHjAATk574r/70ZafR6VykBdkRiYPyMrKanFxvULxzMyZYf30
699fXLfu8chfYwyGls6oCGEJuOfee+VKLECCFzzF/gMHWrryoqKisJo3Fv7lyPffUTRtsVo//nR1
6E8rP/pwxQcr6+vrAamVVVULXnt181b/2nmoBPw9/+IL8AmbqdxUXl4eWlNSKqbR2bR587Hjx0L7
BKftf15/Dd6KsHQLQZ6IeQteARBLzCgkOGSLliwObfnyK/OvFV9buPjNEmhDUYKUxOfd95evW/+5
3eHwepzHTxyf9eILIEFZzu2jG9y+StJTYnFeYDh/JqPyxpP55t3HK3a6KDIKwUfujl4Hv37s1LE7
D3yXsis3dntetrkRTNtS0vvw9xU5N8l+O6t77jD3+KrKTjUlfiAp9pNCq8nmW5ZX++HZ+hOV5NYi
y55iW6OHPlNFWqTF9XLeWhfFhOa+8Ke/yM7OFpl9pYc3Z84ceF8pigJAFBQUzJw5EyrflogPbh+j
ICZlNMgo79ipU1SMwkm3bN26IVD+9s47kTgLxSiUPtFISprxlAQIFAYOGiRfQ3xCAqgCUAJOp3PP
3r0y3w50CxIx6sUXFhaGfq1vaHhn+XtRW7634v2cIznhXATLlu07sD/4dcbMp8MazHimWQ1cFSAy
tGbpX/9KOp2L31oaWvnnv/yvny2GD8/4seydvxVflzKESHmRXpw7Z+myt5qSzgrM2nVrjp3IlQLz
/FlmLZa6+a8uCKy4BzTYnJ4bja5LDOuusB69Wru/4OaeExW7Cmr8SVuuWoo3Xsk+UHF+S1nB+KPb
B+bsTM4Wc1efbGg8bbEtvFhS66XitxbGbytO+rLsgNnVdVtVl62V4EyJHCo5tTMO1dyw+176vubP
x+pO33S9f6ru43MiPwj49TaveFWF1a4akrpp99W7aECqj+EkmHJNKVqCyGgpMS8optvHqOxzQIfp
GRmznn9exmJtbW0kRhURzCizZ88OI8AJw6gnIEoTAzm0ogpR0LNyzZChQyOvECAuMll07Rr1+s+f
Px/GWRKaeStY4DV+dtasqD08+dSM4P7j06aF/fpYRM1TIXpDTOglUjwAuJ8JrZz+TOCriNFQhgTh
1OnT69av97NCiAfO9HmdTfmQBf4piWmHbwI3L51lFs9TUua0GtJz3ea8WO84U2E5xHF0cf3hwup9
ZY0XGYkM4szNvHUXNy3P3/j66S9KHLV/vpA77tj+s40WRpLQii27lF8fUWzKPVxtU6y/pNxYWi4x
Oyw41dhnx83Vl+xjsm9OPVjzxIHqvJuuBUdrTplFYpLCOvcRk8PuZb8zkacqyRKLp9TqtbppEKik
TwQhK+Ucgk8WrNIggdaDEya0RAybmZl5+yb92LFjAQEcy57Pz09OTl79ySdy/vaG+vqwloDdrV9+
GcyQVVtXBwaxDLWWlrdrNJreffpcvXrVarUCepKSxHWJy5cvl1O+g1SWmy1btgz64Xm+a9euz0iq
oNnfad++ymwuuX79dvx6eBlSk1Nenj9vwfxXUlNTg/V5J0/efdddUXvQ67Ren1ej1kivfXhAEBtR
c9+990Jvvxk8GPaP/vDDlEmTYWfcmDGglIcOGSqfa8yokYG75vfZ88+fP3P2DNwEt9sN91mqFOu9
HrdKrQ8mqAGF0yYtNe9kXtD9h0ePophWraqsMqWlJUouvyA5+FxK7ADwoLomjSiu31fvLKpovOBg
fD2S76H5ayyPMLzQ2ZCytE/K5rLCJ07us3PE+LRMabBdFHU9jVphes93L9UM2Fc+t1vCsXpGRyBb
TZ4vhiUuPdMYi6OD2+juTtMuOmkptdOJGpyk+dwqZ4YepzgkVo2rcQRHUQ2Bemie5sBrEk8nTTgp
cHjY8n9v6Y7/cwM3LHvo0CEx/2B6unTjFE89/fSmTZtAsYKjE0agB8CaNm1aaA0cyDLMypUrb3GK
06dOabVaaNl/wIDKigqomT9/vnzgVMm1EifZrlxRSHQjcOqf/qcWzJ8PNuJHf19VZjItXbykYwdx
gLDKXJWYmBC1PRg4NptdkyZhNMIDi6yZ/PDDr77+moxRsBo3fr4edn7/0MRnZ/1BxugXWzaHDAUg
qz75GBywF5//4/N/EIlVCgoLDufkBMaeAv2LQ1QYfFaZKwCj7dtlBBbfyYNTivkvv5ScbCRwA/hP
KiKZYUk3Vd7oKiKwWK0qleY8qIgZsasu8d1g83HUnrKcZfmbn+w2ZkPZ+RhCSymwbVVm7tFJP9Q3
FtkdL567tnFwz0VFdYkq/boy157hqX88bscEPkOnXD3M/25zAtwchY3m2+gRNapgOaFvmp4Xo09o
o0ZJSD4SgSHS2ik574tI8oinpaXJx2/esuW11177iY9TtgJFk3TSpCVLxHHBzp06AXABjgMHDiRJ
svkYsqj0RRIYFM3Pz5dxBtochOUtTgG/Dhg4EKxGc1UVdPjVV1/5heiWLcE2/fr2zcnJgZ4/Xb26
JUbmlsZB0WgzlikpKYBOmqYfm/bk52s+i4nRw327dOlS1B5sNltKcnJAajIRcjS8Bl450T2XOK2C
ohoTV7AhMkMOWFlBWopvd+9GwAd6+20pQk/siqa80n+RJpkQItC//JQ5kBTVNTXp6W2kmDdUwqhs
HTUtXwa/nmLqOc6HiLNNNQn6njoinuKsRk3qvR38DDprCz+lFVoPi7x29qs1d099+OR+I0HkDR8t
ogoVXr1USijUsV+f+TCr4+IiByMoOsQovx+f8qeTjaP3103N1MzobpAHPp+4w5Bd6tISyLD2xqA6
dVBggNJtY0ViR1wKyeN4RVNGB7hclVotOyLbt2+PSiInp0kM2qORbIl+302CYEsOO9xlAGJL9qhM
6gmVAKlIQzNojwazO8r1IEoj3azgpUJ9Wps2LdnNcLW34zOFs+ft3Pn1ju3yNUz4/cSo3U6a8kjw
65jxD4Q1iKwR0/t++mlBYeGKD1YGM/ZCyTt1cv3GjSAjc44caTJMn37aaq1rIiTj6YMH9y8RHSxW
tkHH/m58wBL10ziOn/Bg2OnAbeI4D8M6KLqBouvdXpPdVWQhz1TbjtY5/FRtPsZxwrQmp+Qf31xZ
5fBZPzn/9xX5ny08vW5R/jf+P/Ld1sw9mzTfbD7ZYInbeThl13HtNj/924dXakccKL9m9w3bVzcp
p/6xI/UkzYVewNoi294bTfe/zkXfsPpqnOAj8U6KpdhmjUWZUX3zJrx8gKFHpkwBt3fCQw8tfeut
hYsWjRo9GkQU2HyyCxJUxympqXqQJCGbLKsASaIlynF/X7Xqs7Vrg9v6zz+H/uEdGDRoUEvScUD/
/itWrAALkuP5vv363Vpag918l6QZL1y4IIvt7Ozs0AY6nW6a5JrACwav6f3Dhr23fPnGTZtWrFz5
0MSJGq0WkchHFRIlyZo1a1atWhXa+S1OfaHoYvc7usvN7hky9C+LFoY1eHzak++/+16o8RPWQKmM
MkU5fdq07Tt2fH/0aFqIyTv4rruz92Rv2fblb4c30YGBRDyfXxA6dP/JmrXSy4zJut5/xsBEKIIo
Hhg3dvHSJcFQPfkT7E6JdR4ei0arztSrOxg0XRP1WRoikWbFtXJXanfgqBpDlVpcZyZN03s91Tep
5xPdRi3sJw54XycbaJ4zEqo0jfZwXe3Wu/rcnxR79YEsWaH/o9ThExRPn7C82dfASGSiKkk5/eOy
Y3mBzUlzICxpXnHc7A/+T9YRHeKUKXoisHAK4UOW54vPIz4+3m63Z2RkwGNDJWpFKEHFx3OcWq0O
vaFhRHCy/iIdjtLSUnhybdLSnnvuubAGIH52794N92TPnj3jx4+P+vjnzp174ODBI0eOgA6dN28e
eEK3mmPMzSUCg53wVCL73LBhQ//+/efMmQMP4YRUmkJ+eDlCUbwLYNgZjaC1iGAukTBdv3bdZ5cv
X5k86WEcJzZv3WKIMfTs0UP+ad7LL3+6dg1I06emz+jSpcuhw4cPHj60ZvXqthlNJNEeiX46tDwy
afL0Z55+5eV5VVVVY8eMkSvhDhddKnp0ypSwxh06dACXqNnkyKJF4ydMuGGqGDpkyNHc3NxjuVs3
ffHCnNkBGxR1y2cEIIozT2JekVnP/WHDpo0PTpz4xONTe/XsVVdXe/L0afCVF77xCo7HyvnEAKkO
13kxFy3vs7qvpMUOlubMxVBjAtf2SOov+nZtmzyWTjEJXo4hULWPYd/o2ROQNTrNb95gYlCdoETh
xqMDk5S7RiSdbaA+uOSc3ctQ4+HiVejmYufdKapykvUyfKgD7fc4lRiI0ZBp3uYxJYBUUOsHDx2q
r68Hsdq9e3d4v0eOHBk04I4dOxY1wAyUB4gu+XkMHDAADKxI489/rCDcd999586dc3s8cNT9EcEW
R48eRaQXA36C65a/6nU6AFxYy7y8PNk/6JCZ2a5du5bQDIj/ctu2goICeCpgVvbp3XvUqFF9+/YN
nfwMDbyHN61z585hnYhzQgjSqWPHqKeorq4mnc62bdvqIv541Kh+gF15RQWITJAOoW8OejvBexIQ
a2qq3C43nFGl1knpzhWEX/ojDEP7zyj5TCGpPImammpro80YG5ueni4Zu15BDChhlUSSy1vMcj6O
9zG8z8e62saPwFCVjyFdlOVG43kPy92TORFHwzmwan2edWVFP1htq7J+0yWmKYOAh+XfvGAZnabL
SlDHq7DnjlsTVGKapftTVTdIRo0hM7rHsmJuUKSF2EJFixhtLVBMpvIOHTJ/udcXFtzUNFkf5ooF
lzo1y9oQcEL8Sl9izqFBlLKcm2ZtLO9lOCoxph8u0eWVWg7bvA0U1PIKmkcf6PJY2GlfOLOnnGI9
vKqBEi6NapaFwsvxU3Ir45Sq3yRqr9l4gxJRIYqXehksXg6kbJzKTzt6C2i2cju2WAji13VPkGC2
Bj+xI4I2i3EWhRDXHKZBaS0tdBNABsfBplFlAFJJb3EdeRJuQ3rcfT6mEUMJDOVxQUiP9euWS5Zr
BypOOzh0ftYkO+PVYBoFiuv92llR76MWXzKNSEmII9RJalyNohdt7DsD4t69SGoxJIZAYdtS4jIQ
SLIGHZSiuQU0gzWta5cjMUr8sjGJiaAUN0Lawt4o3j8mJQc7i/YoFzF1EopRFUEk+SUfVe32lYk5
qFE1LzAU64AdsErBWmhj6NwjWRxCKXeU5dcV6gmtQan96MqRkWmd4RXheeGDO/1u7vQzF6wMu+Om
zaASFblGzKmj0OHoon7GuX38K3D0uMKgFJnzOIEPYFGcBfBv0lehKed6axx+RLFarQkJCb9gXc8r
msFOoncUH2IkjzMu8eaFAZQIkbCsINAS+ShP4Ea3z8TxoNjFjeZcGXG/9ceOkVdMtktejuvfZmSe
+QQpJh1D3TyarEud0lEcqDnWUPVpWUma2vBGj6wXz18CrU6gxMikuGGpsTnVnntSNXoci2nKpC5U
OhkbxWkwpFOsFNskCBE2SbOrbtX1UQa2ftkXKIQLTnFYnm3BDCAQP0wRBAkNfA4CHZMwQkmDVCgK
7REOQ4UMgx+gpZYcH0srQaEjwvma493iexZYLuMCpsfUMkCvkw3fmm8YlUqS4y/YG+FSdDjG8si4
jDgNhnY14ltNJNQMT9V0Mcgul9AuBk/SoPK5A4Iz6l9TtPpM0csvfe1yuM8ky1G2ebwz1pyyOfRX
RMp21+RgSYvveNlJEiOCeK+bMtOcW6tqo8KMFbY88Koojgd5q1Mm9kjqzws8xdHfVZ1poHzj2w/e
Zb5W5WMoBcYIxNiU9BEpKSctjv7xMUppjOKLMiuOYiBHdRg+LE0V1dz8UabcVjkaZa711+Mv4YFV
IgEXXmjONhrgIWtZDCtE2Yn6YeBjajgp0SNUOr0VakMi7GCoApcWqMijpCzP5pQf5RClClNuLz/X
O6Gjla0nBMzBKUZIaxUHJ8YGSU876pWMgOgwVIujQZ0Ogj3AUHpb8rEVo+EFRX/ZfqRfZTenEAsz
UiVye3GtSBSHCQ9YpX42JZnQWRp+IhFxRl0QEB6sRGnJBpFh7E9SVg1hIH3WWmd5akzmhbp8HaGl
BFRAUIDzkOT2Kkzl5oTO+pgyF9lR34z0fnCyrtjhA+8+XYvJNRQniHD9Z9icW3X9r6000/VIIOtN
tIcYsp4pBKBIpAEA4hdkJcu7OGm4lOdZlvcZNJ3kEQCru8zhawDhx/IKnTK+wWuleAQ2n4D0iMuU
0zZ8a77OKTAcU7ZRaQfEx/3/dPot5GgrRn/FgI1GJR40AwQJlME0Mk0thebJnMTJSwQBhawQPCLq
ca0Oz5Cgj1AsyQm0hohhJbsVlEzvpDuvNpaqBSTL2C5eBVJTsNPeNho9hmIEihMoFuGn/1SAtfLh
/0pxGXCY/K59c8g1U6R8FH8/HDehhzRr72UdEluEnHSMj1UnohEndbI0LTGLYGDYIoj2585uBRil
W7gRSCscflXA/Y99Xv8nQHtXAh9Fdf/nnr13k81JAoFwJoT7FgQERAURCwhai4qoiKK1Xq2ooKi1
KrX1qGhRsVbQcqt4ISiXIqeQEAhHgISQY7PJbvace/6/N7NJNndQ6Z+2+3M/MWzevHnzZub7vr/j
/X4xPhqTmPx3L7n4RcIv4H4+UeK1PIcWitIz0v1k0XMotd6mKijuLvYBLzWQeKqV6ZlkoqIOgaU+
yMtwrUaKrAuQF2XV5eMECSVlcphom5FuaxgKpuVsbFShTd/6qWp0t2nm/RiMxiQm/3Xw2UxsHI7/
ojmJADVKQ+EqQRQQ7GAMQXY1Gy30TzHb5lZyP5SGUUpdFEiqXtfdlm5tEARaERS2oE0bmJkm0m1M
TrKJJiN5QhqJNyxW+IUQL7MU3j3JXJdxuengBUmBoyktIU5zE6hPWYyNxiQm/+NYquqVjPGLR0gv
SMKSGpBkAkMZl2jigscTFpWgKANjtbPUBR0tKWqZlwMSaWVJi4HScROoKyegTDjwL6uRigZTRdum
1IiPqpFi9TpeqiQZKyAWk5jEpJ6aqVo6b0QF9ew3FMmQ+C9s4T7g5reX8VqRepUT1Y5m4pae1rrC
dKKi4tq+9gvttjIofl5QjSCSITo5mN7JlqY1PlHSehwLcLKPk3hJSbGxJq1mnSCjLOH6SSUt24iW
NFzHRQ0xFYyoHaJaO1MAslSTU8RgNCYx+beJgtW9pjh+ibhcNGSQtXpt6ANgQpMsgf+CUVUqLyMX
ZLMMtDQovpbrA3wlcVWWMQOhzu/r6Ghl2phHVf32jK/EJ1gZMjOO7WhnOEkBKEy2MEA380r9x1xh
WAqMNNHBxgiS6udlgD6HkYKPj5PhcDNDxpvokChLWmJmm5ES0dco0z1NEYoG62SUyq8DqF7qRreT
Alklay2wMRiNSbv0QxyPucV/zgxKWLMvGk5gP4v3qVE703Ut9BIKKoVh/eOU+2RAYghSVnFOwi04
cW+21WmgojVunQ96ePnzs8HSEKovn2YmR6Ya15/w5VbyZoS+qpPFb8xydI9vkOMj3xU6WhnmRdVM
4xO7280M6rYCZQZV4k2UjaWKPOESLw/QmaYZAgoqgjRJxJkoANCyGkSNzQwRb2FMtc4xwMkASuuM
A5hq6ZxUTDeIaIUZ9F+0PKM6mKp6hWY88m1MYtK6WSocZhiG/KVDmf6XYFTG1Kb5EH5eoVdVbBaY
8X9LeYsagTta43aLAnA7UcUtFDvMmZDMGpq2hAZlYdHDq8dRaiWgpURHE90v3vBqvj/PI5ootL4I
ktI/nu7vZLaeC1WGUY5cA67e19+R7TQU+8RzfrHQIyaZyFQLleVkD5eHVxd4DRTaBD8oxQh97i4G
fMQZAk82U13imGIvD0gKKNjJwfZKMp6p5oI8MqoO7mRVZLUqJAHx7OgwmFkSvg8JMuj48DsQT1D5
MSyS3l4bqm5F1WkE2o+l8dHGZlM5VoQxJu2RQCDAsuylnnLgf9JKoNbGrGsR6sTFMBRUh6s8nFfS
stSLihpWFKfBbqKMuV6XT1IEFYcPS1CXJyR1MaOc1rKq7qx076ny+UUVSKiFpC5PdJSGpK/LQgqq
vETICiFI+JKBjgwLnV/Ne3ilOCCbKDyOJbrb6Uxb48fshIdbdsjjCssMqien9HIwt/V17D0fOlsj
AH7lJBkmZDpgIkp9Qn5lyERTaTY6M85wrCJ0uDxopIgUK907xWxhyFrVCjtTFXb5eYBL0PodJhr6
lJBVAbcakNlT1EwQRoYwRIVwAVbqCfIogtAtyCgPGhFT6mPSbvF4PGazGQhpbCr+S8gxYB0KL5I1
b76CrHyEoSUIDolBF3BEtMsCVQQjCaaTJSmOjaTdOxuo3ltVViVJQVkNyxiDU2MSU84F+R+qazgZ
R4gpY6kGw329UlMM6Pmp5qUVhe6TPikgoK0alyWZ0ozUX/MDANO0tmfYE5Lvy7He1N1av4qLijni
S1ffO+I9Xi1Ay55x7Kh044f5nmK/ZNa2JuUksHEGMt8V1jXxdCt9WYb1hDvsDUkkjg1Kt2bEGfSV
h5dUhkIhUzVhycdJFpa0GSiYiKqAANhqRnoXDiyVwpGpVC+1iGkkVD9c/11HThyrU/VjEpNWpbKy
0mq1Nso+e4mxMuVUYWFBQUGl2y1JkoFlU1JShgwaHJ008z8S7lQlauOa5pX6uZQT7VDXfc6ad17W
UhdLBM4wlK1JU0ULmIo4q8/VFLt5j6DlAeHQB+tiTcYJ9nt3SY2scNomYRqnJySlXpbQYpHRal58
Pq/iYLWoYkDrSFEiRiSyS4c6YUDFQVQYcbeLh/4dFDm+Aytj6r3b3SaGQOVDZbWbjZzYybSlKFQe
klhgppIyq5f96kzr3tJAeUAEWByQauqmYeXp6vCe88gS2tnO9Eo07Djtqw5LBppIMtMpFrq0hle1
ggtxRsrGkj4O7dGHfzpRnWUcefAxVKOeIgkgqrgGpsg8qiGongIf+aBqPftqLBNZTNojpaWlDoej
acLjS0FqfKjEn8tVOenqqwcNHFhHmUOh0KU54HbDndTyZu+f6ZjSwVTf4ythetFLhAmUppKLfq5U
lMOytv9XQqZPVBs52ZJRGap0hz0ooxLKQquKGJFp69A7Lk3vEejqxyUFBX6fT8YAYUGBT2XN93br
mW5s8S4cqg68nF9VFIKz4MkGZnZXa6FPWXEiZGEwRqvWIcvym6MT3CF5y7lQFScnGoi5ve3dHCgV
k5eXXv3R4wqIQEWHpBh7xdMrcj2wxDAoF4Q6OAX0dbzAzaMNASrWw8kOSjMfrwz7ONlI4SM62w0U
4QmLgqSA5g76PkngnCjXcBLy2hsouHZ/WAJgZWn0JwnUfEIziday0Tq/E6aXjY7BaEzalOLiYqfT
eQnmZwsEAm+89aaiKPfOv8faQrG5/2QklRvmUPgJbFQPwo9OQ6e99ZiC0strVFRjo/pHBDA1Mkl+
voxHOjp8hQqnSJhqoKyplkyyNrdUDe8t9J72coGAJHGKIqhEB3NSF1vq+pKCMk4QMAq0+4CiGnD6
4R7Zve12jVdjHxWdW366JCCBpk9SGHVNalxfh/XZw5VhlQQNm8QoL4ff2tX09EBncUA6WcNXcYqb
Q5s4M63UZSmsmWqwcsgq9n6+59PCAIAdIKMgyvf0j+/soHefC1aF5TQLfVU3G6MFyVeFxKOVYZi4
DAeTamW+LfQGBMVEE/C7w0iW+QRSSxJpN5J63ToS1SPDgaXCNAOUA1EFGgvXrrFRldIcUDBZ0LO+
e1WJuZhi0h45ffp0YmIi6PWX2sB27Nq54eONV46fMOnqa1pqs//A/vUbNw4bOmzqlCn/b2iou+mj
w5s0o2STCgV4A5oZaYNFKfV6IjqiFiLlZhmrzisbZUmKshQANFBIC1d4FDGqSkrESEqwdDxF1Jtu
wmKVjyvnpBAvC8jHghF2Q5LTlHqo4mBQ5GWMEBQsjEyiqk+Sxqf1zY7rELECcYG1RQWH/V6XIPMK
kcSa5nbp/nV51boSF0saVNDlFSCDytzMpKf7dYLLOB+WiwP8umLP6YBiJMirUs0T0803fVNdEpbN
JFytGhbUvg5q+RWJdqYpDVc9nHKsijtdIyYaicEpZl6SXt7nBr5J41iCgRySZjxVJfh4GcVOqVg3
JzKhnvVwKMkUgQ/oYLawpDuAKnzHm2kri6aOlxROUgCFoRPNlqpAS1ILxdcBFN0nst5d33ZsRHVV
VWlZWbXHU1ZaGuZQhT5UMk4r1ZKcnFxXvbGpCIJQh9GwCNJazeVf5LHkYBhRYbEsy7az5+ghtbmI
t8cUCEqHKIp1Z4dfdKVSkiQ4V3SEEEEQF+TpbnSNIK3nQq2srDxbVFQJym1lparVeOqQmpqUlJSZ
mfnzXUOyVtj7EsT36mqPKIg2q62VNj6/HxT/S6L6RvRDWo+G6Hmpy/2vlTPSkseptak4IwkOpSb5
3dAD0sJt0T0fdGMDsqpoZba0vNmEET7o3HJAVkIyaOoKF+KKFZS93GxmUquDp0KCGznWNR+1ZhAU
z/kKAUZGpF0uKbJf8POyCGBlZcwsWX8uXpGWndhTHA4JKq0FsOOnw6FHcg+/P3T40zlZFRzvE5XC
gH9zufuQv3r6rprxSfEzMxKfPFxy2CuZSAZTiZ0u4bd7fX8fEZ9kIJcX+M/5pVQL8atMk51pNioW
FVL+x9GasIKZKfzj0wETgU3rYT9exZ/x8h5e/vq0f2ZWXDen8VwN7+eQqp5sYXomIlNDbnnwmCts
YYkUK9vBXl+nlSaJAC9xohImEdQCmKp6YBOG6+CJFh/Noa8T0mbY6IkTJ15aunTN6tU1NTW1d5xo
GjOooFKJ9UlX+/Xr9/yf/lRXqi0YDPbr37/w1Cn9n+np6QcPHtSLd/8cOXrs2LBhwwJ+f6PvV6xY
cdttt7V5eHZ29rFjxy70pPFO591337140aKmeLRkyZLFi+sLMPbOydm3d6+Od0uXLn3kkUeiG8+b
N+/NN99s83SnTp0aOHCgP+oaO2dmHti3r5G3JBQKvfraa6+//vr5kpIIUpNko5S+gOb6ewZ/umHG
jD+98ELnjIyfMu1Hj3bo0MHhcLTSpqys7JNNnxYcPw4Irrf0+wC/amA2Jk64csL48S0tbHv37ftu
9/dwOBxos9lgsYFL83q9cC2ZXbqMvGxk/379Gh218sNV327fZjAYDSwSWHL42mqL8Eyazeb58+7+
+9vLfT4fXDjLMNAzz/NcbeF7tEqFwxMnTpw5fQa0+dNLL8I68fCDDyYmtPZ8vvvee7v3/DCwf3+9
wHUr699LL/+5urr6d799oFNHvcahWlFeun3XdwUFxz1ej8lktlgsFEVyYa6quhouM6d39rWTrklK
StXqEJO12Tcl7f/E8nfeyT967OEH7k/v2Lmg4NjHn35aXFKiKgpc+IO/faAjnKIecEmOC+/67nuY
T5hAm81uMZslSYRVBN5HWFavGDNm2LAhyFmiyATBgr4uyl5te45Uq9qjrJ1AxRjKYTdminIowLt4
CdR/4NEEhVMMZQRMpUmjmbHjrdoWSkK+PdXlpZxgowwsAQCkekWpi8U+JjHli1LXnQcOWSizpADX
I0DH93LY6pHdHQz96rHqMz7FTFEzMyz3ZNsIjZsDZ775m8rvK3iLForf3UI9N8zRz9mY5Rz38JvP
+F1BKd5ATutuy9BMqMCiN57wVqKSilT/ZIOBxr8rChg1bd9M45lxbHUIZVcBoIRvusSzcQ1TQGmx
UEh5pzT4rAXTxqGjDWD0r6+88rsHHsBqSxdjUZWrnQkJEesYmnXF4/VWVFTwHBfhtFodb3hLf//o
o3UwOnTYsKP5+fqfunXrtnv37oSW/Xftkdzc3JGjRkHPTTEdTvH63/527z33tN7DgAEDDh061PTq
WpK6lvqasfmrr66cODG6wR//+MfHH39cbwa9DRw0aNfOnXW0ccV7790+Zw5JUfqUQ4P77r//1Vde
aeWMZ8+ehUF6a2r0eiZwSFZ29t49eyxRhr8TJ09eO3nyyZMn6y9Eh0scT0tLg0kGNAVYcQEzdbmi
4RV6s9psW77+upVqws3KkSNHoOe4uLiWGry1/O+5eXl33XFnv75929knPD+AdGXl5ddPnTr+inHN
xvaDGrTqww+Pnzw+dPCQObfe1rTGy9r167748svZN/9m7JgxLZ1o85avP1q9GjT6qVOua7bBwR9/
fPvdd/r26Xt3k8K2dfLl5s1btm6ZMG78l5u/unL8hMmTJrXUEiB++44dt95y60itznLdagGkOKGF
Ikqfff75x5s+HdCv37w772q4EKI0d2vXr92xc9dvfn3TZ198GR/nmHPrHFhs6htohWKAFQFA/23Z
WxUu1y033zhk8PA6RSLiksJwn8/7/gcrD+cdmTlj6pXjx8mKSBJmRRU1NhpW9KRQKipqzFJ2IqrQ
Zk34TIX/KCrtpRISQK+iCIoSlLhEU6f+KSOaXg5o/3V7SbeUnfprwQ8YaQzLREglggpeGpbu7dL9
yuQOjx8+cdTHhxU8nmTnd09/LCddP0RUlF99W/jZ+bCJYnEVZ3HqD33iggL2xrFgvAFnCVQ3B/jn
P8Yn5cRHBgmUsywox7FEqplyhcWnv3cDCWZwzEzi4zqZvJx0vFqwsSRFYPDCXN7JEuDlIi8Ps2Zl
iFEZNobEA4LMa2lKjBSykIZFxR0UGC2w1EiTegYTAFOS0L1MdSomppPTyHMJa/LwESOOHT0aDTGz
Zs0CSgVEsvX3oaqqau26dUtfekkUhIunD+3Zu3fM6NGiVrNcH97MWbO2bdsGOix8A8NecO+9vpqa
xx57rJ0dQg+LFi16+umnW2wgSZePHv3D7t3QuV5vevFTT4294or26+ZzgCCr6u23364jKfTz2quv
AjN68YUXmm1fWlo6fPjwaAztlZXVCEOfefbZRU8+CR3WYfeECROAk/bs2bOlYWzatGnO7bdXud1w
SDgcBjr/zDPPPPHEE+2ffJgKvTh1swKwfjgvL6tXVvsxdMs333zw4aohgwY9+XhrwwACBSTxWEHB
a8veOP7E4488+FByUlJ0A1GUREkSxNYePHhmYPyozm8LMnDAgCFDhu7YtbNvnz6XjRjRrA4EeD3l
2muvvuoql7ty46efdO7SpXdWVrOI/M327aNGXBaNocAWGQpPaLkQHYCyJMvrNqxP79hpig7QdW56
nIaZ5wTh3X+8P/fWW4YMGaYVLRRrS20qGobS+Ufz/vr6G/365Dzx2O81I5CoESZ4U0jNfopMqFar
ecE99278ZOPKj9aKoqpbkwmcZqg4VbXyokuUw6herOQJ8cUy4qQANGSiuV9Y9CC7qEpqJT0UWZVF
WbTQ9m7x2fUcXApvL95x2lciKAR8QqrqEeRujo5jO/Sx04YSpCxQIYXwiqqDosclJ49KdG6fMEIj
rcGZ3x1YmJe3MO8optBdzea/De0qIU6AscgiQNA4/uShmr8Ndbp+k37IzeVXSwwJdJg44xcZEuth
Z1ad8C0/FnAaUalHWVaGJLKTu5i/OBsiEIHGtxaHBiSxjwxLOloZLvGLJpqIM1Ld4g39U81hSdlb
EthV7LcxROc4FmUmDYgGGq1jZoawshQo9TxcrSrDSBhKj7pHd0VPZqooKlabzzUCo3Pnzq3DUFBw
EhMSDhw40CaARoiq0znvrrvmtbyS/3zZunUrqGDIy1iLoc8++yzQwCP5+YA7oAPqSLpw4ULQhYEh
XjrGuzlz5sDPaCR96cUXQdUCBG/U0uPxDBs+HDhaHT4OHjJk544d0SZaoGY6hqJgC1lmDYYD+/f3
bQu8rr32WqClOX365B85gpYEknxy0aIRl102fty4dl5FKxgK0qN79+FDh27++muB52fffHNSQ6Rr
KidPnVyzdk1Gx053zb2jPWfP6tXrxhtmvrPi3Q9WrnzwgQeitSndNq3ISquGXQXayLLcSpsbpk07
evTomnVre/Xs2ch4AtrxW8uXZ3bpMmXSZPjnzOkzjh8/DoN56okno1hhhIus+ujDpISEm2bNamK+
I1o3PXdISaEpqs4I1mDyZVCtg2PHXA5YD4tCrbU0UhgOR5qf7/0PVjnj4ubfeadW47BBoky8YWjU
xCuv2L5j17bt20YM72uzWXDMAG8VJ5QhoNR2h+MqoXWLwkVVwExMTbENhI+k+aMEOeTjyvy8OyD4
csu3ELgh1do1w9FzZ/HWiqCLJRnQeGGiKQU3wOX4XdNY48pRM+C8AQltXd1fVbqupHBJ/g8kwY5L
7HB/j6yHDufvrq5haVZWSUUhCznh6m9P/Dip7/tG5v1TnpM1SrqZ7hdPJRmJs36+f4KBoYTpW90m
SqOlOLwm6u09zNO6GD8rCtkQc8R/dPPpZuq1cSk1QFED8HCgtCuFNULPBGPPROOao54zfolFcVFY
VoLBYaBcQYlXsEIPbyDxjDjWx8m6fwlmItXG6DZQPURU3/uPDB9yJHGJohlBImwUXt29+/ZFuQeV
u+fPbyeG/hvk448//tW0acgYUauZ6hgKv+f07g1sEXh0HZI+//zzgigCNW6zW2i8RJPW20SWFkkC
8Hr55Zd/woZIQFKY6blRSLp48WIE+lHEubq6euDgwSXnzkVj6K6dO1mWje5q44YNEc+CpqqDqtiv
id2wRfcGQeid68x63dq1FwSjrbuYbvnN7Bumz/j8iy8WP/10taca1P/srOyRl13Wv1+/ptr6ocOH
q6qrrrnq6vZP5qABA9ausxWeLqysdCUlJUcNTJbQm6K0OnitjdIajALf//WNs5a+/DLoVXchMKq/
8GV/f4vnubvuuENXt2FVm3vbnCXPPbv83bcfeuDB6E4+WLXS5XI9/tjCxs7JWiDLzcsFGn7i+AlO
4JO0yAezyQxYDPezqqpaQVWwxCi3Ui3IKiqP2idpvIduaJDENW3gFDw/MM93L7iv7ccA7VgiQXMP
BIIOh1mSgjQVb2TTRcknygFFQdZICu1yZGnSoqn2RN2Ziqq3hQSfopJoYygQV1mRVC63YneJv+jK
zGtPek4eqzrlEUIGiuxqSuzr7JZqctTdGJ8QmvfDJ14ZC6t0SMXDMn/YF3i24MQ3o8dcmZT8zJHC
4rBCYOpQm/nlwV37x6HQuodzkr487522vchCswZUeJHgRHxBT/vdPS1vHA1QBqS2kzT+8dnQW2MT
7usb5+VlryA7WdKqefPtLAkguOywB9ey5eOq6mSJgSnG/EoOVdQliVNePtVMj8u0lvgEX1hGGaEo
wuFoYDiC4wgK7WiCdRhgVCuVE3HsAZhqnjocbhA6BlnpGzpPAFgvEQxdt379DTNmoMT9tRj6l7/8
5QHNgKtLTk5O7uHDADrAGnQk/fPSpYFA4M1ly9oBLc14Oik6ulQ2qhmQnZX12MKFs2bO/MlXcbvG
SeuQFH4+vnChzWpdsGCBbkcedfnlRWfOtI6hWJPCpRcU+aBqVq1oj1D7j9UKJ7RxLhjb9GnT4INM
gTyfl5//+Ref/+nFFxISEu5fcB8wymhsAi2b47n2D4DnQS0UYBgmk7lxpIQktk6W4a9ttkF28/4D
xo294ovNX8ETVafaf/Svj348dOjxPzyW4Kw362dmZsLDsPydt7tldp163VT9y527dn27bdsts2/p
2aNHo57DHPfKq6/sP3Bg6nXXzb9rXu1NjEpWgtN79u4+dPiQJMl1dyti1gSlHtZwEZR+zSihNsRZ
5IaiAeXhgR99+aj58+a3Z03UetZz4rF0JHUmQVMOirJxfBkvulFhQ83jBKq9rAiCHDYxyU5LbxWT
UMipXoMWhe/DtModbV37Jo+ELrrHdYcPHLXl7JY898FjlbmCSoYVzCNKRtp6T/bEdLOt3FONkE/F
FUyt4flrUtL7xsUPdSbc0RV5Ph/6Me/l48WjvnHjqBwtMbVD4m97pcUzpIz844h7Glly5Znw6rGJ
v82xFQXEIr8Ir5ObV3eWCf2cSlYc62AbrNnxBurmLNua437gjGaaCCpYvpu/IStOkJVSP0qMl47s
oniGnVXt2HF3uMDNMRRuJIkkC22i69cPM0OKSLtXdR89oRUolTVqoSKHm3YzHA7HjBtueL5WF4aX
/K033+zfv//d8+ZdEFj84unU3v/nP2+95ZY6F42Ocb/TpPF7TpJ1rAfawPj9Pt/KlStbt40++uij
zz33XJ26Bz0UFxdfO2VKtI0Y8OOOO+/8ORhah6R2mw3mmdSWBLio++67j2FZwNbhw4fXnRFGBar9
9m3bmmIoyM033/zPDz4ARCDQ7jh0Uzdu3Dh16tSLvZhdaE1fuK5BAwfCB+ByybPPLnpq8YMP/G7E
8IjfY2D/AZs++2z79u3XXH213WZvT4dfbv7q/PnzAEOWhjH2CJFFqU0Y1WBIbvMsN91444+Hflz1
0ap+ffuazeY9+/auWbcOiHZTmy9QaVDtP/jww+7duwPvrnS73373nQEDBk6ZPLmpZfbZ5547febM
M4sXZWXnRCybzQQo4TBXEazEGpQAkVtcBvSMpSosUXa7/eCPhypcpclJqVq4qB5mTzT3jmrVCTXX
vIyF4CeO3ni4C3iYPwP8UouIQjWwUSFjTKdfBOjgNGnukYh8dLwU0DPBhwVPdbjUx3sOlH5hpOM7
x/W2MPZNJzeWh9xGykigqiAEDMXKMC4+VBLyLBs2VVKVQr+XV1SvyO92l+z3eKZ99/UwZ/Jvu2d/
W+F+rfBsvMEEbzCOgu6pb9wB+mR5yYycT4q968/5a3hikNM4pZMp2YDcPBkW+rRffuJAjZ3BGQLb
UIzDJM3uYb6+S4MnpLONfWQIy8tqRVDS81Kf84vJJpSltNFUplqY4hoBrlbRskFbGNJpouAlCwoy
jraKEnrS/brKfNGVoyIT/cfnnpt3992651pXPOfPn88wDCDIDz/8ACpzs49dtcezZ8+e3//+95ld
u8JRz7VklMRxULSPFRQcyc8/0qrk5uWFw2H9oNdefz0aQ+E1QG6CFnzrSsO/wvhXrVr1q2nTWldF
EXulKLZW4HcgGkfz89dv2KAizzxMH6w5yn0LFqR26JCfn/8zwWj69OlrV6+WtfS4dZMc73QePXas
DkPHjB37/XffNYuhyLA1ceJ7770HI1O0HkCuv/560KCff/75kydPtnJquIOHDx9etmzZ+AkT7A7H
uXPnGgENXN3BgwdLS0tbmqifVh0dpnTwoIE1Pl80+QXouXPu3NKy8kf/8Fh5O/Set999d+WqD0cM
H3H7bXOasXtKsqK0dpeNBhSjU0/0WhaTyXTrLbcWFZ3b+MknMGNvLHsTTvqr669vtvFdd9wJFPWt
5cuBJr+z4l14yO9pzj0Aqsa58yUGA2t3tBDcipOyLGz6/AtBEGsvhIwOMVVkFJdUC6ME4qEoIBSv
5aS43R5//4IFHo/3qSV/rKp26+Gi2pOvRMGnnqFJqv1SS5OJGB4B3FMQ4SiSZTqQuoNe1cNXcZqy
OEw9uyRcm2jtXzckHFMKK7/MLV19wr29zH+ihiuv4StLfMc/P/HBkYp9ozpdYWNsoiIKiiQgvV/p
Ykl6ceiNV6QidYRCWfIsrxzb8cjBr9aVFB73e08F/e8WnUnb9HFYFv42IEcF7q1FKYcluYeZfa5f
Jzjquk6O90Z2vLoj/W5hxa3fl1z37fnBm0qmbikzEGp3GwVzRqGc0JiFJbaUcGWheogIS8pJr3A+
KALnTLdS+8q57aXcnvLwpjOBT075KoINwMRuIPskG1MsNKsVeoqAJB7ZRob2eMnIEtosT6w3BIAW
DJrmzJkzATfRNgiKQllX//GPFStWKC2v5NFUsaV8lNAVvJ9jWg5JiVY89+3fP3jQIMCFhQsXRocK
LVmy5Mknn2z9cBj56DFj4C4Qmh1w44YNk6+9dtOnn14oBMCbA9QA2OLrr7+u+8TdbjfoelOvv37t
mjVNw24uAElnzFi9evVM4KSasRIEXte6aCTA0G+2bm19tLfMnn3DDTfccccdqzSuDWMLBIOLFi9e
+PjjWKtrhh72BJMDSmX0Jezduxcg2Ov1lpeXT5o0acOGDXPmzGm0Gx1lvGlZzygvLystK+vbp2+j
mQF8WbNu7fsffDBu7NhGYDT68tFA8V56+eVb58zJysqaO2dOn5ycRt26XK51G9Z/9vnnSYlJL/7p
+d7ZvZtlmqDyqq2yUXicnPHxX23+aviwYdnNudejZcjgwddNmfLppk9/2PODxWK+X7O6tIS5D9x/
/5OLFz386KOuysqHfveAo7mAMFD1br7xpldff23R088+8tBDPXv0bOSV+tea1Z998cV1kyafLCzk
6yJbI7ZRVY8fApIQtVQ0qFSsIaOandXr/RXvvPLaazf+evbAAf1vmf2b3tnZ0Wy0LglpVZVLELjk
5EQt37P2epJWkrRo9MpkMmRG7p1YFRbLBNHrE495gnmwWsEU2wxd4i3ZJd7dksLRhElEllRkGCNA
SVcFK+voHNcDCOmN2Te1MsMuLuDmAjbaEFZJFI4KP1XCQtE2mv51RtqdXbs074VTse9dITtLmikC
lhGKJoOK+sbxwN9HOk96xU3FIQ+vdLZQUzubko2RK0VwWRS2sTitccjOViongdlfwaMsJAQOfPtw
JT+UIhrZAWwsaYv6Bg61sqSg7UDAtfUlqoJp/evW/GbQvCNHQC/evHlz6xwnEpWSljZy5MgZ06df
OXFiXG2ENizCOX36nD1z5kKBBjjpmjVrGsUhLXnmmSfbF6ADquLYsWMbeCcGD965Y4dukOrZs+eJ
Eyfq/vTQQw8tXbq0tVvucgF9O5KXF/3lCy+++MjDD+uw8tRTT0UPtVdW1sEDB1rfbgSyZu1aQNJG
X14+evS2b7+9IMQvKSlZuWrV+vXrYdJCwWAbijbDdOrUqU+fPpMnT549e3b0VgKYtDNnzsALX1FR
MW3atKa7JECBTUlJsdubV8DPFhVBD4dycytcFQG/n+N5IICAQR3T068AGTO29W1UpwpPfb1la25e
bnV1dSAAb4diMZvtdgfoqmPHjBnQv38rc/KvNWs2f70ZlPEJ48a3cgoAdCCYW7/dWl5WznG80WiI
j4sH0tA1M7NpY47jXlj6kq/GBxia0dZuha82b167Yd1VV06cMW166/auLVu3bt6y+dy5EuDmFEmZ
TMb4+LhBAwdOmXRNckqaKAp/eeUV+NMfHnnUarVgdfs4cXrd+jWff7V5xrRfXXPVNVHfIzd9o8zN
mlOeOHX6xDffbMvNOwJrP1xLKBSG62UYFnA/Ls7Ro1v3UaNG9u2To5NOZOtEtrh6/svx53nJrSn/
kv7RLKTINigq4VTbCBOTWOHPdQfPcjLAC0CSxW7okGTJYCkTgRMU0faWOb/Iv114aJu7wi+q8QbL
NcmdJnVIMxBUXKvPSUCSFx4o2+PmDBQqDEqq5IO9bdekR2zlJ2uEPx/xwzVo3iSsbzw9KoXZUBii
UDpnjEHeIayDibw6w3zSI5TAiVWsg4Xq6TS0u/6T2sqXF7CnHtZEQdOagZvEMvj+T8klu6f+P0Pq
yh3jeMPt1w1T4ut7N5smdopUbVKjtI2otPla1rsmnlO8pRRQul6vW0i1X7TsJBiKqaepBDguzBfr
+5oUlKMZGWYBQIF+wjkSrQMMdL2rDRqcrd5dETiNIs4UAnoRVDUocp3t2YPSxuDtyJ+S56lYdGRX
uSAB1gkY5RPVzibr8kHDOraVmsvFCe+c9JyqkVmSGJJguDHT9lUJBx+rZidFOqyKpRqJWd0su86H
z/pFWkPSESmGnvFs+29b21+qFw6jMfmflUs2w9N/GIy2Ijq71NAJU5UW3mEca95xVO8+apoRCq/N
CKVGubb0bM0agNYiqSrSlIMgjPCNIHlkyS+rArI84SxJGkmcVTBZq3Zn1u0D7kBBSc1+0I8lBRO1
XFDwCyA0L0sUaRqbMYUhGwAWL/FlQbdP5MyMqZMliSbIvZXn/lzwPUYYOBWXVBJgVMKIoKBOTklb
3LuxAUdUFAqPbMA8WBV87kiFhaYpnKRwgsQIVSFu72E5Wi3legRUvVkLwEkzkr/uYWFq2eYBF3fW
LwHIppio3k7G1Li6ZztAMwo3GzWgYg95TNrjKYqVtPvpguLq8CbvZEtZ74iGsfp6gJH2S7PFRDUo
bJlPqVo6EqrJiAht87DOcAmCZLU0JVqWDYxgKadKxfNCOSdUCKpHFRQt+AkFnksyhxNMmmM0J1VT
BKtiFLJuKloKZlQBlHMaUwamjqGjMHRv2b4fK/JkjFZwWlBxXsWreGFAQtehSd3NFCPjJIERkkox
KhlQsDQDPadzvXm0nOMW5504HRQMJBBKUpGJ6R2dwxKsFpo0kAQ8lBqM4iqBn/LJt/awwJpQFJD8
gpJmppyGej5e4BFP+yUjhbhqSFIAUjOsVCcr3U6y2SraqjE2GpN2yaWf/f4/gpQ2TtEUgUW8STO5
5YTNdUBI1Wr0bWI4GUVgdWCNBCbq776ebQ+5piOppDBR8vJipUZuJVXRIyYBRkUNTEWA31T7cIow
hoQqT6goLAVhnTXQdhNtJwmak4KgodsNCYCkiqpsL9pSHnIrGA2HiQohYLigEiFZpQnDvb3HsSS9
tfzsAY8bvuxitg+Mc1ooilfUDJPFSJI+UfrD4Xy3KDOoNjPAJYp/F2R8Zsf4AXGWN09UewSVRdVD
8L5x7OxuVrLllR6gc6+LgytE+5cI5GKCXzrbGJpsF9mM+kfznvoYjMakbfF6vSaTKVaL6WIp9Yh+
knqekXby2ygYbTFDPt58gmfdKlpvB9BUe4TdqirghIEizZxQjtKPIFc+2v2lZ36SMUmWOQOd6DD3
wKMMC2HRU+zZHxRrVBVVUdYymKhhSbCwcQNSLt91bptPDMsqKSL7K4LREOj/GDWr62WppvqEYR+X
HP+k9CxJMAD6MkYGZDWFMT3Uo9dbhWdLwhJLAOcltMQgJIzj9i6JQxLqzfR7KgO7XJyk4naaGJZo
HICsn025P0LI0qAIRBXAGJhtHEvYmkm71x76GYPRmPwk8fv9QEVjfsWLBqO6270dJtSI7whvSYWP
/Nds5Xqt8lLTo+rcTYCVoNoTKG2zKko+WQ7KqqDZBEiSNFKEmSBoFWVvomv36atlvsM+rhTYaCSg
X4m4qyRke6UGdxhroIyFnsKzvpKgJFKkIdmUmGFNYUgaMNrOmHVSvOZs7gFvJYEzEmj3GCFrNZo4
Wb0qKeX6tPQPi0r2ewBXCRonO5sMszKSUoyR5RxO+q+zHhcvm0mSJUkGUBYn4mlidLKBJvH2WzZ/
Am7GYDQmFyw8z1MUFatTfxFgtElVpfqM93W42azuH42DbRgBdL1eVcWWe0CWTZJgG/mvFFUUxCpR
9mkOJFWN7BAVZUWIM2eTOFXmO4AShtaVItGYragAp6ayk4aa6XrOGBJDe8oOVHI1KjKSEqDgB2U5
jrVelzFoXXF+cSig4jRgpYzhsgamhEou6NYtrcU6Tuh6gdhuPu+HizcQBGAog2gmCfjZ00Y7WKL9
ls2fLzEYjUlM/j0wircPFputL9KEurbILptD0dpg/iaAi9fq/k2RVRKkKkUR9RqiChZdskmWFd7I
JNkMGQG+vCpYKCFHvW6PIC1MQrKlM0M2MKMXek4Vek/jwDeBq6q4hOHop4oDko5K7tnZmrC2+FhR
KKiCzq7iBE4NdyZOTE5rD20sD4un/QJLErQGo7AoWWg81UjiUXo9L2sFUrS8VRSBXQxXaQxGYxKT
iw2jzZVdQmDaiIdK7SVHui+oYex9CwhKNYvXajND0lxKKLcTA4gpyf7acChJg1FFg1EE3EBFGdJu
MTTOABfgXVWhkrCIauEpCC4V0OK7x/eFARyuOKgDKCKbOpKquKCqLGm4Mi2HJesDCQKisLOqtDSM
8u2TOJliMI5yJloj1qQW3ehhtMtKBew0kASJN1zBtFZ61NPFizWJwWhMYvL/p9RfgFW0CRvFmrqY
IhFLLaY3bYvAAm6iDPE4LsnBBlGlmF5oRKVIE0s7G4XWe8NFfr4SVoXaSFQlUrtZVRjS3C0++2T1
8WrOiyO1HU6PAFRSsEx7hx72DnX4CO33VZ2v5HmapFAyFPRBsVAMQfS1200UdfEsm78IjCqx5/x/
/C2/mOt0TLCWA5hq9xq1J8KpPsi02ful1r7ITXY01Yfft32Whnmh6uL5cbzlA4NClaTwqoaDWuI4
tH9Ay6UErFO2s04bG6fz37DEgXpNE5SBpBo+f2iQbi7oETitBJ6et15LMIwDYyfiWJppfmG4VCgg
ripi7DmPSUwu/lrVBBbbaIb/pG5bgODoxs2vm/hPO4WGoZH4gIimrUYOY0iWiHKgqZF8Sc2IFiuA
LKx47RYDvDadrpbi/1Jf5v8P3uBFVZAUbqIAAAAASUVORK5CYII=" />
        </div>
        <div class="subhead" style="padding: 8px;margin: 4px;margin-bottom: 5px;">
        <h2 style="margin-top: 0;margin-bottom: 10px;font-size: 1.2em;font-weight: bold;">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAFRKKwcAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEz
NDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNl
SUQ9InhtcC5paWQ6NDE3NzIyRDRCOEE4MTFFMUFGMUFGQjQwNjc5QTAzQjIiIHhtcE1NOkRvY3Vt
ZW50SUQ9InhtcC5kaWQ6NDE3NzIyRDVCOEE4MTFFMUFGMUFGQjQwNjc5QTAzQjIiPiA8eG1wTU06
RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0MTc3MjJEMkI4QTgxMUUxQUYx
QUZCNDA2NzlBMDNCMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0MTc3MjJEM0I4QTgxMUUx
QUYxQUZCNDA2NzlBMDNCMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqNe4u4AAAFtSURBVHjaYv7//z+Dvr6+Jsv69ev/MzAw
/AcIIEaQCAjARBgAAohx3bp1ISAaiFcB8WWwEqAsSOApEMsABBADSACEgSqZQTRIL0jLLyDeCNLK
AiRWM0DAf6BkEdwaGAAIIJAtLDB2YGDgb6j1ZUB2N0zBHwZUwAyl/4LYGEbCPAAEckD8BCCA4M6E
OjUPSjPCxJDdAAJHgFgHiPlBrga64x9IMgBJgTAQswExyF0uQLwX3ZFM0HCDgd0sSK5GBv+A+DPQ
CjcUXwB9cBRIWQHxEqBkLDjQ0XxxEYjtkcUAAgxFAboXoRqeIWsCspmQ1bOgOw5oNXLIfgFiPSA+
AHQOiL8EiKuA+DE0TYDD8T8DfvAfGjL/oRgUUh+BuBFoWT+2uGbAE6zwNIAczBFoCmC2gRJlLxCr
APFvIGaFyl8D4kKg7XthNmzAhoEKNgHpt1BNIMPKQLkFKA4Kk/0ID6LFAnriA2JNWJ5BjiEYBgBd
3wt03QzbdgAAAABJRU5ErkJggg=="/> <% $subject %></h2>
        </div>
         <div class="rowbody" style="background-color: #eee;border: 0.1px solid #755;padding: 8px;margin: 5px 10px 10px;margin-bottom: 10px;">
            <p style="margin: 0 0 9px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;">
            <% _fixCharacters_mail($post) %>
            </p>
            <p>
            <a style="color: #000;font-weight: bold;" href="<% Baseliner->config->{web_url}."/tab/topic/view?topic_mid=".${mid} %>">
            <% _loc('Click here to review') %>
            </a>
            </p>
        </div>
        <table class="table" style="width: 50%;margin-left: 10px;margin-bottom: 10px;font-size: small;">
            <tr>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <b>ID</b>
                </td>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <% $mid %>
                </td>
            </tr>
            <tr>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <b><% _loc('Title') %></b>
                </td>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <% $title %>
                </td>
            </tr>
            <tr>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <b><% _loc('Category')  %></b>
                </td>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <% $name_category %>
                </td>
            </tr>
            <tr>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <b><% _loc('User')  %></b>
                </td>
                <td style="padding: 8px;text-align: left;background-color:#eee;border: 0.5px solid #755;">
                    <% $username %>
                </td>
            </tr>
        </table>
% if ( $ENV{BASELINER_DEBUG} ) {
    <div>
            <h6 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;">
            Enviado a: <% join ",",@{$to->{users}} %>
            </h6>
    </div>
%}      
</body>
</html>
