<%args>
    $username
    $subject
    $to
    $rule_name
    $dsl
    $output
    $stash
</%args>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Accion</title>
    <& /email/style.css &>
</head>

<body>
    <div class='box'>
        <div class="error">
            <h2>CLARIVE: <% $subject %></h2>
        </div>
    </div>
    <div class='box'>
        <div class="trace error">
            <p> <% $rule_name %></p>
        </div>
    </div>
    <div class='box'>
        <div class="trace error">
            <p> <% $dsl %></p>
        </div>
    </div>
    <div class='box'>
        <div class="trace error">
            <p> <% $output %></p>
        </div>
    </div>
    <div class='box'>
        <div class="trace error">
            <p> <% _dump($stash) %></p>
        </div>
    </div>
% if ( $ENV{BASELINER_DEBUG} ) {
    <div class='box'>
            <p>Enviado a: <% join ",",@{$to->{users}} %></p>
    </div>
%}
</body>

