<%args>
$subject 
$msg => ''
$message => ''
$to
$cc => ''
$mid => ''
</%args>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Clarive.com</title>
    <style>
    <& /email/responsive.css &>
    <& /email/bootstrap.css &>
    </style>
</head>
<body style="margin:0; padding:0;" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" >
        <tr>
            <td align="center" valign="top">
                <br>
                <table border="0" width="800" cellpadding="0" cellspacing="0" class="container">
                    <tr>
                        <td class="container-padding header" align="center">
                            <img src="cid:about.png" alt="Clarive Software Inc - Clarive.Com" />
                        </td>
                    </tr>
                    <tr>
                        <td class="container-padding content" align="left">
                            <br>
                            <div class="title"><strong><% $subject %></strong></div>
                            <br>

                            <div class="hr" style="clear: both;">&nbsp;</div>
                            <br>

                            <div class="body-text">                             
                                <% $msg ? $msg : $message ? $message : 'Empty message' %>
                            </div>
% if ( $ENV{BASELINER_DEBUG} ) {
                            <br><br>
                            <div class="subtitle">
                                <% _loc('Send to:') %> <% join ",",@{$to->{users}} %>
                            </div>
%}

                            <br>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="container-padding footer-text" align="left">
                            <br><br>
                            <strong>Clarive Software Inc.</strong><br>
                            <span class="ios-footer">
                                Avda. de la Industria 4 E0-2A.<br>
                                28018, Alcobendas, España<br>
                            </span>
                            <a href="http://www.clarive.com">Clarive.com</a><br>

                            <br><br>

                        </td>
                    </tr> -->
                </table><!--/600px container -->


            </td>
        </tr>
    </table><!--/100% background wrapper-->

</body>
</html>