@import "/static/ext/resources/css/xtheme-gray.css";
/*
 *  Morado: 800080, pero también 962b7c
 *
 *
 *
 */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body a table td tr h1 h2 h3 h4 h5 span li ul {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.x-tree-node, .x-menu-list-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
    font: normal 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-grid3-row td, .x-grid3-summary-row td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* rgo: links */

a:link, a:hover, #boot a, #boot a:hover {
    color: #15428b; /* #A00B9E #600A66 */
}

.x-grid-group-hd div.x-grid-group-title, /* rgo: log STEP text */
.x-panel-header,  /* title of a panel */
.x-fieldset-header-text {
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
    background-image: url(images/close.png);
    background-position: 0px -17px;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover {
    background-image: url(images/close.png);
    background-position: 0px -1px;
}

/*** end rod ***/

.x-panel {
    border-style: solid;
    border-color: #F1F1F1;
}

.x-panel-header {
    color:#333;
    border:1px solid #f5f5f5;
    background-image:none;
    background-color: #f5f5f5;
}

.x-panel-body {
    border-color:#f5f5f5;
}

.x-toolbar, .x-tab-panel-header {
    background:#f5f5f5;
}

.x-panel-bbar .x-toolbar {
    border-color:#F1F1F1;
}

.x-panel-tbar {
    margin-left: 0px;
    margin-right: 0px;
}

.x-panel-tbar .x-toolbar {
    border-color:#F1F1F1;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border:0px solid #f1f1f1;
}

.x-panel-body-noheader .x-panel-body {
    border-color: #F1F1F1;
    width: 99% ;
}

.x-panel-mc .x-panel-body {
    border-color:#F1F1F1;
}

.x-panel-tl .x-panel-header {
    color:#333;
    background: #EEE;
    background-image:none;
    margin: 2px 0px 10px 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-panel-tc {
    background-image:none;
}

.x-panel-tl {
    background-image:none;
    border:none;
}

.x-panel-tr {
    background-image:none;
}

.x-panel-bc {
    background-image:none;
}

.x-panel-bl {
    background-image:none;
}

.x-panel-br {
    background-image:none;
}

.x-panel-mc {
    background:#ffffff;
    padding:3 3 3 3;
}

.x-panel-mc .x-panel-body {
    background:transparent;
    border:1px solid #f1f1f1;
    padding: 3px 0px 3px 1px;
}

.x-panel-ml {
    background-image:none;
}

.x-panel-mr {
    background-image:none;
}

/* grid */
.x-grid3-header {
    background-color:#E9E9E9;
    background-image:none;
    padding:0;
}

.x-grid3-header-inner {
    border:1px solid #f1f1f1;
}

.x-grid3-hd-inner {
    font-weight:bold;
}

td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    text-decoration: underline;
}

.x-grid-group-hd {
    border-color:#ffffff;
}

.x-grid3-hd-row td {
    border-left: none;
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left: none;
    border-right:1px solid #F1F1F1;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner,
td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color:#F1F1F1;
    background-image:none;
}

.x-grid3-hd-btn {
    background:transparent url(images/rdr.png) 0 -41px no-repeat;
    width:12px;
    margin-right:3px;
}

td a.x-grid3-hd-btn:hover {
    background-position: -12px -41px;
}

.x-menu {
    padding:0;
    background: white none;
}

.x-menu-sep {
    margin:1px 1px 0 1px;
}

li.x-menu-item-active {
    background:#F1F1F1 none repeat scroll 0 0;/*#6694E3 none repeat scroll 0 0;*/
    border: none;
}

li.x-menu-list-item, li.x-menu-item-active {
    padding:0;
}

li.x-menu-item-active a.x-menu-item {
    color:black;
}

/* Tools */
.x-tool {
    background-image:url(images/icons7.png);
}

.x-tool-expand-west {
    background-position:-57px -20px;
    opacity: .7;
}  /* rgo: little plus sign to expand collapsed */

.x-tool-expand-east {
    background-position:-57px -20px;
    opacity: .7;
}

.x-tool-close {
    background-position: -40px -80px;
}

.x-tool-close-over {
    background-position: -40px -100px;
}

.x-tool-maximize {
    background-position:-120px -80px;
}

.x-tool-maximize-over {
    background-position:-120px -100px;
}

.x-tool-minimize {
    background-position:-20px -80px;
}

.x-tool-minimize-over {
    background-position:-20px -100px;
}

.x-tool-restore {
    background-position:0px -80px;
}

.x-tool-restore-over {
    background-position:0px -100px;
}

.x-tool-toggle {
    background-position:-70px -30px;
    height:10px; margin-top:1px;
    width:10px; opacity: .7;
}

.x-tool-toggle-over {
    background-position:-70px -30px;
}

.x-panel-collapsed .x-tool-toggle {
    background-position:-60px -20px;
}

.x-panel-collapsed .x-tool-toggle-over {
    background-position:-60px -20px;
}

.x-tab-scroller-left {
    background:transparent url(images/icons7.png) no-repeat scroll -160px -96px;
    border-right: 1px solid #999;
}

.x-tab-scroller-left-over { background-position: -160px -96px; }
.x-tab-scroller-left-disabled {
    background:transparent url(images/icons7.png) no-repeat scroll -160px -96px;
    opacity: .3;
}

.x-tab-scroller-right {
    background:transparent url(images/icons7.png) no-repeat scroll -139px -96px;
    border-left: 1px solid #999;
}

.x-tab-scroller-right-over { background-position: -139px -96px; }
.x-tab-scroller-right-disabled {
    background:transparent url(images/icons7.png) no-repeat scroll -139px -96px;
    opacity: .3;
}

/* Ghosting */
.x-panel-ghost {
    background:#e0e0e0;
}

.x-panel-ghost ul {
    border-color:#b0b0b0;
}

.x-grid-panel .x-panel-mc .x-panel-body {
   border:1px solid #f1f1f1;
}


.x-grid-panel .x-panel-mc .x-panel-body,
.x-panel-mc .x-panel-body {
    border:  0px solid #fff;
}
/* Buttons */

/* rgo: basic button text */
button.x-btn-text {
    font: normal 11px Arial, sans-serif;
}

/* rgo: basic button no image */
.x-btn-tl, .x-btn-tc, .x-btn-tr,
.x-btn-ml, .x-btn-mc, .x-btn-mr,
.x-btn-bl, .x-btn-bc, .x-btn-br {
    background-image:none;
}

/* rgo: upload fieldlet border */
div.x-panel.x-grid-panel.ux-maximgb-tg-panel {
    border: 1px solid #ccc;
    max-width:99%;
}

table.x-btn {
    border: 1px solid #f5f5f5;
}

table.x-btn.login_button{
    border: 1px solid #bbb;
    background: transparent;
    margin-left: 0px;
}
table.x-btn.x-btn-over.login_button{
    background: #fff;
}

table.x-btn.x-btn-over {
    border: 1.1pt solid #bbb;
    background: #fff;
    margin-left: 0px;
    font-color: #000 !important;
}

table.x-btn.x-btn-pressed {
    border: 1px solid #999;
    background: #fff;
    margin-left: 0px;
}

/* Button with menu */
table.x-btn.x-btn-menu-active,
table.x-btn.x-btn-over.x-btn-menu-active {
    border-top: 1px solid #999 !important;
    border-right: 1px solid #999 !important;
    border-left: 1px solid #999 !important;
    border-bottom: 1px solid #fff !important;
    background: #fff;
}

/* Menu */
div.x-menu.x-menu-floating.x-layer {
    border: 1px solid #999; 
}

/* x-btn-tl tc tr ml mc mr bl bc br */
.x-toolbar .x-btn-over td,
.x-toolbar .x-btn-menu-active td {
    background: transparent;
    background-position: 0 0 !important;
}

.x-toolbar .x-btn-click td, 
.x-toolbar .x-btn-menu-active td, 
.x-toolbar .x-btn-pressed td {
    background: transparent;
    background-position: 0 0 !important;
}

/*
--- doesn't blur in Chrome:
.x-shadow {
    margin-top: 5px;
    padding: 0px;
    background: rgba(90, 80, 80, 0.3);
    -webkit-filter: blur(5px);
}
.x-shadow {
    margin-left: 15px;
    margin-right: -125px;
    margin-bottom: -125px;
    margin-top: -125px;
    box-shadow: 10px 10px 12px rgba(70, 70, 70, 0.5);
}
.x-shadow .xstr, .x-shadow .xstc, .x-shadow .xstl, .x-shadow .xsmr, .x-shadow .xsmc,
.x-shadow .xsml, .x-shadow .xsbr, .x-shadow .xsbc, .x-shadow .xsbl {
      background: none !important;
}
*/

/*
.x-btn {
	background:#ccc;
	border:1px solid #999;
}

.x-btn-left{
	background-image:none;
}
.x-btn-right{
	background-image:none;
}
.x-btn-center{
	background-image:none;
}
*/
/* Layout classes */

/* rgo: split line on border layout */
.x-layout-split {
    width: 4px;
    background-color: #f5f5f5;
}

.x-border-layout-ct {
    background:#f0f0f0;
}

.x-accordion-hd {
    background-image:url("/static/images/row-check-sprite.gif");
}

.x-layout-collapsed{
    background-color:#eee;
    border-color:#e0e0e0;
}
.x-layout-collapsed-over{
    background-color:#fbfbfb;
}

/* Toolbars */

.x-toolbar{
    border-color:#ccc;
    background: #f5f5f5;
}
.x-toolbar button {
    color:#444;
}

.x-toolbar .x-btn {
    margin-right:2px;
}

.x-toolbar .x-btn-over button {
    color: black;
}

.x-toolbar .x-btn-center, .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-over .x-btn-center
, .x-panel-btns-ct .x-btn-over .x-btn-center
, .x-btn-over .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-focus .x-btn-center
, .x-panel-btns-ct .x-btn-focus .x-btn-center
, .x-btn-focus .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-pressed .x-btn-center
, .x-panel-btns-ct .x-btn-pressed .x-btn-center
, .x-btn-pressed .x-btn-center
, .x-btn-menu-active .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-right, .x-btn-right {
    background: #a0d0d0;
}

.x-toolbar .x-btn-over .x-btn-right
, .x-panel-btns-ct .x-btn-over .x-btn-right
, .x-btn-over .x-btn-right {
    background: #a0d0d0;
}

.x-toolbar .x-btn-focus .x-btn-right
, .x-panel-btns-ct .x-btn-focus .x-btn-right
, .x-btn-focus .x-btn-right {
    background: #a0d0d0;
}

.x-toolbar .x-btn-pressed .x-btn-right
, .x-panel-btns-ct .x-btn-pressed .x-btn-right
, .x-btn-pressed .x-btn-right
, .x-btn-menu-active .x-btn-right  {
    background: #a0d0d0;
}

.x-toolbar .x-btn-left, .x-btn-left {
    background: #a0d0d0;
}

.x-toolbar .x-btn-over .x-btn-left
, .x-panel-btns-ct .x-btn-over .x-btn-left
, .x-btn-over .x-btn-left {
    background: #a0d0d0;
}

.x-toolbar .x-btn-focus .x-btn-left
, .x-panel-btns-ct .x-btn-focus .x-btn-left
, .x-btn-focus.x-btn-left {
    background: #a0d0d0;
}

.x-toolbar .x-btn-pressed .x-btn-left
, .x-panel-btns-ct .x-btn-pressed .x-btn-left
, .x-btn-pressed.x-btn-left
, .x-btn-menu-active .x-btn-left  {
    background: #a0d0d0;
}

/* Window */

.x-window-proxy {
    background:#e0e0e0;
    border-color:#b0b0b0;
}

body .x-window .x-window-header-text, body .x-panel-ghost .x-window-header-text {
    color:#202020;
    font-family: Calibri, OpenSans, Arial;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 25px;
}

.x-window {
    /*border: 1px solid #bbb !important;*/
    padding:2px 2px 2px 2px;
    background: #c1c1c1;
    border-color:#c1c1c1;
}

/*********** X-panel *******/
.x-panel-tc {
    background: #fff;
}
/* .x-panel-tl {
	background: transparent url(images/xt.png) no-repeat scroll 0 0;
}
.x-panel-tr {
	background: transparent url(images/xt.png) no-repeat scroll right 0;
}
*/
.x-panel-bc {
	background: #f1f1f1;
}

.x-panel-bl {
    background: #f1f1f1;
}

.x-panel-br {
    background: #f1f1f1;
}

.x-panel-mc {
    border:1px solid #c1c1c1;
    background:white;/*#e8e8e8;*/
    overflow: hidden;
    padding:0;
}

.x-panel-ml {
    background: #fff;
    padding-left:0px;
}

.x-panel-mr {
    background: #fff none repeat scroll 0 0;
    padding-right:0px;
}

/*********** X-window ******/
.x-window-tc {
    background: #F1F1F1;
}

.x-window-tl {
    background: #F1F1F1 no-repeat scroll 0 0;
}

.x-window-tr {
    background: #F1F1F1 no-repeat scroll right 0;
}

.x-window-bc{
    background: #F1F1F1;
}

.x-window-bl {
    background: #F1F1F1 no-repeat scroll 0 bottom;
    padding-left:4px;
}

.x-window-br {
    background: #F1F1F1 no-repeat scroll right bottom;
    padding-right:4px;
}

.x-window-mc {
    border:0px solid #c1c1c1;
    background:#e8e8e8;
}

.x-window-ml {
    background: #F1F1F1;
    padding-left:4px;
}

.x-window-mr {
    background: #F1F1F1;
    padding-right:4px;
}

/* MBOH */

.x-panel-ghost .x-window-tl {
    border-color:#F1F1F1;
}

.x-panel-collapsed .x-window-tl {
    border-color:#c1c1c1;
}

.x-window-plain .x-window-mc {
    background: #e8e8e8;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-top:1px solid #F1F1F1;
    border-left:1px solid #F1F1F1;
    border:none;
}

.x-window-plain .x-window-body {
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    background:transparent !important;
}

body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    background-color: white;
}

.x-window-maximized .x-window-tc {
    background: #F1F1F1;
}

.x-panel-nofooter .x-panel-bc, .x-panel-nofooter .x-window-bc {
    height:0px;
}

body .x-window .x-window-tl .x-window-header {
    padding: 3px 0;
}

/* misc */
.x-html-editor-wrap {
    border-color:#c1c1c1;
}

/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #c1c1c1;
}

/* rgo: separates column headers from toolbar in Grid */
.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border: 1px solid #f1f1f1;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #f1f1f1;
}

.x-window-noborder .x-window-mc {
    border-width:0;
}
.x-window-plain .x-window-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
    border-bottom-width:0;
    border-left-width:0;
    border-right-width:0;
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #555;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #555;
}

/* rgo: this is the 3px line that comes on top of all tabs */
.x-tab-panel-header, .x-tab-panel-footer {
    background-color: #f5f5f5;
    border: none;
    padding-bottom: 3px;
}

ul.x-tab-strip-top { background: #d3d0d0 none; border:none; padding-top:1px; padding-left:1px; }
ul.x-tab-strip li {margin-left:3px; }

.x-tab-strip-top .x-tab-right { background:#eaeaea none; border: 1px solid #bbb; border-bottom: none }
.x-tab-strip-top .x-tab-left {background:transparent none;}
.x-tab-strip-top .x-tab-strip-inner {background:transparent none;}
.x-tab-strip-top .x-tab-strip-active  .x-tab-right { background:#f5f5f5 none; color: white;}

.x-tab-strip-top span.x-tab-strip-text { color: #555; }
.x-tab-strip-active span.x-tab-strip-text {color:black;}
.x-tab-strip-over span.x-tab-strip-text { color: #333; }

/* SHADOWS */
/*
    .x-shadow * {
    display:none;
    background: none;
    visibility: hidden;
}*/

/* GRID ROWS */

body .x-grid3 .x-grid3-row {
    border-top:0;
    padding-bottom: 1px;
    padding-top:2px;
}

/* selected rows in a grid */
body .x-grid3 .x-grid3-row-selected {
    padding:0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #e9e9e9 !important;  /* more pink: faf2fa */
}

body .x-grid3 .x-grid3-row-selected-yellow {
    background: #e9e9e9 !important;
}

/* rgo: alternate row in grid */
body .x-grid3 .x-grid3-row-alt {
    background: #fcfafa;
}

body .x-grid3 .x-grid3-row-over {
    background: #e9e9e9;
}

/* rgo: selecting a tree node */
.x-tree-node .x-tree-node-over {
    background: #fcfafa;
}

.x-tree-node .x-tree-selected {
    background: #faf2fa;
}

/* rgo: left column checkbox selector in CI grid */
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
    background: transparent;
}

/* rgo: menu active selection */
.x-menu-item-active a.x-menu-item {
    border: 0;
}

/*
body {
    background: #ddd !important;
}*/

.rule-op-edit-form {
    padding: 4px; 
    background-color: #f5f5f5;
}

/* FORM */

.x-combo-list .x-combo-selected { border:none !important;}
.x-combo-list-item { border:none; }

.x-panel-mc {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-form-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-form-text, textarea.x-form-field {
    background-image: none;
}

.x-panel-tbar, .x-panel-bbar, .x-window-tbar, .x-window-bbar, .x-tab-panel-tbar, .x-tab-panel-bbar, .x-plain-tbar, .x-plain-bbar {
    overflow: visible !important;
}

.x-panel-bwrap {
    overflow: hidden;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}

.x-combo-list .x-combo-list-item span > img {
   height: 16px;
   width: 16px;
}

.x-form-text.x-superboxselect .x-superboxselect-item div > img {
   height: 16px;
   width: 16px;
}

.x-date-pickerplus .x-date-firstMonth :hover{
color: #000 !important;
}

.x-date-middle .x-btn .x-btn-text {
    color:#fff;
}
/*.x-date-middle .x-btn .x-btn-text {
   /* background-color: #fff;
    color: #000;
}*/

td.x-btn.x-btn-noicon.x-btn-over {
    border: 1.1pt solid #bbb;
    background: #fff;
    margin-left: 0px;
    color: #000 !important;
}

/*
.x-form-element {
    position: relative;
    padding-left: 1% !important;
}

.x-form-text .x-superboxselect .x-superboxselect-display-btns {
    position: relative;
    padding-left: 0 !important;
}

*/
.x-date-middle.x-date-pickerplus-middle.x-date-firstMonth .x-btn.x-btn-noicon.x-btn-over .x-btn-arrow {
    background-image: url("/static/images/btn-arrow-gray.png");
}

table.x-date-pickerplus .x-date-middle.x-date-pickerplus-middle.x-date-firstMonth  .x-btn.x-btn-noicon.x-btn-over button {
    color: #6A6A6A;
}

table.x-date-pickerplus .x-date-middle.x-date-pickerplus-middle.x-date-firstMonth  .x-btn.x-btn-noicon.x-btn-over {
    background-color:#fff !important;
}

.x-form-element .x-panel.x-grid-panel.x-form-label-top .x-panel-bwrap .x-panel-body.x-panel-body-noheader {
    border-color: #c1c1c1;
    width: 99% !important;
}

.x-panel.x-column .x-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc {
    border: none;
}

.x-panel-body.variables
textarea.x-form-textarea.x-form-field {
    height: 300px !important;
    width: 95% !important;
}
/*****************oversizing ******************************/

.x-window-body .x-tab-panel .x-tab-panel-bwrap .x-tab-panel-body.x-tab-panel-body-top .x-panel.x-panel-noborder .x-panel-bwrap .x-panel-body.x-panel-body-noheader.x-panel-body-noborder {
    padding-right: 5px;
}
.x-tab-panel-body.x-tab-panel-body-top {
    width: auto !important;
    border: 0;
}
.inbox_body .x-panel-body {
    padding: 30px 30px 30px 30px;
}
.x-panel.role_form_column_body.x-form-label-left.x-column {
    padding: 10px !important;
}
.role_form_column_body_items .x-form-element .x-form-text.x-form-field,
.role_form_column_body_items .x-form-element .x-form-textarea.x-form-field,
.role_form_column_body_items .x-form-element .x-form-field-wrap.x-form-field-trigger-wrap {
    width: 93% !important;
}

.config_form_body_items .x-form-element .x-form-text.x-form-field {
    width: 98% !important;
}

.x-form-element .x-form-textarea.x-form-field {
    max-height: 206px;
}

.topic_admin_edit_window.x-form-label-left .x-panel-bwrap .x-panel-body {
    margin-top: 20px;
}

.user_grid_edit_window {
    border:1px solid #C1C1C1;
    width: 99.5% !important;
    padding-bottom:5px;
}

.role_grid_edit_window {
    border:1px solid #C1C1C1;
}

.user_grid_edit_window_padding {
    padding-bottom:5px;
}

 .x-tab-panel.role_grid_edit_window.x-border-panel {
    width: 597px !important;

}
.x-panel.role_grid_edit_window.x-grid-panel.x-border-panel {
    width: 660.5px !important;

}
/*
.x-grid3-viewport{
    border:1px solid #C1C1C1;
    width: 382px;
}*/

 .daemon_grid_active_instances {
    margin-left: 95px !important;
    border: 1px solid #c1c1c1;
}

 .x-panel.daemon_grid_active_instances.x-grid-panel .x-panel-tl {
    padding-left: 0px !important;
}
 .x-panel.daemon_grid_active_instances.x-grid-panel .x-panel-tr {
    padding-right: 0px !important;
}

.x-panel.daemon_grid_active_instances.x-grid-panel .x-panel-tl .x-panel-tr .x-panel-tc .x-panel-header.x-unselectable
{
margin: 0px 0 0;
}