@import "/static/ext/resources/css/xtheme-gray.css";
/*
 *  Morado: 800080, pero también 962b7c
 *
 *
 *
 */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body a table td tr h1 h2 h3 h4 h5 span li ul {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.x-tree-node, .x-menu-list-item {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.x-tree-node-el {
    line-height: 20px;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
    font: normal 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-grid3-row td, .x-grid3-summary-row td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* rgo: links */

a:link, a:hover, #boot a, #boot a:hover {
    color: #15428b; /* #A00B9E #600A66 */
}

.x-grid-group-hd div.x-grid-group-title, /* rgo: log STEP text */
.x-panel-header,  /* title of a panel */
.x-fieldset-header-text {
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
    background-image: url(images/close.png);
    background-position: 0px -17px;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover {
    background-image: url(images/close.png);
    background-position: 0px -1px;
}

/*** end rod ***/

.x-panel {
    border-style: solid;
    border-color: #F1F1F1;
}

.x-panel-header {
    color:#333;
    border:1px solid #f5f5f5;
    background-image:none;
    background-color: #f5f5f5;
}

.x-panel-body {
    border-color:#f5f5f5;
}

.x-toolbar, .x-tab-panel-header {
    background:#f5f5f5;
}

.x-panel-bbar .x-toolbar {
    border-color:#F1F1F1;
}

.x-panel-tbar {
    margin-left: 0px;
    margin-right: 0px;
}

.x-panel-tbar .x-toolbar {
    border-color:#F1F1F1;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border:0px solid #f1f1f1;
}

.x-panel-body-noheader .x-panel-body {
    border-color: #F1F1F1;
    width: 99% ;
}

.x-panel-mc .x-panel-body {
    border-color:#F1F1F1;
}

.x-panel-tl .x-panel-header {
    color:#333;
    background: #EEE;
    background-image:none;
    margin: 2px 0px 10px 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-panel-tc {
    background-image:none;
}

.x-panel-tl {
    background-image:none;
    border:none;
}

.x-panel-tr {
    background-image:none;
}

.x-panel-bc {
    background-image:none;
}

.x-panel-bl {
    background-image:none;
}

.x-panel-br {
    background-image:none;
}

.x-panel-mc {
    background:#ffffff;
    padding:3 3 3 3;
}

.x-panel-mc .x-panel-body {
    background:transparent;
    border:1px solid #f1f1f1;
    padding: 3px 0px 3px 1px;
}

.x-panel-ml {
    background-image:none;
}

.x-panel-mr {
    background-image:none;
}

/* grid */
.x-grid3-header {
    background-color:#E9E9E9;
    background-image:none;
    padding:0;
}

.x-grid3-header-inner {
    border:1px solid #f1f1f1;
}

.x-grid3-hd-inner {
    font-weight:bold;
}

td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    text-decoration: underline;
}

.x-grid-group-hd {
    border-color:#ffffff;
}

.x-grid3-hd-row td {
    border-left: none;
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left: none;
    border-right:1px solid #F1F1F1;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner,
td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color:#F1F1F1;
    background-image:none;
}

.x-grid3-hd-btn {
    background:transparent url(images/rdr.png) 0 -41px no-repeat;
    width:12px;
    margin-right:3px;
}

td a.x-grid3-hd-btn:hover {
    background-position: -12px -41px;
}

.x-menu {
    padding:0;
    background: white none;
}

.x-menu-sep {
    margin:1px 1px 0 1px;
}

a.x-menu-item {
    line-height: 18px;
    color: #333;
}

li.x-menu-item-active {
    background:#F1F1F1 none repeat scroll 0 0;/*#6694E3 none repeat scroll 0 0;*/
    border: none;
}

li.x-menu-list-item, li.x-menu-item-active {
    padding:0;
}

li.x-menu-item-active a.x-menu-item {
    color:black;
}

/* Tools */
.x-tool {
    background-image:url(images/icons7.png);
}

.x-tool-expand-west {
    background-position:-57px -20px;
    opacity: .7;
}  /* rgo: little plus sign to expand collapsed */

.x-tool-expand-east {
    background-position:-57px -20px;
    opacity: .7;
}

.x-tool-close {
    background-position: -40px -80px;
}

.x-tool-close-over {
    background-position: -40px -100px;
}

.x-tool-maximize {
    background-position:-120px -80px;
}

.x-tool-maximize-over {
    background-position:-120px -100px;
}

.x-tool-minimize {
    background-position:-20px -80px;
}

.x-tool-minimize-over {
    background-position:-20px -100px;
}

.x-tool-restore {
    background-position:0px -80px;
}

.x-tool-restore-over {
    background-position:0px -100px;
}

.x-tool-toggle {
    background-position:-70px -30px;
    height:10px; margin-top:1px;
    width:10px; opacity: .7;
}

.x-tool-toggle-over {
    background-position:-70px -30px;
}

.x-panel-collapsed .x-tool-toggle {
    background-position:-60px -20px;
}

.x-panel-collapsed .x-tool-toggle-over {
    background-position:-60px -20px;
}

.x-tab-scroller-left {
    background:transparent url(images/icons7.png) no-repeat scroll -160px -96px;
    border-right: 1px solid #999;
}

.x-tab-scroller-left-over { background-position: -160px -96px; }
.x-tab-scroller-left-disabled {
    background:transparent url(images/icons7.png) no-repeat scroll -160px -96px;
    opacity: .3;
}

.x-tab-scroller-right {
    background:transparent url(images/icons7.png) no-repeat scroll -139px -96px;
    border-left: 1px solid #999;
}

.x-tab-scroller-right-over { background-position: -139px -96px; }
.x-tab-scroller-right-disabled {
    background:transparent url(images/icons7.png) no-repeat scroll -139px -96px;
    opacity: .3;
}

/* Ghosting */
.x-panel-ghost {
    background:#e0e0e0;
}

.x-panel-ghost ul {
    border-color:#b0b0b0;
}

.x-grid-panel .x-panel-mc .x-panel-body {
   border:1px solid #f1f1f1;
}


.x-grid-panel .x-panel-mc .x-panel-body,
.x-panel-mc .x-panel-body {
    border:  0px solid #fff;
}
/* Buttons */

/* rgo: basic button text */
button.x-btn-text {
    font: normal 11px Arial, sans-serif;
}

/* rgo: basic button no image */
.x-btn-tl, .x-btn-tc, .x-btn-tr,
.x-btn-ml, .x-btn-mc, .x-btn-mr,
.x-btn-bl, .x-btn-bc, .x-btn-br {
    background-image:none;
}

/* rgo: upload fieldlet border */
div.x-panel.x-grid-panel.ux-maximgb-tg-panel{
    border: 1px solid #ccc;
}

div.x-panel.x-grid-panel.ux-maximgb-tg-panel,
div.x-panel.x-grid-panel.ux-maximgb-tg-panel .x-panel-bwrap .x-panel-tbar .x-toolbar.x-small-editor.x-toolbar-layout-ct .x-toolbar-ct{
    max-width:99%;
}

table.x-btn {
    border: 1px solid #f5f5f5;
}

table.x-btn.login_button{
    border: 1px solid #bbb;
    background: transparent;
    margin-left: 0px;
}
table.x-btn.x-btn-over.login_button{
    background: #fff;
}

table.x-btn.x-btn-over {
    border: 1px solid #bbb;
    background: #fff;
    margin-left: 0px;
    font-color: #000 !important;
}

table.x-btn.x-btn-pressed {
    border: 1px solid #999;
    background: #fff;
    margin-left: 0px;
}

/* Button with menu */
table.x-btn.x-btn-menu-active,
table.x-btn.x-btn-over.x-btn-menu-active {
    border-top: 1px solid #999 !important;
    border-right: 1px solid #999 !important;
    border-left: 1px solid #999 !important;
    border-bottom: 1px solid #fff !important;
    background: #fff;
}

/* Menu */
div.x-menu.x-menu-floating.x-layer {
    border: 1px solid #999;
}

/* x-btn-tl tc tr ml mc mr bl bc br */
.x-toolbar .x-btn-over td,
.x-toolbar .x-btn-menu-active td {
    background: transparent;
    background-position: 0 0 !important;
}

.x-toolbar .x-btn-click td,
.x-toolbar .x-btn-menu-active td,
.x-toolbar .x-btn-pressed td {
    background: transparent;
    background-position: 0 0 !important;
}

/*
--- doesn't blur in Chrome:
.x-shadow {
    margin-top: 5px;
    padding: 0px;
    background: rgba(90, 80, 80, 0.3);
    -webkit-filter: blur(5px);
}
.x-shadow {
    margin-left: 15px;
    margin-right: -125px;
    margin-bottom: -125px;
    margin-top: -125px;
    box-shadow: 10px 10px 12px rgba(70, 70, 70, 0.5);
}
.x-shadow .xstr, .x-shadow .xstc, .x-shadow .xstl, .x-shadow .xsmr, .x-shadow .xsmc,
.x-shadow .xsml, .x-shadow .xsbr, .x-shadow .xsbc, .x-shadow .xsbl {
      background: none !important;
}
*/

/*
.x-btn {
	background:#ccc;
	border:1px solid #999;
}

.x-btn-left{
	background-image:none;
}
.x-btn-right{
	background-image:none;
}
.x-btn-center{
	background-image:none;
}
*/
/* Layout classes */

/* rgo: split line on border layout */
.x-layout-split {
    width: 4px;
    background-color: #f5f5f5;
}

.x-border-layout-ct {
    background:#f0f0f0;
}

.x-accordion-hd {
    background-image:url("/static/images/icons/row-check-sprite.gif");
}

.x-layout-collapsed{
    background-color:#eee;
    border-color:#e0e0e0;
}
.x-layout-collapsed-over{
    background-color:#fbfbfb;
}

/* Toolbars */

.x-toolbar{
    border-color:#ccc;
    background: #f5f5f5;
}
.x-toolbar button {
    color:#444;
}

.x-toolbar .x-btn {
    margin-right:2px;
}

.x-toolbar .x-btn-over button {
    color: black;
}

.x-toolbar .x-btn-center, .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-over .x-btn-center
, .x-panel-btns-ct .x-btn-over .x-btn-center
, .x-btn-over .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-focus .x-btn-center
, .x-panel-btns-ct .x-btn-focus .x-btn-center
, .x-btn-focus .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-pressed .x-btn-center
, .x-panel-btns-ct .x-btn-pressed .x-btn-center
, .x-btn-pressed .x-btn-center
, .x-btn-menu-active .x-btn-center {
    background: #a0d0d0;
}

.x-toolbar .x-btn-right, .x-btn-right {
    background: #a0d0d0;
}

.x-toolbar .x-btn-over .x-btn-right
, .x-panel-btns-ct .x-btn-over .x-btn-right
, .x-btn-over .x-btn-right {
    background: #a0d0d0;
}

.x-toolbar .x-btn-focus .x-btn-right
, .x-panel-btns-ct .x-btn-focus .x-btn-right
, .x-btn-focus .x-btn-right {
    background: #a0d0d0;
}

.x-toolbar .x-btn-pressed .x-btn-right
, .x-panel-btns-ct .x-btn-pressed .x-btn-right
, .x-btn-pressed .x-btn-right
, .x-btn-menu-active .x-btn-right  {
    background: #a0d0d0;
}

.x-toolbar .x-btn-left, .x-btn-left {
    background: #a0d0d0;
}

.x-toolbar .x-btn-over .x-btn-left
, .x-panel-btns-ct .x-btn-over .x-btn-left
, .x-btn-over .x-btn-left {
    background: #a0d0d0;
}

.x-toolbar .x-btn-focus .x-btn-left
, .x-panel-btns-ct .x-btn-focus .x-btn-left
, .x-btn-focus.x-btn-left {
    background: #a0d0d0;
}

.x-toolbar .x-btn-pressed .x-btn-left
, .x-panel-btns-ct .x-btn-pressed .x-btn-left
, .x-btn-pressed.x-btn-left
, .x-btn-menu-active .x-btn-left  {
    background: #a0d0d0;
}

/* Window */

.x-window-proxy {
    background:#e0e0e0;
    border-color:#b0b0b0;
}

body .x-window .x-window-header-text, body .x-panel-ghost .x-window-header-text {
    color:#202020;
    font-family: Calibri, OpenSans, Arial;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 25px;
}

.x-window {
    /*border: 1px solid #bbb !important;*/
    padding:2px 2px 2px 2px;
    background: #c1c1c1;
    border-color:#c1c1c1;
}

/*********** X-panel *******/
.x-panel-tc {
    background: #fff;
}
/* .x-panel-tl {
	background: transparent url(images/xt.png) no-repeat scroll 0 0;
}
.x-panel-tr {
	background: transparent url(images/xt.png) no-repeat scroll right 0;
}
*/
.x-panel-bc {
	background: #f1f1f1;
}

.x-panel-bl {
    background: #f1f1f1;
}

.x-panel-br {
    background: #f1f1f1;
}

.x-panel-mc {
    border:1px solid #c1c1c1;
    background:white;/*#e8e8e8;*/
    overflow: hidden;
    padding:0;
}

.x-panel-ml {
    background: #fff;
    padding-left:0px;
}

.x-panel-mr {
    background: #fff none repeat scroll 0 0;
    padding-right:0px;
}

/*********** X-window ******/
.x-window-tc {
    background: #F1F1F1;
}

.x-window-tl {
    background: #F1F1F1 no-repeat scroll 0 0;
}

.x-window-tr {
    background: #F1F1F1 no-repeat scroll right 0;
}

.x-window-bc{
    background: #F1F1F1;
}

.x-window-bl {
    background: #F1F1F1 no-repeat scroll 0 bottom;
    padding-left:4px;
}

.x-window-br {
    background: #F1F1F1 no-repeat scroll right bottom;
    padding-right:4px;
}

.x-window-mc {
    border:0px solid #c1c1c1;
    background:#e8e8e8;
}

.x-window-ml {
    background: #F1F1F1;
    padding-left:4px;
}

.x-window-mr {
    background: #F1F1F1;
    padding-right:4px;
}

/* MBOH */

.x-panel-ghost .x-window-tl {
    border-color:#F1F1F1;
}

.x-panel-collapsed .x-window-tl {
    border-color:#c1c1c1;
}

.x-window-plain .x-window-mc {
    background: #e8e8e8;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-top:1px solid #F1F1F1;
    border-left:1px solid #F1F1F1;
    border:none;
}

.x-window-plain .x-window-body {
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    background:transparent !important;
}

body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    background-color: white;
}

.x-window-maximized .x-window-tc {
    background: #F1F1F1;
}

.x-panel-nofooter .x-panel-bc, .x-panel-nofooter .x-window-bc {
    height:0px;
}

body .x-window .x-window-tl .x-window-header {
    padding: 3px 0;
}

/* misc */
.x-html-editor-wrap {
    border-color:#c1c1c1;
}

/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #c1c1c1;
}

/* rgo: separates column headers from toolbar in Grid */
.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border: 1px solid #f1f1f1;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #f1f1f1;
}

.x-window-noborder .x-window-mc {
    border-width:0;
}
.x-window-plain .x-window-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
    border-bottom-width:0;
    border-left-width:0;
    border-right-width:0;
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #555;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #555;
}

/* rgo: this is the 3px line that comes on top of all tabs */
.x-tab-panel-header, .x-tab-panel-footer {
    background-color: #f5f5f5;
    border: none;
    padding-bottom: 3px;
}

ul.x-tab-strip-top { background: #d3d0d0 none; border:none; padding-top:1px; padding-left:1px; }
ul.x-tab-strip li {margin-left:3px; }

.x-tab-strip-top .x-tab-right { background:#eaeaea none; border: 1px solid #bbb; border-bottom: none }
.x-tab-strip-top .x-tab-left {background:transparent none;}
.x-tab-strip-top .x-tab-strip-inner {background:transparent none;}
.x-tab-strip-top .x-tab-strip-active  .x-tab-right { background:#f5f5f5 none; color: white;}

.x-tab-strip-top span.x-tab-strip-text { color: #555; }
.x-tab-strip-active span.x-tab-strip-text {color:black;}
.x-tab-strip-over span.x-tab-strip-text { color: #333; }

/* SHADOWS */
/*
    .x-shadow * {
    display:none;
    background: none;
    visibility: hidden;
}*/

/* GRID ROWS */

body .x-grid3 .x-grid3-row {
    border-top:0;
    padding-bottom: 1px;
    padding-top:2px;
}

/* selected rows in a grid */
body .x-grid3 .x-grid3-row-selected {
    padding:0;
    border-top: 2px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background: #e9e9e9 !important;  /* more pink: faf2fa */
}

body .x-grid3 .x-grid3-row-selected-yellow {
    background: #e9e9e9 !important;
}

/* rgo: alternate row in grid */
body .x-grid3 .x-grid3-row-alt {
    background: #fcfafa;
}

body .x-grid3 .x-grid3-row-over {
    background: #e9e9e9;
}

/* rgo: selecting a tree node */
.x-tree-node .x-tree-node-over {
    background: #e9e9e9;
}

.x-tree-node .x-tree-selected {
    background: #e9e9e9;
}

/* rgo: left column checkbox selector in CI grid */
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
    background: transparent;
}

/* rgo: menu active selection */
.x-menu-item-active a.x-menu-item {
    border: 0;
}

/*
body {
    background: #ddd !important;
}*/

.rule-op-edit-form {
    padding: 4px;
    background-color: #f5f5f5;
}

/* FORM */

.x-combo-list .x-combo-selected { border:none !important;}
.x-combo-list-item { border:none; }

.search-item.x-combo-list-ci.x-combo-list-item{
    border-bottom: 1px solid #eeeeee !important;
}

.x-panel-mc {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-form-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.x-form-text, textarea.x-form-field {
    background-image: none;
}

.x-panel-tbar, .x-panel-bbar, .x-window-tbar, .x-window-bbar, .x-tab-panel-tbar, .x-tab-panel-bbar, .x-plain-tbar, .x-plain-bbar {
    overflow: visible !important;
}

.x-panel-bwrap {
    overflow: hidden;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}

.x-combo-list .x-combo-list-item span > img {
   height: 16px;
   width: 16px;
}

.x-form-text.x-superboxselect .x-superboxselect-item div > img {
   height: 16px;
   width: 16px;
}

.x-date-pickerplus .x-date-firstMonth :hover{
color: #000 !important;
}

.x-date-middle .x-btn .x-btn-text {
    color:#fff;
}

/*.x-date-middle .x-btn .x-btn-text {
   /* background-color: #fff;
    color: #000;
}*/

td.x-btn.x-btn-noicon.x-btn-over {
    border: 1.1pt solid #bbb;
    background: #fff;
    margin-left: 0px;
    color: #000 !important;
}

/*
.x-form-element {
    position: relative;
    padding-left: 1% !important;
}

.x-form-text .x-superboxselect .x-superboxselect-display-btns {
    position: relative;
    padding-left: 0 !important;
}

*/
.x-date-middle.x-date-pickerplus-middle.x-date-firstMonth .x-btn.x-btn-noicon.x-btn-over .x-btn-arrow {
    background-image: url("/static/images/icons/btn-arrow-gray.svg");
}

table.x-date-pickerplus .x-date-middle.x-date-pickerplus-middle.x-date-firstMonth  .x-btn.x-btn-noicon.x-btn-over button {
    color: #6A6A6A;
}

table.x-date-pickerplus .x-date-middle.x-date-pickerplus-middle.x-date-firstMonth  .x-btn.x-btn-noicon.x-btn-over {
    background-color:#fff !important;
}

.x-form-element .x-panel.x-grid-panel.x-form-label-top .x-panel-bwrap .x-panel-body.x-panel-body-noheader {
    border-color: #c1c1c1;
    width: auto !important;
}

.x-panel.x-column .x-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc {
    border: none;
}

.x-panel-body.variables
textarea.x-form-textarea.x-form-field {
    height: 300px !important;
    width: 95% !important;
}
/*****************oversizing ******************************/

.x-window-body .x-tab-panel .x-tab-panel-bwrap .x-tab-panel-body.x-tab-panel-body-top .x-panel.x-panel-noborder .x-panel-bwrap .x-panel-body.x-panel-body-noheader.x-panel-body-noborder {
    padding-right: 5px;
}


.x-window-body .x-tab-panel .x-tab-panel-bwrap .x-tab-panel-body.x-tab-panel-body-top,
.x-window-body .x-tab-panel .x-tab-panel-bwrap .x-tab-panel-body.x-tab-panel-body-top .x-panel.x-panel-noborder .x-panel-bwrap .x-panel-body.x-panel-body-noheader.x-panel-body-noborder.x-box-layout-ct {
    background-color:  #f1f1f1 !important;
}
.x-tab-panel-body.x-tab-panel-body-top {
    width: auto !important;
    border: 0;
}
.inbox_body .x-panel-body {
    padding: 30px 30px 30px 30px;
}
.x-panel.job_slots_form_column_body.x-form-label-left.x-column,
.x-panel.role_form_column_body.x-form-label-left.x-column {
    padding: 10px !important;
}

.job_slots_form_column_body_items .x-form-element .x-form-text.x-form-field,
.job_slots_form_column_body_items .x-form-element .x-form-textarea.x-form-field,
.job_slots_form_column_body_items .x-form-element .x-form-field-wrap .x-form-text.x-form-field.x-trigger-noedit,
.role_form_column_body_items .x-form-element .x-form-text.x-form-field,
.role_form_column_body_items .x-form-element .x-form-textarea.x-form-field,
.role_form_column_body_items .x-form-element .x-form-field-wrap.x-form-field-trigger-wrap {
    width: 93% !important;
}

.job_slots_form_column_body_items .x-form-element .x-form-field-wrap .x-form-text.x-superboxselect.x-superboxselect-display-btns  {
    width: 97% !important;
}

.config_form_body_items .x-form-element .x-form-text.x-form-field {
    width: 98% !important;
}

.x-form-element .x-form-textarea.x-form-field {
    max-height: 206px;
}

.topic_admin_edit_window.x-form-label-left .x-panel-bwrap .x-panel-body {
    margin-top: 20px;
}

.topic_admin_grids {
   border:1px solid #C1C1C1;
   padding: 0px 0px 0px 0px;
}

.topic_admin_edit_panels {
   border:1px solid #C1C1C1;
   width: 99.5% !important;
}

.topic_admin_edit_panels.x-grid-panel.x-box-item .x-panel-bwrap .x-panel-body {
   height: 190px !important;
}

.topic_admin_edit_panels.x-grid-panel.x-box-item .x-panel-bwrap .x-panel-body .x-grid3 .x-grid3-viewport .x-grid3-scroller  {
  width: 99.2% !important;
}


.user_grid_edit_window {
    border:1px solid #C1C1C1;
    width: 99.5% !important;
    padding-bottom:5px;
}

.user_grid_edit_window_padding {
    padding-bottom:5px;
}

 .daemon_grid_active_instances {
    margin-left: 85px !important;
    border: 1px solid #c1c1c1;
}

 .x-panel.daemon_grid_active_instances.x-grid-panel .x-panel-tl {
    padding-left: 0px !important;
}
 .x-panel.daemon_grid_active_instances.x-grid-panel .x-panel-tr {
    padding-right: 0px !important;
}

.x-panel.daemon_grid_active_instances.x-grid-panel .x-panel-tl .x-panel-tr .x-panel-tc .x-panel-header.x-unselectable{
    margin: 0px 0 0;
}

.x-panel-body.topic_admin_paddings.x-panel-body-noheader.x-panel-body-noborder {
    padding:0px 10px 5px 5px;
}
/*
.x-toolbar-left-row .x-toolbar-cell .x-form-field-wrap.x-form-field-trigger-wrap {
    width: 98% !important;
}*/

.job_new_main_form {
   background-color: #fff;
}
.job_new_main_form_general {
   background-color: #fff;
   padding: 10px 10px 10px 10px;
}

.job_new_main_form_job_statistics_column  {
   margin-left: 0px;
}

.job_new_main_form_when_column {
   background-color: #fff;
   padding: 0 25px 0 0;
}

.job_new_main_form_time_column {
   margin: 20px 0 20px 0;
   padding: 15px 15px 15px 15px;
}

.job_new_main_form_time_column_advice {
   margin-left: 165px;
   font-size: 11px;
   font-family: Tahoma, Arial;
}

.surr-win {
   height: auto !important;
}

.login_form {
   margin:10px;
}

.notifications_grid_recipients {
   border: solid #ccc 1px;
}

.x-date-picker {
    border: 1px solid #000;

}

/********* New job tab ***********/

.new_job_time_combo {
    clear:both;
    width: 470px;
    margin-right: 10px;
}

.new_job_date_combo {
    width: 225px;
    margin-bottom: 5px;
}

.job_new_main_form .x-form-item {
    margin-bottom: 10px;

}

.job_new_main_form_general .x-form-item .x-form-element .x-form-check-wrap {
    margin-left:10px;
}

.job_new_main_form_job_statistics_column .job_new_main_form {
        width: 98% !important;
}

.new_job_time_combo .job_new_main_form_when_column div.x-form-element,
.new_job_date_combo .job_new_main_form_when_column div.x-form-element {
    padding-left: 46px !important;
}

.new_job_date_combo .job_new_main_form_when_column input.x-form-text.x-form-field {
    width: 100px !important;
}

label.no_calendar_windows {
    margin: 5px 10px 0px 0px;
}

/*********  Job calendar *********/

.job-calendar form,
.job-calendar form  {

    margin-bottom: 5px;
}

.job-calendar #days_week,
.x-menu-date-item {
    text-align: center;
}
.job-calendar #caption_key,
.x-menu-date-item {
    text-align: left;
}

.job_calendar_edit_cal_windows .x-date-picker.x-column,
.x-menu-date-item .x-date-picker.x-column {
        width: auto !important;
}

.x-date-multiselect,
.x-menu-date-item {
  width: auto;
}
.job_calendar_edit_cal_windows .x-date-pickerplus,
.x-menu-date-item .x-date-pickerplus  {
  width: 100% !important;
}

.job_calendar_edit_cal_windows .x-date-weeknumber-header th,
.x-menu-date-item  .x-date-weeknumber-header th {
  background-color: #D8D8D8;
}

.x-date-pickerplus .x-date-right a,
.x-menu-date-item .x-date-right a {

    margin-right: 4px;
}

.job_calendar_edit_cal_windows .x-date-bottom,
.job_calendar_edit_cal_windows .x-date-mp-btns,
.x-menu-date-item .x-date-bottom,
.x-menu-date-item .x-date-mp-btns {
  background: #D8D8D8;
}

.job_calendar_edit_cal_windows .x-date-middle,
.job_calendar_edit_cal_windows  .x-date-left,
.job_calendar_edit_cal_windows  .x-date-right,
.x-menu-date-item .x-date-middle,
.x-menu-date-item  .x-date-left,
.x-menu-date-item  .x-date-right {
  background: #6B6B6B;
}

.job_calendar_edit_cal_windows table.x-btn,
.x-menu-date-item table.x-btn {
  border: 1px solid transparent;
}

.job_calendar_edit_cal_windows .x-date-inner .x-date-active a > em > span,
.x-menu-date-item .x-date-inner .x-date-active a > em > span {
    color: #000000;
}

.job_calendar_edit_cal_windows .x-date-prevday .x-datepickerplus-weekends  a > em > span,
.x-menu-date-item .x-date-prevday .x-datepickerplus-weekends  a > em > span {
    color: #D8D8D8;
}

.job_calendar_edit_cal_windows .x-date-inner .x-date-today a,
.x-menu-date-item .x-date-inner .x-date-today a {
    border-color: #000000;
}

.job_calendar_edit_cal_windows .x-date-weeknumber em > span,
.x-menu-date-item .x-date-weeknumber em > span {
    color: #6B6B6B;
}

.job_calendar_edit_cal_windows  .x-date-multiselect th.x-date-weeknumber-header a:hover,
.job_calendar_edit_cal_windows .x-date-multiselect .x-date-weeknumber-cell a:hover,
..x-menu-date-item  .x-date-multiselect th.x-date-weeknumber-header a:hover,
..x-menu-date-item .x-date-multiselect .x-date-weeknumber-cell a:hover {
    background-color: #D8D8D8 !important;
}

.job_calendar_edit_cal_windows .x-datepickerplus-nationalholidays,
.x-menu-date-item .x-datepickerplus-nationalholidays {
  background-color: transparent !important;
}

.job_calendar_edit_cal_windows .x-date-mp-btns button,
.x-menu-date-item .x-date-mp-btns button {
  border: 1px solid transparent;
  background-color: transparent;
  color: #000;
}


.x-menu-date-item .x-btn.x-btn-over td > em > button {
    color:#000;
}

.job_calendar_edit_cal_windows .x-date-mp-btns button:hover,
.x-menu-date-item .x-date-mp-btns button:hover {
  background-color: #fff;
}

.job_calendar_edit_cal_windows td.x-date-mp-sel a,
.x-menu-date-item td.x-date-mp-sel a {
  background: #D8D8D8;
}

.job-calendar th,
.job-calendar th {
    font-size: 12pt;
    font-weight: bold;
    text-transform: capitalize;
    height: 30px !important;
    text-align: center;
    width: 120px;
    min-width: 120px;
}

@media only screen and (max-width: 474px) {

 .job-calendar th,
 .job-calendar th {
       font-size: 8pt;
    font-weight: bold;
    text-transform: capitalize;
    height: 30px !important;
    text-align: center;
    width: 120px;
    min-width: 120px;
}
}

.job_calendar_edit_cal_windows_column,
.job_calendar_edit_cal_windows_column {
    margin:50px 5px 15px 60px;
}

.job_calendar_edit_cal_windows,
.job_calendar_edit_cal_windows {
    margin-top: 20px
}

.x-panel.x-form-label-left .x-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc,
.x-panel.job_calendar_edit_cal_windows .x-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc,
.x-panel.x-form-label-left .x-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc,
.x-panel.job_calendar_edit_cal_windows .x-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc {
    border: 0px solid #c1c1c1;
    padding-left: 10px;
}

.x-panel.x-form-label-left .x-panel-tl .x-panel-tr .x-panel-tc .x-panel-header.x-unselectable .x-panel-header-text,
.x-panel.job_calendar_edit_cal_windows .x-panel-tl .x-panel-tr .x-panel-tc .x-panel-header.x-unselectable .x-panel-header-text,
.x-panel.x-form-label-left .x-panel-tl .x-panel-tr .x-panel-tc .x-panel-header.x-unselectable .x-panel-header-text,
.x-panel.job_calendar_edit_cal_windows .x-panel-tl .x-panel-tr .x-panel-tc .x-panel-header.x-unselectable .x-panel-header-text {
    padding-left: 10px;
}


/********* Edit job window  *********/

.edit_job_window .x-form-item {
  margin-top: 10px;
}

.edit_job_window  .x-combo-list-item {
  border: 1px solid #fff;
}

.search-item.combo_type_job {
  border: 1px solid #f0f0f0 !important;
}



/*********  User preferences window  *********/

.prefs_window .x-form-element .x-form-field-wrap {
    margin: 5px 0 3px 0px;
}

.prefs_window .x-form-text.x-superboxselect.x-superboxselect-display-btns {
  width:452px !important;
}

.prefs_window .x-panel-footer .x-panel-footer-noborder .x-panel-btns {
  width: 611px;
}

.prefs_window .x-tab-strip-top .x-tab-strip-active .x-tab-right {
  background-color: #ffffff !important;
}

.prefs_window .x-tab-panel-header {
    background-color: #ffffff !important;
    padding: 0px;
}

.prefs_window .qq-upload-button {
    margin-top: 10px;
}

.prefs_window .x-form-label-right label.x-form-item-label {
    width: 142px !important;
}


.prefs_window .api_tab label.x-form-item-label {
    margin-top: 9px;
    text-align: right;
    width: 100px !important;
    margin-left: 44px;
    margin-right: 7px;
}

.prefs_window .api_tab textarea.x-form-textarea {
    width: 75% !important;
    height: 20px !important;
    border: none;
    margin-top: 9px;
  }

.prefs_window .avatar_tab label.x-form-item-label {
    text-align: right;
    margin-left: 43px;
    margin-top: 8px;
  }

.prefs_window .avatar_tab div.x-form-element {
    padding-left:155px !important;
}

.prefs_window .avatar_tab .upload_avatar {
    width: 513px;
    vertical-align: middle;
    margin-top: -5px;
    float: left;
}

.prefs_window .x-form-element .x-form-field-wrap {
    margin: 5px 0 3px 0px;
}

.prefs_window .x-form-text.x-superboxselect.x-superboxselect-display-btns {
  width:452px !important;
}

.prefs_window .x-panel-footer .x-panel-footer-noborder .x-panel-btns {
  width: 611px;
}

.prefs_window .x-tab-strip-top .x-tab-strip-active .x-tab-right {
  background-color: #ffffff !important;
}

.prefs_window .x-tab-panel-header {
    background-color: #ffffff !important;
    padding: 0px;
}

.prefs_window .qq-upload-button {
    margin-top: 10px;
}

.prefs_window .x-form-label-right label.x-form-item-label {
    width: 142px !important;
}


.prefs_window .api_tab label.x-form-item-label {
    margin-top: 9px;
    text-align: right;
    width: 100px !important;
    margin-left: 44px;
    margin-right: 7px;
}

.prefs_window .api_tab textarea.x-form-textarea {
    width: 75% !important;
    height: 20px !important;
    border: none;
    margin-top: 9px;
  }

.prefs_window .avatar_tab label.x-form-item-label {
    text-align: right;
    margin-left: 43px;
    margin-top: 8px;
  }

.prefs_window .avatar_tab div.x-form-element {
    padding-left:155px !important;
}

.prefs_window .avatar_tab .upload_avatar {
    width: 513px;
    vertical-align: middle;
    margin-top: -5px;
    float: left;
}

.cleditorMain {
    width: auto !important;
}


.x-form-element textarea.wmd-input {
    width: 99.5% !important;
}

/*********  Grid Editor fieldlet *********/

.grid_editor_look .x-row-editor-body,
.grid_editor_look .x-row-editor-footer,
.milestone_table .x-row-editor-body,
.milestone_table .x-row-editor-footer,
.planner .x-row-editor-body,
.planner .x-row-editor-footer {
    background: #F5F5F5;
    padding-bottom: 14px;
    padding-top: 3px;
}
.grid_editor_look .x-grid-panel .x-panel-mc .x-panel-body,
.grid_editor_look .x-panel-mc .x-panel-body,
.milestone_table .x-grid-panel .x-panel-mc .x-panel-body,
.milestone_table .x-panel-mc .x-panel-body,
.planner .x-grid-panel .x-panel-mc .x-panel-body,
.planner .x-panel-mc .x-panel-body {
    padding: 0;
}

.grid_editor_look .x-row-editor .x-btns,
.milestone_table .x-row-editor .x-btns,
.planner .x-row-editor .x-btns
 {
    position: relative;
    background: #f5f5f5;
    border-bottom: 1px solid #D3D0D0;
    border-left: 1px solid #D3D0D0;
    border-right: 1px solid #D3D0D0;
    top:0px !important;
    margin-top: -1px;

}

.grid_editor_look .x-row-editor .x-btns .x-plain-body,
.milestone_table .x-row-editor .x-btns .x-plain-body,
.planner .x-row-editor .x-btns .x-plain-body  {
    height: auto;
    background: #f5f5f5;
}

.grid_editor_look .x-row-editor .x-btns .x-plain-bwrap,
.milestone_table .x-row-editor .x-btns .x-plain-bwrap,
.planner .x-row-editor .x-btns .x-plain-bwrap {
    background: #f5f5f5;
    padding: 0;
}


.grid_editor_look .x-row-editor-footer,
.milestone_table .x-row-editor-footer,
.planner .x-row-editor-footer {
    border-bottom: 1px solid #D3D0D0;
    width: 1621px !important;
/*    border-left: 1px solid #D3D0D0;
    border-right: 1px solid #D3D0D0;*/
}

/*.grid_editor_look .x-panel-body,
.milestone_table .x-panel-body,
.planner .x-panel-body {
    padding: 0px;
}*/

.grid_editor_look .x-btn-small.x-btn-icon-small-left,
.milestone_table .x-btn-small.x-btn-icon-small-left,
.planner .x-btn-small.x-btn-icon-small-left {
    border: 1px solid #F5F5F5;
}

.grid_editor_look table.x-btn.x-btn-over,
.milestone_table table.x-btn.x-btn-over,
.planner table.x-btn.x-btn-over {
        border: 1px solid #bbb;
}

.grid_editor_look  .x-row-editor .x-small-editor,
.milestone_table  .x-row-editor .x-small-editor,
.planner  .x-row-editor .x-small-editor {
    width: 100% !important;
}

.grid_editor_look .x-row-editor-body .x-column-layout-ct,
.milestone_table .x-row-editor-body .x-column-layout-ct,
.planner .x-row-editor-body .x-column-layout-ct {
    width: 1621px !important;
}

.grid_editor_look .x-row-editor-body,
.milestone_table .x-row-editor-body,
.planner .x-row-editor-body {
    width: 1621px !important;
    padding-left: 8px;
}

.grid_editor_look .x-grid3-body,
.grid_editor_look .x-grid3-row,
.grid_editor_look .x-grid3-row-selected,
.milestone_table .x-grid3-body,
.milestone_table .x-grid3-row,
.milestone_table .x-grid3-row-selected,
.planner .x-grid3-body,
.planner .x-grid3-row,
.planner .x-grid3-row-selected {
  width: auto !important;
}


.grid_editor_look .x-row-editor-header,
.milestone_table .x-row-editor-header,
.planner .x-row-editor-header {
    background:#F5F5F5;
}

.grid_editor_look .x-grid3-header-inner .x-grid3-header-offset table,
.milestone_table .x-grid3-header-inner .x-grid3-header-offset table,
.planner .x-grid3-header-inner .x-grid3-header-offset table {
    /*max-width: 1628px !important;*/
    width: 100% !important;
}


/*********  Environment planner fieldlet *********/
.cleditorToolbar {
  background: #F5F5F5 !important;
  border-bottom: 1px solid #D3D0D0;
}

.cleditorGroup {
    margin-left: 5px;
}

/************* Markdown editor fieldlet  ********/

.x-form-element textarea.wmd-input {
    margin-bottom: 10px;
  }

#boot .well {
    margin-top: 5px;
}

input.combo_box_fieldlet {
  height: 18px !important;
}


/************* New notification menu  ********/

.notification_edit_menu .first_notification_menu_row .x-form-label-left.x-column .x-form-element {
    margin-top: 4px;
}

.notification_edit_menu #pnl_subject .x-form-element .x-form-check-wrap {
      margin-top: 4px;
}

.notification_edit_menu .recipients_notification_edit .x-toolbar.x-small-editor.x-toolbar-layout-ct {
    width: 100% !important;
    padding: 5px 5px 5px 6px;
}

.notification_edit_menu .recipients_notification_edit .x-panel-body.x-panel-body-noheader,
.notification_edit_menu .recipients_notification_edit .x-grid3-body,
.notification_edit_menu .recipients_notification_edit .x-grid3-scroller,
.notification_edit_menu .recipients_notification_edit .x-grid3,
.notification_edit_menu .recipients_notification_edit .x-grid3-row,
.notification_edit_menu .recipients_notification_edit .x-grid3-row-table,
.notification_edit_menu .recipients_notification_edit .x-grid3-row-selected {
    padding:0;
    width: 100% !important;
    border: none;
}

.notification_edit_menu .recipients_notification_edit .x-grid3-row-table {
      padding: 4px;
}

.notification_edit_menu .x-panel-tbar.x-panel-tbar-noheader {
    width: 100% !important;
}

/************* New rule window  ********/


.edit_rule_window {
    max-height:485px;
    width: 900px;
    max-width: 900px;
    min-width:330px;
}

.edit_rule_window_body {
    max-height:455px;
    min-width:324px;
    max-width: 894px;
}
/*
.edit_rule_window .x-form-label-right label.x-form-item-label {
        margin-right: 10px;
}*/

.edit_rule_window .x-panel-bbar ,
.edit_rule_window .x-toolbar.x-small-editor.x-toolbar-layout-ct{
   width: 99.8% !important;
   height: auto;
}

.new_rule_window .x-form-item {
    padding-bottom: 5px;
}

.new_rule_window h4 {
    padding: 10px 35px 5px 35px !important;
}

.new_rule_window .x-grid3-viewport {
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #e9e9e9;
}


.new_rule_window .x-toolbar.x-small-editor.x-toolbar-layout-ct {
    width: 100% !important;
    padding: 5px 5px 5px 6px;
}

.new_rule_window .x-grid3-row-table {
      padding: 4px 0px;
}

.new_rule_window .x-panel-tbar.x-panel-tbar-noheader,
.new_rule_window .x-grid3-header-offset table,
.new_rule_window .x-grid3-header-inner  {
    width: 100% !important;
}

.new_rule_window .x-grid3-scroller {
  height: 185px !important;
}

.new_rule_window .x-grid3-hd-checker {
  display: none;
}

.new_rule_window .x-grid3 {
  height: 100% !important;
}

.new_rule_window .x-panel.x-panel-noborder.x-grid-panel {
  margin-left:35px;
}

.new_rule_window .x-form-element input {
  padding-left: 4px;
}

.new_rule_window .wdsl_rule {
  border: 1px solid #E8E8E8;
}

.edit_rule_window .x-toolbar-right {
  padding-right: 7px;
}

.edit_rule_window .type_event_rule .x-column {
  display: block;
  clear: both;
}
/*
.new_rule_window input.name_combo_edit_rule  {
  height: 26px;
}
.new_rule_window td.x-toolbar-right {
    padding-right: 10px;
*/
.icon_standar_size {
    height: 16px;
    width:  16px;
}

.help_docs .x-panel-body img {
  height: 16px;
  width: 16px;
 }

.x-tab-panel-body .events_grid.ux-maximgb-tg-panel {
    max-width: 100% !important;
}

.job_logfile_panel {
    overflow: hidden !important;
}

textarea.x-form-field.job_logfile_textarea {
    font-family: Consolas, monospace;
    padding: 0 1px !important;
}

textarea.x-form-field.job_logfile_textarea, x:-moz-any-link, x:default {
    max-width: 99.5% !important;
    padding: 0 1px !important;
}

.img-main-logo-file{
    border:0px;
    max-width:220px;
    max-height:35px;
}

.img-custom-logo-file{
    border:0px;
    max-width:220px;
    max-height:28px;
}

img[src$='.svg'][src^='/static/images'] {
   height: 16px;
   width: 16px;
}

img.img-main-logo-file[src$='.svg']{
   height: 26px;
   width: 106px;
}

img.img-custom-logo-file[src$='.svg']{
   height: 31px;
   width: 208px;
}

span.x-tab-strip-text.x-panel-inline-icon {
    padding-left: 20px;
}

.category-tab-ghost {
    font-size:0px;
    padding: 8px 8px 0px 0px;
    margin : 0px 4px 0px 0px;
    background-color: transparent;
    border-radius:0px;
}

.x-panel-header.job-slots-panel-header.x-unselectable {
    padding: 5px 0 4px 4px;
    border:1px solid #f5f5f5;
}

.job-slots-panel .x-panel-tl .x-panel-tr{
    padding-right: 0px !important;
}

.job-slots-panel .x-panel-tl {
    padding-left: 0px !important;
}

.x-panel-body.job-slots-panel-body.x-column-layout-ct .x-column-inner {
    overflow: auto !important;
}
.x-panel.job-slots-panel-item.x-column {
    padding-left: 80px;
    min-width: 450px;
}

.x-panel-bwrap.job-slots-panel-bwrap .x-panel-ml .x-panel-mr .x-panel-mc {
    background: white none repeat scroll 0 0;
    border:none;
    overflow: visible;
    padding: 0;
}

.x-panel-body.job-slots-panel-item-body.x-panel-body-noheader.x-column-layout-ct {
    min-width: 450px;
}

div.x-panel-body .job-calendar {
    overflow: visible !important;
    padding: 3px 5px 3px 1px;
}

#calendarDiv > table {
   width:100%;
   padding: 20px;
}

.slots-caption {
    padding-left: 10px;
    width: 70px;
}

.slots-caption-big {
    padding-left: 10px;
    width: 90px;
}

.slot_N,
.slot_U,
.slot_X,
.slot_B,
.slot_N_off,
.slot_U_off {
    width: 20px;
}

#calendarDiv table {
    border: none;
    width: 100%;
}

.job-calendar-slots-table {
    height: 300px;
}

.x-combo-list-item.x-combo-list-ci img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 2px;
}

