<%args>
    $meta
    $data
</%args>

<%perl>
    my $is_release = 0;
    my @parents_topics;
    
    my $release = $c->model('Baseliner::BaliTopic')->find($data->{topic_mid})->categories->is_release;
    if($release){
        $is_release = 1;
        @parents_topics = $c->model('Baseliner::BaliTopic')->search(
                                { rel_type=>'topic_topic', 'categories.is_release' => {'!=',1}, from_mid => $data->{topic_mid} },
                                { join=>['categories','parents','master'], select=>['mid','title', 'progress', 'categories.name', 'categories.color'], as=>['mid','title','progress','name','color'] }
                                )->hashref->all;
        @parents_topics = $c->model('Topic')->append_category( @parents_topics );

    }
    else{
        @parents_topics = $c->model('Baseliner::BaliTopic')->search(
                                { rel_type=>'topic_topic', 'categories.is_release' => {'!=',1}, to_mid => $data->{topic_mid} },
                                { join=>['categories','children','master'], select=>['mid','title', 'progress', 'categories.name', 'categories.color'], as=>['mid','title','progress','name','color'] }
                                )->hashref->all;
        @parents_topics = $c->model('Topic')->append_category( @parents_topics );
    }    
</%perl>

% if($is_release){
% if( @parents_topics ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc("Content") %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $topic ( @parents_topics ) {
        <li style="margin: 6px 0px 6px 0px">
            <span class="label" onclick="javascript:Baseliner.show_topic(<% $topic->{mid} %>, '<% $topic->{name} %>')" 
            style="float:left;padding:2px 8px 2px 8px;cursor:pointer;background: <% $topic->{color} %>"><% $topic->{name} %></span>
% my $cls = ( $topic->{progress} < 20 ? 'important' : ( $topic->{progress} < 40 ? 'warning' : ( $topic->{progress} < 80 ? 'info' : 'success' ) ) );
            &nbsp;&nbsp;<b><% $topic->{title} %></b>&nbsp;&nbsp;
% if($topic->{progress}){
            <span class="badge badge-<%$cls%>" style="float:right;"><%$topic->{progress}%>%</span>
%}
        </li>
% }
    </ul>
% }
%}else{
% if( @parents_topics ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc("Include into") %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $topic ( @parents_topics ) {
        <li style="margin: 6px 0px 6px 0px">
            <span class="label" onclick="javascript:Baseliner.show_topic(<% $topic->{mid} %>, '<% $topic->{name} %>')" 
            style="float:left;padding:2px 8px 2px 8px;cursor:pointer;background: <% $topic->{color} %>"><% $topic->{name} %></span>
% my $cls = ( $topic->{progress} < 20 ? 'important' : ( $topic->{progress} < 40 ? 'warning' : ( $topic->{progress} < 80 ? 'info' : 'success' ) ) );
            &nbsp;&nbsp;<b><% $topic->{title} %></b>&nbsp;&nbsp;
% if($topic->{progress}){
            <span class="badge badge-<%$cls%>" style="float:right;"><%$topic->{progress}%>%</span>
%}
        </li>
% }
    </ul>
% }
% }    

