<%args>
    $meta
    $data
</%args>
% my $d = $data->{ $meta->{id_field} };
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc($meta->{name_field}) %>
        </li>
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">
            <pre>
                <% $d && @$d ? _dump($d) : '' %>
            </pre>
        </li>
    </ul>
% if( _array( $data->{$meta->{id_field}} ) ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc($meta->{name_field}) %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $ci ( _array( $data->{$meta->{id_field}} ) ) {
%     next unless ref $ci eq 'HASH';
        <li style="margin: 2px 0px 6px 0px">
            <img style="margin: 1px" width=16 src="/static/images/icons/tag.gif" />
            <a href="javascript:Baseliner.show_revision(<% $ci->{mid} %>)"><% $ci->{name} %></a>
        </li>
% }
    </ul>
% } 

