<%args>
    $meta
    $data
</%args>

<%perl>
    my $is_release = 0;
    my @parents_topics;
    
    my $category = $c->model('Baseliner::BaliTopic')->find($data->{topic_mid})->categories;

    my $release = $category->is_release;
    my $id_category = $category->id;
    
    my @fields = 
        map { 
            $_->{id_field} 
        } 
        grep { 
            my $params = _load($_->{params_field});
            $params->{origin} ne "system" 
        } DB->BaliTopicFieldsCategory->search({id_category => $id_category})->hashref->all;

 if ( $release ) {
    $is_release     = 1;
    @parents_topics = $c->model( 'Baseliner::BaliTopic' )->search(
        {
            rel_type => 'topic_topic',
            -or      => {'categories.is_changeset' => 1, 'categories.is_release' => 1},
            from_mid => $data->{topic_mid},
            -or => { rel_field => {"not in", \@fields}, rel_field => { '=',undef} }
        },
        {
            join => [ 'categories', 'parents', 'master' ],
            select => [ 'mid', 'title', 'progress', 'categories.name', 'categories.color' ],
            as => [ 'mid', 'title', 'progress', 'name', 'color' ]
        }
    )->hashref->all;
    @parents_topics = $c->model( 'Topic' )->append_category( @parents_topics );

} else {
    @parents_topics = $c->model( 'Baseliner::BaliTopic' )->search(
        {
            rel_type                => 'topic_topic',
            'categories.is_release' => {'!=', 1},
            to_mid                  => $data->{topic_mid},
            -or => { rel_field => {"not in", \@fields}, rel_field => { '=',undef} }
        },
        {
            join => [ 'categories', 'children', 'master' ],
            select => [ 'mid', 'title', 'progress', 'categories.name', 'categories.color' ],
            as => [ 'mid', 'title', 'progress', 'name', 'color' ]
        }
    )->hashref->all;
    @parents_topics = $c->model( 'Topic' )->append_category( @parents_topics );
} ## end else [ if ( $release ) ]
  

</%perl>

% if($is_release){
% if( @parents_topics ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc("Content") %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $topic ( @parents_topics ) {
        <li style="margin: 6px 0px 6px 0px">
            <& /partial/topic_name.html, topic=>$topic &>
        </li>
% }
    </ul>
% }
%}else{
% if( @parents_topics ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc("Include into") %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $topic ( @parents_topics ) {
        <li style="margin: 6px 0px 6px 0px">
            <& /partial/topic_name.html, topic=>$topic &>
        </li>
% }
    </ul>
% }
% }    

