<%args>
    $meta
    $data
</%args>

<tr>
  <th><% _loc($meta->{name_field}) %>:</th>
  <td 
      class="fieldlet-html"
      style="<% $meta->{framed} and 'text-transform: uppercase; font-size: 10px; font-weight:bold; background-color: #eee; text-align: center' %>" >
<%perl> 
		my @cis = _array $data->{$meta->{id_field}};
		my $ci = "";
    if ( scalar @cis > 1 ) {    
  		for ( @cis ) {
  			$ci .= "<li style='white-space: nowrap;padding: 0px 10px 0px 0px;'>"._ci( $_ )->{name}."</li>";
      }
    } else {
      $ci = _ci( $cis[0] )->{name};
		}
</%perl>
		<% $ci %>
  </td>
</tr>
