<%args>
    $meta
    $data
</%args>

% my $topic_id = $data->{topic_mid} . _nowstamp;
    <tr>
      <th><% _loc($meta->{name_field}) %>:</th>
<!--       <td>
          <span class="arrow_box" style="padding: 3px;cursor:pointer; color: white;background-color:<% $data->{$meta->{id_field}}->{color} || 'transparent' %>" 
                onclick="javascript:Baseliner.show_topic(<% $data->{$meta->{id_field}}->{mid} %>, '<% $data->{$meta->{id_field}}->{title} %>')">
                <% $data->{$meta->{id_field}}->{title} || '&nbsp;' %>
        </span>-->
        <td  id="<% $topic_id.$meta->{id_field} %>" title="<% $data->{$meta->{id_field}}->{title} || '&nbsp;' %>" ></td>
      <!--</td>-->
    </tr>
  
    <script>
        var release = '<% $data->{$meta->{id_field}}->{mid} %>';
        var name ;
        if(release != ''){
            name = Baseliner.topic_name({ link: true,
                mid: '<% $data->{$meta->{id_field}}->{mid} %>', 
                size: '10',
                category_name: '<% $data->{$meta->{id_field}}->{name} %>',
                category_color: '<% $data->{$meta->{id_field}}->{color} %>',
                short_name: true
            });
        }else{
            name = '';
        }
        document.getElementById('<% $topic_id.$meta->{id_field} %>').innerHTML = name;
    </script>    