<%args>
    $meta
    $data
</%args>
    <tr>
        <td style="vertical-align: middle">
            <span class="label" style="background: <% $data->{color_category} %>"><% _loc($data->{name_category}) %> #<% $data->{topic_mid} %></span>
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            <h3><% $data->{ $meta->{bd_field} } %></h3>
        </td>    
    </tr>
    <tr >
        <td style="padding: 5 0 10 0; color: #999">
            <a href="javascript:Baseliner.Topic.data_user_event('<% $data->{modified_by}%>')">
                <img  width=16 src="/user/avatar/<% $data->{modified_by} %>/image.png" />
            </a>
            <% $data->{modified_by}%>, <small><%$data->{modified_on}%></small> &nbsp; | &nbsp;            
            <% lc _loc('Created')%>: <a href="javascript:Baseliner.Topic.data_user_event('<% $data->{created_by} %>')"> <img  width=16 src="/user/avatar/<% $data->{created_by} %>/image.png" /> </a>
            <% $data->{created_by}%>, <small><%$data->{created_on}%></small>    
% if( _array( $data->{labels} ) ) {

% foreach my $label ( _array( $data->{labels} ) ) {
        <!--<div class='alert' style='font-size: 9px;padding:1px 4px 1px 4px;margin-right:4px;color:white;background-color:<% $label->{color} %>'>-->
        <span class='label' style='padding:1px 4px 1px 4px;margin-right:3px;background-color:<% $label->{color} %>'>
            <% $label->{name} %>
% if($data->{admin_labels}){        
            <span id='<% $label->{id} %>' class='label_click' style="cursor:pointer; cursor:hand">&nbsp;&#x00D7;</span>
%}
        </span>
% }
% }
        </td>
    </tr>

    <script>
    $(".label_click").click(function(ev) {
        var topic_mid = '<%$data->{topic_mid}%>';
        Baseliner.ajaxEval( '/topic/delete_topic_label/' + topic_mid + '/' + this.id,{},
            function(response) {
                if ( response.success ) {
                    $( ev.target ).parent().hide();
                    //$("#" + response.id).parent().hide();
                    Baseliner.message( _('Success'), response.msg );
                } else {
                    Ext.Msg.show({
                        title: _('Information'), 
                        msg: response.msg , 
                        buttons: Ext.Msg.OK, 
                        icon: Ext.Msg.INFO
                    });     
                }
            }
        );
    });
    </script>
