<%args>
    $meta
    $data
</%args>

% if( _array( $data->{$meta->{id_field}} ) ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc($meta->{name_field}) %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $topic ( _array( $data->{$meta->{id_field}} ) ) {
        <li style="margin: 6px 0px 6px 0px;">
% my $cls = ( $topic->{progress} < 20 ? 'important' : ( $topic->{progress} < 40 ? 'warning' : ( $topic->{progress} < 80 ? 'info' : 'success' ) ) );            
% if($topic->{progress}){                            
            <span class="badge badge-<%$cls%>" style="float:right;"><%$topic->{progress}%>%</span>
%}            
            <span class="label" onclick="javascript:Baseliner.show_topic(<% $topic->{mid} %>, '<% $topic->{name} %>')" 
            style="padding:2px 8px 2px 8px;cursor:pointer;background: <% $topic->{color} %>"><% $topic->{name} %></span>
            &nbsp;&nbsp;<b><% $topic->{title} %></b>&nbsp;&nbsp;

        </li>
% }
    </ul>

<%perl>
    
    my @parents_topics = $c->model('Baseliner::BaliTopic')->search(
                            { rel_type=>'topic_topic', to_mid=>$data->{topic_mid} },
                            { join=>['categories','children','master'], select=>['mid','title', 'progress', 'categories.name', 'categories.color'], as=>['mid','title','progress','name','color'] }
                            )->hashref->all;
    @parents_topics = $c->model('Topic')->append_category( @parents_topics );
</%perl>
    
% }
