<%args>
    $meta
    $data
</%args>

% if( !$meta->{hidden} ) {

%use Date::Parse;
%use DateTime;

%my $epoch = str2time( $c->user_date($data->{created_on}) );
%my $datetime = DateTime->from_epoch(epoch => $epoch);

    <tr>
      <td >
          <img style="margin: 0px 5px 2px 0px" width=16 src="/user/avatar/<% $data->{$meta->{display_field}} %>/image.png" />
          <% $data->{$meta->{display_field}}  || $data->{$meta->{id_field}}%>, <small><%$datetime->dmy %> <%$datetime->hms%></small>    
      </td>
    </tr>
% }
