<%args>
    $meta
    $data
</%args>


<%perl>
my $iid = Util->_md5;
my @topics;
if( ! $meta->{hidden} ) { 
    my $names = { name=>'ID', name=>'ID', title=>'Title', name_status=>'Status', created_by=>'Created By', created_on=>'Created On', modified_by=>'Modified By', modified_on=>'Modified On' };
    
    my $ix = 0;
    @topics = Util->_array( $data->{$meta->{id_field}} );
    my $cols = ref $meta->{columns} ? $meta->{columns} : do {
        [ map { [ split /,/ ] } split /;/, $meta->{columns} ]
    };
    
    my @head =  map { 
    my $nid= $_->[0];
        +{ key=>$nid, name=>( $names->{$nid} // $_->[1] || $_->[0] ), width=>$_->[3], type=>$_->[2] }
    } @$cols; 
    if( ! @head ) {
        @head = map { +{ key=>$_, name=>( $names->{$_} // $_ )  } } qw/name title name_status created_by created_on modified_by modified_on/
    }
    my @hide_list_statuses;
    @hide_list_statuses = map { [ split /,/ ] } $meta->{hide_list_statuses} if $meta->{hide_list_statuses};
</%perl>
    
    <tr>
        <th colspan="2" style="padding: 10px 0 10px 0">
            <h5 style="border-bottom: 1px solid #bbb">
                  <% _loc($meta->{name_field}) %>
% if( @topics && $$meta{datatable} ne 'never' ) {
                   <div style="float:right; cursor:pointer">
                       <img src="/static/images/icons/services-16.png" onclick="javascript:Baseliner.datatable_toggle('#<% $iid %>')">
                   </div>
% }
            </h5>
        </th>
    </tr>
    <tr>
      <td style="<% $meta->{framed} and 'text-transform: uppercase; font-size: 10px; font-weight:bold; background-color: #eee; text-align: center' %>" >
% my %topics_security = map { $_->{mid} => $_->{_project_security}} mdb->topic->find({ mid => mdb->in(map{$_->{mid}} @topics)},{mid=>1, _project_security =>1})->all;
% my $user_security = ci->user->find_one({ name => $c->username })->{project_security};

% @topics = grep { $c->model('Permissions')->user_can_topic_by_project( mid=>$_->{mid}, username => $c->username, topic_security=>$topics_security{$_->{mid}}, user_security=>$user_security) } @topics;
% if (@hide_list_statuses && scalar @hide_list_statuses > 0){ for my $status (_array @hide_list_statuses){ @topics = grep { $_->{"category_status"}{type} ne "$status" } @topics } };
% if( @topics && scalar @topics > 0 ) {
        <table class="table table-bordered" style="margin-top: 10px; width: 100%" id="<% $iid %>">
              <thead>
                <tr>
% foreach my $h ( @head ) {
                    <th style="white-space:nowrap;" width="<% $$h{width} %>"><% _loc( $$h{name} ) %></th>
% }
                </tr>
              </thead>
              <tbody>
% foreach my $topic ( @topics ) {
                <tr>
% foreach my $h ( @head  ) {
%    my $val =  $topic->{ $$h{key} } // $topic->{data}{ $$h{key} };
%    if( $$h{key} eq 'name' ) {
            <td style="font-size: <% $meta->{td_font_size} // 12 %>px;" class="fieldlet-html">
                <& /partial/topic_name.html, topic => $topic, show_title => 0, show_short_name => 1, show_progress => 0, show_name_tooltip => 0 &>
%    } elsif( $$h{key} eq 'title' ) {
            <td class="fieldlet-html" style="font-size: 11px; font-weight:bold;"><% $topic->{title} %></td>
%    } elsif( $$h{key} eq 'name_status' ) {
            <& /partial/topic_status.html, topic=>$topic &>
%    } else {
            <td style="font-size: <% $meta->{td_font_size} // 10 %>px" class="fieldlet-html">
<%
                            $$h{type} eq 'checkbox' 
                            ? ( !$val || $val eq 'false' ? '<img src="/static/images/icons/delete.gif">' : '<img src="/static/images/icons/checkbox.png">')
                            : $$h{type} eq 'index' 
                            ? ++$ix
                            : ref $val ? $val : Util->_markdown($val, { tab_width=>2 })

                        %>
%    }
             </td>
% }
             </tr>
% }
              </tbody>
          </table>
      </td>
    </tr>
% } # if 
% else { 
    <tr>
        <td colspan="2"><% _loc( 'None' ) %></td>
    </tr>
% }# data

% } # hidden

<script>
    (function(){
        try {  // to support legacy
% if( $$meta{datatable} eq 'always' ) {
    Baseliner.datatable('#<% $iid %>',{});
% } elsif( Util->is_number($$meta{datatable}) && @topics > $$meta{datatable} ) { 
    Baseliner.datatable('#<% $iid %>',{ paging: true, ordering: true, searching: true });
% } elsif( $$meta{datatable} ne 'never' ) {
    Baseliner.datatable('#<% $iid %>',{ paging: true, ordering: true, searching: true }, function(){
        Baseliner.datatable_toggle('#<% $iid %>',false);  // false => hide now
    });
% }
       } catch(e){ }
    })();
</script>

