<!--
name: Bar Jobs
description: View of Jobs
config: config.dashlet.jobs_by_hour
url: /dashboard/generic
html: /dashlets/bar_jobs.html
-->

% my $graph_id = 'bar_jobs' . Util->_nowstamp();

<div id="principal" style="clear:left;" >
    <h2><% _loc('Jobs Daily (7 days)') %></h2><br>
		<div id="<%$graph_id%>" 
			style="width: 95%; height: 250px; float: left; " 
			onmouseout="document.body.style.cursor='default';"></div>
</div>

<script type="text/javascript">
 
    $(function () {
        var id = "#<% $graph_id %>";
            var chart = c3.generate({
                bindto: id,
                data: {
                  columns: [
                    ['data1', 30, 200, 100, 400, 150, 250],
                    ['data2', 50, 20, 10, 40, 15, 25]
                  ],
                  axes: {
                    data2: 'y2'
                  },
                  types: {
                    data2: 'bar' // ADD
                  }
                },
                axis: {
                 x : {
                    tick: {
                        //format: d3.format("$,")
                        format: function (d) { return "Format: " + d; }
                    }
                  },
                  y: {
                    label: {
                      text: 'Y Label',
                      position: 'outer-middle'
                    }
                  },
                  y2: {
                    show: true,
                    label: {
                      text: 'Y2 Label',
                      position: 'outer-middle'
                    }
                  }
                }
            });
    });
</script>



