<!--
name: Filtered Topics
description: List of topics filtered by category and status
config: config.dashlet.filtered_topics
url: /dashboard/list_filtered_topics
html: /dashlets/filtered_topics.html
-->
<%perl>
    use Baseliner::Utils;
    use Class::Date;
    my @topics = $c->stash->{filtered_topics};
</%perl>

    <div style="clear:left;">
        <h2><% _loc('Pending Topics') %></h2>
        <table class="table table-bordered table-condensed dashboard">
            <thead>
                <tr>
                    <th><% _loc('Name') %></th>
                    <th><% _loc('Title') %></th>
                    <th><% _loc('Assignee') %></th>                    
                    <th><% _loc('Status') %></th>                    
                    <th><% _loc('Projects') %></th>                    
                    
                </tr>
            </thead>
            <tbody>
% my %projs = map { $_->{mid} => $_->{name}} ci->project->find()->all;
% foreach my $topic (_array @topics){
%   my @topic_projs = $topic->{_project_security} && $topic->{_project_security}->{project}?_array($topic->{_project_security}->{project}):();
%   my @proj_names = ();
%   @proj_names = map { $projs{$_} } @topic_projs;
%   my $str_projs = join ',',@proj_names;
%   my $numcomment = $topic->{numcomment} ? " ($topic->{numcomment})" : '';
%   my $date = Util->ago(Class::Date->new($topic->{modified_on}));
%   my $topic_id = $topic->{topic_mid} . _nowstamp;
                <tr>
                    <td class="name-html" id="filtered_<%$topic_id%>" ><% "$topic->{category_name}" %></td>
    
                    <script>
                        var name = Baseliner.topic_name({ link: true,
                            mid: '<%$topic->{topic_mid}%>', 
                            size: '10',
                            category_name: '<% "$topic->{category_name}" %>',
                            category_color: '<% "$topic->{category_color}" %>',
                            short_name: true
                        });
                        
                        document.getElementById('filtered_<%$topic_id%>').innerHTML = name;
                    </script>                    
                    
                    <td class="title-html" title="<% $topic->{title} %>" ><% $topic->{title} %></td>
                    <td class="title-html" title="<% join ",",_array($topic->{assignee}) %>" ><% join ",",_array($topic->{assignee}) %></td>
                    <td class="status-html" title="<% _loc("Created by %1 %2", $topic->{created_by}, $date) %>"><span><% $topic->{category_status_name} .  $numcomment%></span></td>
                    <td class="title-html"><% $str_projs %></td>
                    
                </tr>
%}
            </tbody>
        </table>
    </div>
