<!--
name: Job Daily Burndown
description: Burndown of Jobs by Hour
url: /dashboard/generic
html: /dashlets/job_burndown.html
-->

% my $graph_id = 'jobs_burndown_' . Util->_nowstamp();

<div id="principal" style="clear:left;" >
    <h2><% _loc('Job Burndown') %></h2><br>
		<div id="<%$graph_id%>" 
			style="width: 100%; height: 250px; float: left; " 
			onmouseout="document.body.style.cursor='default';"></div>
</div>

<script type="text/javascript">
 
    function gd(year, month, day) {
        return new Date(year, month, day).getTime();
    }
 
    $(function () {
        var id = "#<% $graph_id %>";
        var data = [];
        var ticks = [];
        Cla.ajax_json('/job/burndown', { }, function(res){
            for( var k in res.data ) {
                data.push([k,res.data[k] ]);
            };
            for( var i=0; i<24; i++ ) {
                //var hr = ( i>11 ? (i-12)+'pm' : i+'am' );
                ticks.push([i,i+'h']); 
            }
             
            $.plot( $(id), [
                    {
                        data: data,
                        label: _('Jobs'),
                        lines: { show: true}
                    }
                ],
                {
                    legend: { show: true },
                    xaxis: { 
                        ticks: ticks,
                        axisLabelUseCanvas: true,
                        labelAngle: -90
                    }
                }
            );
             

        });
    });
</script>

