<!--
name: Job Daily Burndown
description: Burndown of Jobs by Hour
url: /dashboard/generic
html: /dashlets/job_burndown.html
-->

% my $graph_id = 'jobs_burndown_' . Util->_nowstamp();

<div id="principal" style="clear:left;" >
    <h2><% _loc('Job Burndown') %></h2><br>
		<div id="<%$graph_id%>" 
			style="width: 95%; height: 250px; float: left; " 
			onmouseout="document.body.style.cursor='default';"></div>
</div>

<script type="text/javascript">
 
    function gd(year, month, day) {
        return new Date(year, month, day).getTime();
    }
 
    $(function () {
         var lineFit = function(points){
            sI = slopeAndIntercept(points);
            if (sI){
              // we have slope/intercept, get points on fit line
              var N = points.length;
              var rV = [];
              rV.push([points[0][0], sI.slope * points[0][0] + sI.intercept]);
              rV.push([points[N-1][0], sI.slope * points[N-1][0] + sI.intercept]);
              return rV;
            }
            return [];
          }

          // simple linear regression
          var slopeAndIntercept = function(points){
            var rV = {},
                N = points.length,
                sumX = 0, 
                sumY = 0,
                sumXx = 0,
                sumYy = 0,
                sumXy = 0;

            // can't fit with 0 or 1 point
            if (N < 2){
              return rV;
            }    

            for (var i = 0; i < N; i++){
              var x = points[i][0],
                  y = points[i][1];
              sumX += x;
              sumY += y;
              sumXx += (x*x);
              sumYy += (y*y);
              sumXy += (x*y);
            }

            // calc slope and intercept
            rV['slope'] = ((N * sumXy) - (sumX * sumY)) / (N * sumXx - (sumX*sumX));
            rV['intercept'] = (sumY - rV['slope'] * sumX) / N;
            rV['rSquared'] = Math.abs((rV['slope'] * (sumXy - (sumX * sumY) / N)) / (sumYy - ((sumY * sumY) / N)));

            return rV;
          }


        var id = "#<% $graph_id %>";
        var data0 = [];
        var data1 = [];
        var ticks = [];
        Cla.ajax_json('/job/burndown', { }, function(res){
            for( var k in res.data0 ) {
                // if( k==0 || k==23 )   // FIXME fake trendline
                    data0.push([ k,res.data0[k] ]);
            };
            for( var k in res.data1 ) {
                data1.push([k,res.data1[k] ]);
            };
            var trend = data0 ; // not working, 23h point is superlow lineFit( data0 );
            for( var i=0; i<24; i++ ) {
                //var hr = ( i>11 ? (i-12)+'pm' : i+'am' );
                ticks.push([i,i+'h']); 
            }
             
            $.plot( $(id), [
                    {
                        data: trend,
                        label: _('Jobs last 1000D'),
                        lines: { show: true}
                    },
                    {
                        data: data1,
                        label: _('Jobs last 100D'),
                        lines: { show: true}
                    }
                ],
                {
                    legend: { show: true },
                    xaxis: { 
                        ticks: ticks,
                        axisLabelUseCanvas: true,
                        labelAngle: -90
                    }
                }
            );
             

        });
    });
</script>

