<!--
name: Jobs
description: List of last jobs by application
config: config.dashlet.jobs
url: /dashboard/list_jobs
html: /dashlets/jobs.html

-->
<%perl>
    use Baseliner::Utils;
    my @jobs = $c->stash->{jobs};
</%perl>

    <div>
        <h2><% _loc("Jobs") %></h2>
        <table class="table table-bordered table-condensed dashboard">
            <thead>
                <tr>
                    <th><% _loc("Project") %></th>
                    <th><% _loc("Baseline") %></th>
                    <th><% _loc("Last success") %></th>
                    <th><% _loc("Last failure") %></th>
                    <th><% _loc("Last elapsed") %></th>
                </tr>
            </thead>
            <tbody>
%foreach my $job (_array @jobs){          
                <tr>
                    <td><%$job->{project}%></td>
                    <td><%$job->{bl}%></td>
%if($job->{idOk}){
                    <td><%$job->{lastOk}%> dias (<b><a href="javascript:Baseliner.addNewTab('/job/log/dashboard?id_job=<%$job->{idOk}%>&name=<%$job->{nameOk}%>', _('Log <%$job->{nameOk}%>') );" style="font-family: Tahoma;">#<%$job->{idOk}%></a></b>)</td>
%}else{
                    <td> ------------- </td>  
%}
%if($job->{idError}){
                    <td><%$job->{lastError}%> dias (<b><a href="javascript:Baseliner.addNewTab('/job/log/dashboard?id_job=<%$job->{idError}%>&name=<%$job->{nameError}%>', _('Log <%$job->{nameError}%>') );" style="font-family: Tahoma; color:red;">#<%$job->{idError}%></a></b>)</td>
%}else{
                    <td> ------------- </td>  
%}
                    <td><%$job->{lastDuration}%> min</td>
                </tr>
%}
            </tbody>    
        </table>
    </div>




