<!--
name: Jobs By Status Pie
description: Chart pie (Jobs by status)
url: /dashboard/generic
html: /dashlets/jobs_by_status_pie.html
-->

% my $graph_id = 'jobs_by_status_' . Util->_nowstamp();

<div id="jobs_by_status_pie" style="clear:left;" >
    <h2><% _loc('Jobs By Status') %></h2>
    <div align="right">
        <img src="/static/images/icons/config.gif" onclick="e = document.getElementById('jobs_by_status_pie_setup'); if (e.style.display == 'block') { e.style.display = 'none' } else { e.style.display = 'block' }"/>
        <img src="/static/images/icons/refresh.gif"/ onclick="reload_jobs(graph_period,graph_title);">
    </div>
    <div id="jobs_by_status_pie_setup" style='display:none;border-style: ridge;border-width: 4px;padding: 10px;'>
      Type:
        <input type="radio" name="type" value="bar" onclick="graph_type='bar';graph.transform('donut');">  Donut
        <input type="radio" name="type" value="line" onclick="graph_type='line';graph.transform('pie');" checked>  Pie
      Last:
        <input type="radio" name="period" value="day" onclick="reload_jobs('1D','Last day');">  Day
        <input type="radio" name="period" value="week" onclick="reload_jobs( '7D','Last week');">  Week
        <input type="radio" name="period" value="month" onclick="reload_jobs( '1M','Last month');" checked>  Month
        <input type="radio" name="period" value="quarter" onclick="reload_jobs( '3M','Last quarter');">  Quarter
        <input type="radio" name="period" value="year" onclick="reload_jobs( '1Y','Last year');">  Year
    </div>

		<div id="<%$graph_id%>" 
			style="width: 250px; height: 250px; margin:0px auto; " 
			onmouseout="document.body.style.cursor='default';">
        </div>
</div>

<script type="text/javascript">
    var graph;
    var graph_type = 'donut';
    var period = '1M';
    var graph_period;
    var graph_title;

    var reload_jobs = function( period, title ) {
        var id = "#<% $graph_id %>";
        graph_title = title;
        if ( !period ) period = graph_period;
        graph_period = period;
        if (graph) graph.unload();

        Cla.ajax_json('/job/by_status', { period: period }, function(res){
            require(['d3','c3'], function(d3,c3){
                graph = c3.generate({
                     bindto: id,
                     data: {
                         columns: res.data,
                         type : graph_type,
                         colors: {'FINISHED':'#5cb85c','ERROR':'#d9534f'}
                     },
                     donut: {
                         title: title
                     }
                });
            });
        });
    };

    $(function () {
        reload_jobs( '1M','Last month' );
    });

</script>
