<!--
name: Jobs
description: List of last jobs by application
config: config.dashlet.jobs
url: /dashboard/list_jobs
html: /dashlets/jobs.html

-->
<%perl>
    use Baseliner::Utils;
    my @jobs = $c->stash->{jobs};
</%perl>

    <div style="clear:left;">
        <h2><% _loc("Jobs") %></h2>
        <table class="table table-bordered table-condensed dashboard">
            <thead>
                <tr>
                    <th><% _loc("Project") %></th>
                    <th><% _loc("Baseline") %></th>
                    <th><% _loc("Last success") %></th>
                    <th><% _loc("Last failure") %></th>
                    <th><% _loc("Last elapsed") %></th>
                </tr>
            </thead>
            <tbody>
% if( model->Permissions->user_has_action(username=>$c->username, action=>'action.job.view_monitor') ) {
%foreach my $job (_array @jobs){          
                <tr>
                    <td><%$job->{project}%></td>
                    <td><%$job->{bl}%></td>
%if($job->{id_ok}){
                    <td><%$job->{last_ok}%> dias (<b><a href="javascript:Baseliner.addNewTab('/job/log/dashboard?mid=<%$job->{mid_ok}%>&name=<%$job->{name_ok}%>', _('Log <%$job->{name_ok}%>') );" style="font-family: Tahoma;">#<%$job->{id_ok}%></a></b>)</td>
%}else{
                    <td> ------------- </td>  
%}
%if($job->{id_err}){
                    <td><%$job->{last_err}%> dias (<b><a href="javascript:Baseliner.addNewTab('/job/log/dashboard?mid=<%$job->{mid_err}%>&name=<%$job->{name_err}%>', _('Log <%$job->{name_err}%>') );" style="font-family: Tahoma; color:red;">#<%$job->{id_err}%></a></b>)</td>
%}else{
                    <td> ------------- </td>  
%}
                    <td><%$job->{last_duration}%></td>
                </tr>
%}
%}
            </tbody>    
        </table>
    </div>




