<%perl>
    use Baseliner::Utils;
    my $dashboards = $c->stash->{dashboards};
    my $dashboardlets = $c->stash->{dashboardlets};
</%perl>

<div id="boot" style="margin:0 auto 0 auto; width:85%;">
    
% if($dashboards){
% if(scalar @{$dashboards} > 0){
    <div class="container_24" style="padding-top:12px;padding-left:10px;">
            <div class="grid_19">&nbsp;</div>
            <div class="grid_3 btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dashboards <span class="caret"></span></button>
              <ul class="dropdown-menu">
% for my $dashboard (_array $dashboards) {
                <li><a href="javascript:Baseliner.addNewTab('/dashboard/list?dashboard_id=<% $dashboard->{id} %>', _('<% $dashboard->{name} %>') );"><% $dashboard->{name} %></a></li>
%}
              </ul>
            </div>
    </div>
%}
%}
    <div class="container_24" style="padding-top:10px;padding-left:10px;">

%if($c->stash->{is_columns}){

        <div class="grid_10" style="margin-bottom: 5px;">
% if($dashboardlets){        
% for my $dash ( sort { $a->{order} <=> $b->{order} } _array $dashboardlets ) {
% _error $dash;
% if ($dash->{order} % 2 != 0){
    <& $dash->{html} &>
% }}
        </div> 

        <div class="grid_1">&nbsp;</div>
        
        <div class="grid_11">
            
% for my $dash ( sort { $a->{order} <=> $b->{order} } _array $dashboardlets ) {
% if ($dash->{order} % 2 == 0){
    <& $dash->{html} &>
% }}            
        </div>
%}

%}else{

        <div class="grid_24" style="margin-bottom: 5px;">
% if($dashboardlets){        
% for my $dash ( sort { $a->{order} <=> $b->{order} } _array $dashboardlets ) {
    <& $dash->{html} &>
% }
        </div> 
%}

%}
    </div>
</div>
