<%perl>
    use Baseliner::Utils;
    my $dashboards = $c->stash->{dashboards};
    my $dashboardlets = $c->stash->{dashboardlets};
</%perl>

<style>
#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
}

#col1 {
    padding: 10px 10px 10px 10px;
	float:left;
	width:49%;
	position:relative;
	left:50%;

}
#col2 {
	float:left;
	width:49%;
	position:relative;
	left:51%;
}
</style>


<div id="boot" style="width:100%;">
    
% if($dashboards){
% if(scalar @{$dashboards} > 0){
            <div class="btn-group" style="float:right;margin-right:10px;">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dashboards <span class="caret"></span></button>
              <ul class="dropdown-menu">
% for my $dashboard (_array $dashboards) {
                <li><a href="javascript:Baseliner.addNewTab('/dashboard/list?dashboard_id=<% $dashboard->{id} %>', _('<% $dashboard->{name} %>') );"><% $dashboard->{name} %></a></li>
%}
              </ul>
            </div>
%}
%}
    

%if($c->stash->{is_columns}){
<table width="100%">
    <tr>
        <td width="50%" style="padding: 0 5px 0 5px">
% if($dashboardlets){        
% for my $dash ( sort { $a->{order} <=> $b->{order} } _array $dashboardlets ) {
% if ($dash->{order} % 2 != 0){
    <& $dash->{html} &>
% }}
        </td> 
        <td >&nbsp;<td>
        <td width="50%" style="padding: 0 5px 0 5px">
            
% for my $dash ( sort { $a->{order} <=> $b->{order} } _array $dashboardlets ) {
% if ($dash->{order} % 2 == 0){
    <& $dash->{html} &>
% }}            
        </td> 
%}
    </tr>
</table>
%}else{

        
% if($dashboardlets){
<div style='padding: 10px;'>
% for my $dash ( sort { $a->{order} <=> $b->{order} } _array $dashboardlets ) {

    <& $dash->{html} &>
% }
</div>         
%}

%}
    
</div>
