<%perl>
    use Baseliner::Utils;
    my $iid = Util->_md5;
    my $mid = $c->stash->{mid};
    my $namejob = $c->stash->{name_job};
    my $status_id = "status". _nowstamp;
    my $details_file_id = "details_file". _nowstamp;
    
    my $resumen = $c->stash->{summary};
    my $servicios = $c->stash->{services};
    my $contenido = $c->stash->{contents};
    my $salida = $c->stash->{outputs};
</%perl>

<div id="boot">
    <div class="container_24" style="padding-top:12px;padding-left:10px;">
        <div class="grid_24">
            <h2>Job: <%$namejob%> (<a href="javascript:Baseliner.add_tabcomp('/job/log/list?mid=<%$mid%>', _('<%$namejob%>'), { tab_icon: '/static/images/icons/moredata.gif' } );"> <% _loc('Full log') %> </a>)</h2>
        </div>

        <div class="grid_11">
            <!--######INICIO TABLA RESUMEN ###################################################################################-->
            <h3><% _loc( 'Summary' ) %></h3>
            <table class="table table-bordered table-condensed dashboard">
                <tbody>
                    <tr>
                        <td><% _loc( 'Environment') %></td>
                        <td><%$resumen->{bl}%></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'Status') %></td>
                        <td id="<% $status_id %>"><% _loc($resumen->{status}) %></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'Type') %></td>
                        <td><%_loc($resumen->{type})%></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'Start') %></td>
                        <td><%$resumen->{starttime}?$resumen->{starttime}:''%></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'End') %></td>
                        <td><%$resumen->{endtime}?$resumen->{endtime}:''%></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'Active Time') %></td>
                        <td><%$resumen->{active_time}?sprintf("%s sec.",$resumen->{active_time}):''%></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'Total Time') %></td>
                        <td><%$resumen->{execution_time}?sprintf("%.02f %s",
                            $resumen->{execution_time} < 60 ? $resumen->{execution_time} : ($resumen->{execution_time}/60), 
                            $resumen->{execution_time} < 60? 'seg.' : 'min.'):''%></td>
                    </tr>
                    <tr>
                        <td><% _loc( 'Last Step' ) %></td>
                        <td><%$resumen->{last_step}%></td>
                    </tr>
                    <tr>
                        <td><% _loc('User') %></td>
                        <td><%$resumen->{owner}%></td>
                    </tr>
                </tbody>    
            </table>
            <!--######FIN TABLA RESUMEN #######################################################################################-->
        </div>
        
        <div class="grid_1">&nbsp;</div>

        <div class="grid_12">
            <!--######INICIO TABLA CONTENIDO ###################################################################################-->
            <h3><% _loc( 'Contents') %></h3>
            <table class="table table-bordered table-condensed dashboard">
                <tbody>
<%perl>
        my @aplicaciones;
        my $tot_aplicaciones;
        if ( $contenido->{list_apps} ) {
            @aplicaciones = _array $contenido->{list_apps} || {} ;
            $tot_aplicaciones = scalar @aplicaciones;
        }
</%perl>
                    <tr>     
                        <td rowspan="<%$tot_aplicaciones%>"><b><% _loc( 'Projects') %></b></td>
%       my $first = 1;                            
%       for my $aplicacion (@aplicaciones){
%                   if ( $first ) {    
                        <td><%$aplicacion%></td>
%                       $first = 0;
%                   }
%                   else {
                        <td><%$aplicacion%></td>
%                   }                            
                    </tr>
%       }
<%perl>
            if ( $contenido->{list_changeset_cis} ) {
                my @paquetes = _array $contenido->{list_changeset_cis};
                my $tot_paquetes = scalar @paquetes;
                my $first = 1;
                for my $changeset ( @paquetes ) {
                    if ( $first ) {
</%perl>                        
                    <tr>
                        <td rowspan="<%$tot_paquetes%>"><b><% _loc( 'Changesets') %></b></td>
<%perl>
                        $first = 0;
                    }
</%perl>                            
                        <td>
                          <span id="topic_<% $changeset->{mid} %>_<% $iid %>" onclick="javascript:Baseliner.show_topic_colored('<% $changeset->{mid} %>', '<% $changeset->{category}->{name} %>', '<% $changeset->{category}->{color} %>')" style="cursor:pointer;background:'<% $changeset->{category}->{color} %>'"><a><% $changeset->{category}->{name} %> #<% $changeset->{mid} %> - <% $changeset->{title} %></a>
                          </span>
                        </td>
                    </tr>
<%perl>
                }
            } elsif ( $contenido->{list_changesets} ) {
                my @paquetes = _array $contenido->{list_changesets};
                my $tot_paquetes = scalar @paquetes;
                my $first = 1;
                for my $changeset ( @paquetes ) {
                    if ( $first ) {
</%perl>                        
                    <tr>
                        <td rowspan="<%$tot_paquetes%>"><b><% _loc( 'Changesets') %></b></td>
<%perl>
                        $first = 0;
                    }
</%perl>                            
                        <td><% $changeset %></td>
                    </tr>
<%perl>
                }
            }
</%perl>                        
                    <tr>
                        <td><b><% _loc( 'Job Items') %></b></td>
                        <td><b><a href="javascript:Baseliner.addNewTab('/job/log/elements?mid=<%$mid%>', _('Elementos <%$namejob%>'), { tab_icon: '/static/images/icons/moredata.gif' } );"><% _loc("Items") %>&nbsp;<img border=0 src='/static/images/moredata.gif'/></a></b></td>
                    </tr>
<%perl>
    my $tot_tecnologias;
    my @tecnologias = _array $contenido->{list_natures};
    $tot_tecnologias = scalar @tecnologias;
</%perl> 
                    <tr>
                        <td rowspan="<%$tot_tecnologias%>"><b><% _loc( 'Natures') %></b></td>
%   for my $tecnologia ( @tecnologias ){
                        <td>
                            <%$tecnologia%><br>
                        </td>
                    </tr>
%}
                </tbody>    
            </table>
            <!--######FIN TABLA CONTENIDO #######################################################################################-->
        </div>        

        
        <div class="clear"></div>
        
        <div class="grid_11">
            <!--######INICIO TABLA EJECUCION ##################################################################################-->
            <h3><% _loc( 'Run Summary') %></h3>
            <table class="table table-bordered table-condensed dashboard">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th><% _loc( 'Service') %></th>
                        <th><% _loc( 'Status') %></th>
                        <th><% _loc( 'Active Time') %></th>
                    </tr>
                </thead>
                <tbody>
<%perl>
    my @steps = ( 'CHECK', 'INIT', 'PRE', 'RUN', 'POST', 'END' );
    my $colors = { Success => '#00BB00', Warning => '#E0B500', Error => '#BB0000'};
    for my $step ( @steps ) {
        if ( $servicios->{$step} ) {
            my @services = grep { !( $_->{service} ~~ @steps ) } _array $servicios->{$step};  # grep out PRE, INIT, ... from the IFs TODO put a better if
            my $tot_services = scalar @services;
            my $first = 1;
            SERVICE: for my $service ( @services ) {
                if ( $first ) {
</%perl>
                    <tr>
                        <td class="section-paso" rowspan="<%$tot_services%>"><% $step %></td>
<%perl>
                    $first = 0;
                }
</%perl>
                        <td class="datos"><b><a href="javascript:Baseliner.addNewTabComp('/job/log/list?mid=<%$mid%>&service_name=<%$service->{service}%>', _('Log <%$service->{service}%>'), { tab_icon: '/static/images/icons/moredata.gif' } );"><% $service->{description} || $service->{service} %></a></b></td>
                        <td class="datos" style="color:<% $colors->{$service->{status}} %>;"><b><% _loc($service->{status}) %></b></td>
                        <td class="datos"><b><% $resumen->{services_time}->{$step."#".$service->{service}}." sec" %></b></td>

                    </tr>
<%perl>
            }
        }
    }
</%perl>
                </tbody>    
            </table>
            <!--######FIN TABLA EJECUCION ##################################################################################-->
        </div>

        <div class="grid_1">&nbsp;</div>
    
        <div class="grid_12">
            <!--######INICIO TABLA SALIDA ###################################################################################-->
            <h3><% _loc( 'Output') %></h3>
            <script language="javascript">
                var onemeg = 1024 * 1024;
                function file(obj, td_id) {
                        var ret="";
                        var xdatalen = obj.datalen;
                        var datalen='';
                        if( xdatalen > 4096 ) {
                            if( xdatalen >= onemeg ) {
                               datalen = Math.round( (xdatalen/onemeg) * 10) / 10;
                               datalen += 'MB';
                            } else {
                               datalen = Math.round( (xdatalen/1024) * 10) / 10;
                               datalen += 'KB';
                            }
                        }
                    
                        if( obj.more=='jes' ) {
                            ret += "<a href='#' onclick='javascript:Baseliner.addNewTabComp(\"/job/log/jesSpool?id=" + obj.id + "&job=" + rec.data.job +"\");'><img border=0 src='/static/images/mainframe.png' /></a> ";
                        } else if( obj.more=='link'  ) {
                            //Ojo con obj.data en este caso, verificar.++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                            ret += String.format("<a href='{0}' target='_blank'><img src='/static/images/icons/link.gif'</a>", obj.link );
                        } else if( obj.more!='' && obj.more!=undefined && obj.data ) {
                            var img;
                            if( obj.more=='zip' ) {
                               img = '/static/images/icons/mime/file_extension_zip.png';
                            } else {
                               img = '/static/images/download.gif';
                        } 
                            ret += "<a href='/job/log/download_data?id=" + obj.id + "' target='FrameDownload'><img border=0 src="+img+" /></a> " + datalen ;
                        } else {
                            if( obj.more!='file' && obj.data && xdatalen < 250000 ) {  // 250Ks max
                                var data_name = obj.data_name;
                                if( data_name==undefined || data_name.length<1 ) {
                                   data_name = "Log Data " + obj.id;
                                }
                                ret += "<a href='#' onclick='javascript:Baseliner.addNewTabSearch(\"/job/log/data?id=" + obj.id + "\",\""+data_name+"\"); return false;'><img border=0 src='/static/images/moredata.gif'/></a> " + datalen ;
                            }
                            else if( obj.file!=undefined && obj.file!='' && obj.data ) { // alternative file
                                ret += "<a href='/job/log/highlight/" + obj.id + "' target='_blank'><img border=0 src='/static/images/silk/page_new.gif'></a> "
                                ret += "&nbsp;<a href='/job/log/download_data?id=" + obj.id + "&file_name=" + obj.file + "' target='FrameDownload'><img border=0 src='/static/images/download.gif'/></a> " + datalen ;
                            }
                        }
                        var td_details_file = document.getElementById(td_id);
                        td_details_file.innerHTML = ret || '&nbsp';;
                };
            </script>
                
            <table class="table table-bordered table-condensed dashboard">
                <thead>
                    <tr>
                        <th colspan="2"><% _loc( 'Artifacts') %></th>
                    </tr>
                </thead>                
                <tbody>
<%perl>
    my @ficheros = _array $salida->{outputs};
    my $data;
    my $row = 0;
    if ( !@ficheros ) {
</%perl>
                <tr>
                    <td colspan="2" style="text-align:center;"><% _loc( 'No artifacts found') %></td>
                </tr>
<%perl>
    } else {
        for my $fichero (@ficheros){
            $row = $row + 1;
            if ($fichero->{more}->{data}){
                $data = 1;
</%perl>
                    <tr>     
                        <td class="datos"><%$fichero->{more}->{data_name} || $fichero->{more}->{file} %></td>
                        <td class="link" id="row<%$row%>_<%$details_file_id%>" width="25%">&nbsp;</td>
                    </tr>
                    <script language="javascript">
                        var details_file = new Object();
                        details_file.id = <%$fichero->{id}%>;
                        details_file.data_name = '<%$fichero->{data_name}%>';
                        details_file.datalen = <%$fichero->{datalen}%>;
                        details_file.more = '<%$fichero->{more}->{more}%>';
                        details_file.data = <%$data%>;
                        details_file.file = '<%$fichero->{more}->{file}%>';
                        details_file.link = '<%$fichero->{more}->{link}%>';
                        file(details_file, 'row<%$row%>_<%$details_file_id%>');
                    </script>                        
<%perl>                        
            }
        }
    }
</%perl>                        
                </tbody>    
            </table>
            <!--######FIN TABLA SALIDA #######################################################################################-->

        </div>
    </div>
</div>


<script language="javascript">
    function render_level ( ) {
        var icon;
	    var bold = false;
	    var status = "<% $resumen->{status} %>";
	    var type   = '<% $resumen->{type} %>';
	    var rollback = '<% $resumen->{rollback} %>';
	    var div1   = '<div style="white-space:normal !important;">';
        var div2   = '</div>';
        if( status=='RUNNING' ) { icon='gears.gif'; bold=true }
        else if( status=='READY' ) icon='waiting.png';
        else if( status=='APPROVAL' ) icon='verify.gif';
        else if( status=='FINISHED' && rollback!=1 ) { icon='log_i.png'; bold=true; }
        else if( status=='IN-EDIT' ) icon='log_w.png';
        else if( status=='CANCELLED' ) icon='close.png';
        else { icon='log_e.png'; bold=true; }
        var value = (bold?'<b><% _loc($resumen->{status}) %></b>':'<% _loc($resumen->{status}) %>');

        // Rollback?
        if( status == 'FINISHED' && rollback == 1 )  {
            value = ' <% _loc("Rollback OK") %>';
            icon = 'log_i.png';
        }
        else if( status == 'ERROR' && rollback == 1 )  {
            value = ' <% _loc("Rollback Failed") %>';
             icon = 'log_e.png';
        }
        //else if( type == 'demote' || type == 'rollback' ) value += ' ' + _('(Rollback)');
	    if( status == 'APPROVAL' ) { // add a link to the approval main
		    //value = '<a href="javascript:Baseliner.addNewTabComp(' + '"/request/main", '<% _loc("Approvals") %>, value ); 
		    value = String.format("<a href='javascript:Baseliner.addNewTabComp(\"{0}\", \"{1}\");'>{2}</a>", "/request/main", <% _loc('Approvals') %>, status ); 
	    }
        //alert(icon);
	    var tdStatus = document.getElementById('<% $status_id %>');
        if( icon!=undefined ) {
            tdStatus.innerHTML = div1 
                + "<img alt='"+status+"' style='vertical-align:middle' border=0 src='/static/images/icons/"+icon+"' />"
                + value + div2 ;
        } else {
            tdStatus.innerHTML = value;
        }
    };
    render_level();
</script>
