@import "/static/ext/resources/css/xtheme-gray.css";
/*  Job Log Grid Rows */

.icon-inbox {
    background-image: url(/static/images/icons/envelope.png) !important;
}

.level-row .x-grid3-cell-inner{
    /* height: 25px; */
    vertical-align: middle;
    color:black;
}

.x-grid-group-title {
    text-transform: uppercase !important;
    font-family: Calibri, OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: normal !important;
    font-size: 11px !important;
    color: #777 !important;
}

.x-grid-group-hd {
    /* background-image: url(/static/images/yellow-grad.gif) !important; */
    /* background: #B6C6B9 url(/static/images/section-grad-green.jpg) repeat-x; */
    /* background: #B5AA8A url(/static/images/section-grad-brown.jpg) repeat-x;  */
    /* background: #FFFFFF url(/static/images/section-grad.gif) repeat-x;  */
	/* background: #EDD05E !important; */
	background: #fbfbfb !important;
	
}
.x-grid-group-hd div {
	/* color: #151010; */
}

.x-form-readonly .x-form-text{
background: #FF0000 !important;
}

/* overwrite standard row select ugly gray color */
.x-grid3-row-selected {
    background-color: #DFE8F6 !important;
}

/* .x-grid3-row-selected .x-grid3-cell-inner { */
.x-grid3-row-selected-white {
    background: #f5f5f5 !important;
}

.x-grid3-row-selected-yellow {
    background: #FFF09A !important;
}

.nowrapgrid .x-grid3-cell-inner {
  white-space: normal;
} 
/*   Full grid word-wrap 

.x-grid3-cell-inner, .x-grid3-hd-inner { white-space:normal !important; }

.x-grid3-cell-inner {
white-space : normal;
font-weight : normal;
}

td.x-grid3-td-<'''wordwrapped'''> {
    overflow: hidden;
}
td.x-grid3-td-<'''wordwrapped'''> div.x-grid3-cell-inner {
    white-space: normal;
}

*/

.config-row-modified td { font-weight: bold; }
.config-row-not-found td { font-weight: bold; color: #900010; }

.info-odd { background-color: #BFCDD5;}
.info-even { background-color: #CED6DC; }

.warn-odd { background-color: #F5E8AE; }
.warn-even { background-color: #F0EBD1; }

.error-odd { background-color: #EDA69E; }
.error-even { background-color: #EDB8B2; }

.debug-odd { background-color: #D7E1DB; }
.debug-even { background-color: #CADBD0; }

/* .info-odd { background-color: #A0B5C5; }
.info-even { background-color: #BBCBD5; }

.warn-odd { background-color: #f5e289; }
.warn-even { background-color: #faf0c0; }

.error-odd { background-color: #ed887c; }
.error-even { background-color: #f3b0a9; }

.debug-odd { background-color: #A5CCB3; }
.debug-even { background-color: #B2DBC0; }

*/ 


