<%args>
    $meta
    $data
</%args>
% my $d = $data->{ $meta->{id_field} };
% my @rows = _array( $data->{$meta->{id_field}} );
    <tr>
        <th><h5 style="border-bottom: 1px solid #bbb; margin-top: 15px"><% _loc($meta->{name_field}) %>:</h5></th>
    </tr>
    <tr>
      <td style="<% $meta->{framed} and 'text-transform: uppercase; font-size: 10px; font-weight:bold; background-color: #eee; text-align: center' %>" >
% if( @rows ) { 
          <table class="table table-bordered" style="margin-top: 10px; width: 100%">
              <tbody>
% foreach my $ci ( map { _ci($_) } @rows ) {
<tr>
    <td width=32><img src="<% $ci->icon %>" /></td>
    <td style="font: 12px Consolas,Courier New,monotype;"><% $ci->name %></td>
    <td width="1">v<% $ci->versionid %></td>
    <td width="1"><% $ci->collection %></td>
</tr>
% }
              </tbody>
          </table>
      </td>
    </tr>
% } else { # if 
    <tr>
        <td colspan="2"><% _loc( 'None' ) %></td>
    </tr>
% }

