<%args>
    $meta
    $data
</%args>
% if( !($meta->{hidden}+0) ) {
    <tr>
        <th colspan="2" style="padding: 10px 0 10px 0"><h5 style="border-bottom: 1px solid #bbb"><% _loc($meta->{name_field}) %></h5></th>
    </tr>
% }     
<%perl>
    my $json = $data->{$meta->{bd_field}} ;
    
    my $ix = 0;
    my $cols = ref $meta->{columns} ? $meta->{columns} : do {
        [ map { [ split /,/ ] } split /;/, $meta->{columns} ]
    };
    
    if( !$meta->{hidden} && length $json ) {
        my $d = ref $json 
            ? $json 
            : do {
                    $json = Encode::encode('UTF-8', $json);
                    Util->_from_json( $json ); 
                };
        my @rows = Util->_array( $d );
        my @head = map { 
            my ($name,$key) = $_->[0] =~ /^([^\[]+)\[([^\]]+)\]/ ;
            if( !length $name ) {
                $name = $_->[0];
                $key = _name_to_id($name);
            }
            +{ key=>$key, name=>$name, width=>$_->[2], type=>$_->[1] }  
        } @$cols; 
        @head = map { 
            +{ key=>$_, name=>$_ } 
        } keys %{ $rows[0] || {} }
            if ! @head;
        
        my $now = Class::Date->now;
        my $df = _loc('class_date_format');
        local $Class::Date::DATE_FORMAT=$df eq 'class_date_format' ? "%Y-%m-%d" : $df; 
        
        @rows = map {
            my $r= $_;
            my ($sd,$ed,$psd,$ped) = @{ $r }{qw/start_date end_date plan_start_date plan_end_date/}; 
            if( defined $ped && $now>$ped && !defined $ed ) {
                $r->{end_date} = \'<img src="/static/images/icons/error.png" />' ;
                $r->{overdue} = 1;
            }
            $r;
        } @rows;
</%perl>
    <tr>
      <td style="<% $meta->{framed} and 'text-transform: uppercase; font-size: 10px; font-weight:bold; background-color: #eee; text-align: center' %>" >
     
% if( @rows && scalar @rows > 0 ) {
          <table class="table table-bordered" style="margin-top: 10px; width: 100%">
              <thead>
                <tr>
% foreach my $h ( @head ) {
                    <th width="<% $$h{width} %>"><% _loc( $$h{name} ) %></th>
% }
                </tr>
              </thead>
              <tbody>
% foreach my $row ( @rows ) {
                <tr>
% foreach my $h ( @head  ) {
%    my $val = $row->{ $$h{key} };
<td style="font-size: <% $meta->{td_font_size} // 12 %>px" class="fieldlet-html"><% 
                            $$h{type} =~ /checkbox|cbox/ 
                                ? ( !$val || $val eq 'false' ? '<img src="/static/images/icons/cancel.png">' : '<img src="/static/images/icons/checkbox.png">')
                            : $$h{type} eq 'index' 
                                ? ++$ix
                            : $$h{type} eq 'datefield' 
                                ? do{ 
                                    if( ref $val eq 'SCALAR' ) {
                                        ${ $val };
                                    } elsif( length $val ) {
                                        my $cd = Class::Date->new( $val ) + (86399);
                                        if ( $cd ) {
                                            my $st = $row->{overdue} ? 'color: #f34' : '';
                                            my $wd = $cd->wdayname;
                                            $wd = Encode::decode('UTF-8', $wd);
                                            _loc($wd) . " " . $cd->string . " - <span style='$st;font-weight: bold'>" . Util->ago( $cd ) . '</span>';
                                        } else {
                                            $val;
                                        }
                                    } else {
                                        $val
                                    }
                                  } 
                                : Util->_markdown($val, { tab_width=>2 })
                        %></td>
% }
                </tr>
% }
              </tbody>
          </table>
      </td>
    </tr>
% } # if 
% else { 
    <tr>
        <td colspan="2"><% _loc( 'None' ) %></td>
    </tr>
% }}# if json
