<%args>
    $meta
    $data
</%args>
<%perl>
    my %opts = map { my @a = split/,/; $a[0] => $a[1] // '#2980B9' } 
        split /;/, $meta->{options};
    my $val = $data->{$meta->{display_field}}  || $data->{$meta->{bd_field}};
</%perl>
% if( defined $val && !($meta->{hidden}+0) ) {
    <tr>
      <th><% _loc($meta->{name_field}) %>:</th>
      <td> 
         <span class="badge" style="font-size: 12px; color: #fff; background-color: <% $opts{$val} %>" >
                <% _loc( _array($val)[0] ) %>
         </span></td>
    </tr>
% }

