<%args>
    $meta
    $data
</%args>
<%perl>
    my $val = length( $data->{ $meta->{id_field} } ) && $meta->{id_field} ne 'status_new' 
        ? $data->{ $meta->{id_field} }
        : length( $data->{ $meta->{display_field} } ) 
            ? $data->{ $meta->{display_field} }
            : "";
    $val = join( ',', @$val ) if ref $val eq 'ARRAY';
    my $hidden = $meta->{hidden} eq '0' ? 0 : 1;
</%perl>
% if( length($val) && not $hidden ) {  # This is the 'Status' right column field:
    <tr>
      <th width="50%"><% _loc($meta->{name_field}) %>:</th>
      <td 
          class="fieldlet-html"
          style="<% $meta->{framed} and 'text-transform: uppercase; font-size: 10px; font-weight:bold; background-color: #eee; text-align: center' %>" width="50%">
          <% is_number($val)?$val:_loc( $val ) %></td>
    </tr>
% }
