<%args>
    $meta
    $data
</%args>
<%perl>
    use Baseliner::Utils;
    my $graph_id = "graph1". _nowstamp;
    my $filter_category = $meta->{filter_category} || '';
    my $depth = $meta->{depth} || 1;
    
    my @topics = _array(ci->new($data->{topic_mid})->children( where => { collection => 'topic'}, depth => $depth ));

    @topics = grep { $_->{name_category} eq $filter_category} @topics if $filter_category;

    @topics = map { $_->{mid} } @topics;

                # $c->model( 'Baseliner::BaliTopic' )->search(
                #         {
                #             rel_type => 'topic_topic',
                #             from_mid => $data->{topic_mid},
                #         },
                #         {
                #             join => [ 'parents', 'master' ],
                #             select => [ 'mid' ],
                #             as => [ 'mid' ]
                #         }
                # )->hashref->all;     
    
    
    my @topics_by_status = DB->BaliTopic->search(
                        {mid => \@topics},
                        {
                          join     => [qw/ status /],
                          select   => [ 'status.name', { count => 'status.id' }, 'status.color','status.id' ],
                          as       => [qw/ status total color status_id /],
                          group_by => [qw/ status.name status.color status.id /]
                        }
    )->hashref->all;
    
    my @filter_topics_by_status;
    my @filter_status_names =  map {lc ($_)} split(',', $meta->{filter});
    
    if(@filter_status_names){
        my %status_names;
        map {$status_names{lc ($_)} = 1 } @filter_status_names;
        
        @filter_topics_by_status = grep { exists $status_names{lc($_->{status})}} @topics_by_status ;
        my @others_topics_by_status = grep { !exists $status_names{lc($_->{status})}} @topics_by_status ;
        
        my $others_total;
        my @others_id;
        my $others_id;
        
        map {
            $others_total += $_->{total};
            push @others_id, $_->{status_id};
        
        } @others_topics_by_status;
        
        $others_id = join ',', @others_id;
        push @filter_topics_by_status, { color => '#FF9933', status => 'Others', status_id => $others_id, total => $others_total};
    }
    else{
        @filter_topics_by_status = @topics_by_status;
    }
    
</%perl>

% if(@filter_topics_by_status){
	<div id='boot' style="clear:left;" >
		<b><%$meta->{name_field}%></b><br>
		<div id="<%$graph_id%>" 
			style="width: 150px; height: 150px; float: left; " 
			onmouseout="document.body.style.cursor='default';"></div>
		<div id="<%$graph_id%>legend" ></div>
	</div>
    <div style="clear:left;" ></div>


<script type="text/javascript">
    $(function () {
    var data = new Array();
    var status_id = new Array();

%foreach my $topic (_array @filter_topics_by_status){
        data.push({ label: "<% _loc($topic->{status}) %>", status_id: "<%$topic->{status_id}%>", color:"<%$topic->{color}%>", data: [[1,<%$topic->{total}%>]]});
        status_id["<% _loc($topic->{status}) %>"] = '<%$topic->{status_id}%>';
%}

        // DEFAULT
        $.plot($("#<%$graph_id%>"), data, 
        {
            series: {
                status_id: status_id,
                pie: {
                    show: true,
                    radius: 0.9,
                    tilt: 0.7,
                    label: {
                        show: false,
                        radius: 0.5,
                        formatter: function(label, series){
                            return '<div style="font-size:8pt;color:white;margin-left:-5px">'+Math.round(series.percent)+'%</div>';
                        },
                        background: { opacity: 0 },
                        threshold: 0.03
                    }
                }
            },
            legend: {
                show: true,
                container: '#<%$graph_id%>legend'

            },
            grid: {
                hoverable: true,
                clickable: true
            }        
        });
        $("#<%$graph_id%>").bind("plothover", pieHover);
        $("#<%$graph_id%>").bind("plotclick", pieClick);    
    });

    function pieHover(event, pos, obj) 
    {
        if (!obj)
                    return;
        document.body.style.cursor='pointer';
    }

    function pieClick(event, pos, obj) 
    {
        if (!obj)
                    return;
                
        var topic_list = new Array();
        
%foreach my $mid (@topics){
    topic_list.push(<% $mid %>);
%}                   
               
        var name = Baseliner.topic_title( '<%$data->{topic_mid}%>', '<% $data->{name_category} %>', '<% $data->{color_category} %>', true); //, literal_only, id) {        
          
        var title_status = '<div id="boot" style="background:transparent;height:14px"><span class="label" style="background-color:' + obj.series.color  + '">' + name + ' &#10145; ' + obj.series.label + '</span></div>';
        //Baseliner.addNewTabComp('/topic/grid?status_id=' + obj.series.status_id[obj.series.label] + '&release=<%$data->{topic_mid}%>', _(title_status));
        Baseliner.add_tabcomp('/comp/topic/topic_grid.js', title_status , { status_id: obj.series.status_id[obj.series.label] , topic_list: topic_list });
    }
</script>

%}


