<%args>
    $meta
    $data
</%args>
<%perl>
    my @status_changes = Baseliner->model('Topic')->status_changes( $data );
</%perl>
% if( !$meta->{hidden}  ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc( $meta->{id_field} )  %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
      <table class="table table-bordered table-condensed">
      <tbody>
% for my $ch ( grep { $_->{old_status} ne $_->{status}} @status_changes ) {
         <tr>
             <td style="font: 13px OpenSans, Lato, Calibri, Tahoma; background-color: #fff; color: #111; " title="<% $ch->{username}  %>"><% Util->ago( $ch->{when} )  %></td>
             <!-- <td><img style="margin: 0px 5px 2px 0px" width=16 src="/user/avatar/<% $ch->{username} %>/image.png" /><% $ch->{username}  %></td> -->
             <!--<td><% $ch->{username}  %></td>-->
             <td class="status-html" style="font-size: 10px; font-weight: bold"><% $ch->{old_status}  %></td>
             <td>-</td>
             <!-- <td><img src="/static/images/icons/right-arrow.png"></td> -->
             <td class="status-html" style="font-size: 10px; font-weight: bold"><% $ch->{status}  %></td>
         </tr>
% }
         <tr>
             <td style="font: 13px OpenSans, Lato, Calibri, Tahoma; background-color: #fff; color: #111;" title="<% $ch->{username}  %>"><% Util->ago( $data->{created_on_epoch} )   %></td>
             <!-- <td><img style="margin: 0px 5px 2px 0px" width=16 src="/user/avatar/<% $data->{created_by} %>/image.png" /><% $data->{created_by}  %></td> -->
             <!--<td><% $data->{created_by}  %></td>-->
             <td colspan=3 class="status-html" style="font-size: 10px; font-weight: bold"><% _loc('Created') %></td>
        </tr>

      </tbody>
      </table>
    </ul>
% }

