<%args>
    $meta
    $data
</%args>
<%perl>
    use Baseliner::Utils;
    my $graph_id = "graph1". _nowstamp;
    
    my $topics = $c->model( 'Baseliner::BaliTopic' )->search(
        {
            rel_type => 'topic_topic',
            from_mid => $data->{topic_mid},
        },
        {
            join => [ 'parents', 'master' ],
            select => [ 'mid' ],
            as => [ 'mid' ]
        }
    )->as_query;    
    
    my @topics_by_status = DB->BaliTopic->search(
                        {mid => { -in => $topics }},
                        {
                          join     => [qw/ status /],
                          select   => [ 'status.name', { count => 'status.id' }, 'status.color','status.id' ],
                          as       => [qw/ status total color status_id /],
                          group_by => [qw/ status.name status.color status.id /]
                        }
    )->hashref->all;
    
</%perl>

% if(@topics_by_status){
	<div id="principal" style="clear:left;" >
		<h2><%$meta->{name_field}%></h2><br>
		<div id="<%$graph_id%>" 
			style="width: 250px; height: 250px; float: left; " 
			onmouseout="document.body.style.cursor='default';"></div>
		<div id="<%$graph_id%>legend" ></div>
	</div>



<script type="text/javascript">
    $(function () {
    var data = new Array();
    var status_id = new Array();

%foreach my $topic (_array @topics_by_status){
        data.push({ label: "<% _loc($topic->{status}) %>", status_id: "<%$topic->{status_id}%>", color:"<%$topic->{color}%>", data: [[1,<%$topic->{total}%>]]});
        status_id["<%$topic->{status}%>"] = <%$topic->{status_id}%>;
%}

        // DEFAULT
        $.plot($("#<%$graph_id%>"), data, 
        {
            series: {
                status_id: status_id,
                pie: {
                    show: true,
                    radius: 0.9,
                    tilt: 0.7,
                    label: {
                        show: true,
                        radius: 3/4,
                        formatter: function(label, series){
                            return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+Math.round(series.percent)+'%</div>';
                        },
                        background: { opacity: 0 },
                        threshold: 0.03
                    }
                }
            },
            legend: {
                show: true,
                container: '#<%$graph_id%>legend'

            },
            grid: {
                hoverable: true,
                clickable: true
            }        
        });
        $("#<%$graph_id%>").bind("plothover", pieHover);
        $("#<%$graph_id%>").bind("plotclick", pieClick);    
    });

    function pieHover(event, pos, obj) 
    {
        if (!obj)
                    return;
        document.body.style.cursor='pointer';
    }

    function pieClick(event, pos, obj) 
    {
        if (!obj)
                    return;
        var title_status = '<div id="boot" style="background:transparent;height:14px"><span class="label" style="background-color:' + obj.series.color  + '">' + obj.series.label + '</span></div>';
        Baseliner.addNewTabComp('/topic/grid?status_id=' + obj.series.status_id[obj.series.label], _(title_status));
    }
</script>

%}


