<%args>
    $meta
    $data
</%args>

% if( _array( $data->{$meta->{id_field}} ) ) {
    <ul class="nav nav-list">
        <li class="nav-header">
            <% _loc( $meta->{id_field} ) %>
        </li>
    </ul>
    <ul class="" style="margin-left: 20px">
% foreach my $file ( _array( $data->{ $meta->{id_field} } ) ) {
%   my $fii = $data->{ii} . '_' . $file->{md5};
%   my $target = $file->{extension} =~ /pdf|htm|html|txt|properties/i ? '_blank' : 'FrameDownload';  # download or try to show on next tab?
%   my ($size,$units) = Baseliner::Utils::_size_unit( $file->{filesize} );
        <li id="<% $fii %>">
            <table>
                <tr>
                    <td style="border:0"><i class="icon-file"></i></td>
                    <td class="bl-text-over"  style="border:0"><div class="bl-text-over" style="width:200px" title="<% Baseliner::Utils::_html_escape( $file->{filename} ) %>"><a href="/topic/download_file/<% $file->{md5} %>/<% $file->{filename} %>" target="<% $target %>">
                        <% Baseliner::Utils::_html_escape( $file->{filename} ) %>
                    </a></div></td>
                    <td  style="border:0">(<% $size %> <% $units %>) version <% $file->{versionid} %></td>
                </tr>
             </table>
        </li>
% }
    </ul>
% }

